[2018-09-19 01:41] sansae commented on #643
Hello @thinkingserious

I think that perhaps something happened to my sendgrid account as well. I signed up for a sendgrid account yesterday, then I implemented sendgrid into my project locally, and was able to send an email to my gmail account.

I then followed sendgrid instructions for adding sendgrid as an addon to my heroku app. It turned out that I could not send emails in production unless I

[2018-09-19 09:32] AhmadRaza786 commented on #739
Hello @thinkingserious , Exactly this is what I am asking for. Currently, SendGrid is not verifying that the target email is exist or not. It must take care of this verification. And I am ready to contribute in SendGrid for it.

[2018-09-19 17:43] hyperpress opened #743 "Support for ESM Import/Exports for NodeJS"
#### Issue Summary

I'm working on a ES6 project using lit-element, and need to add a contact form to it connected to our SendGrid account API. Attempted to add a ES Module Import statement, but it appears that the current release does not support it.

#### Steps to Reproduce

1. `npm i @sendgrid/mail`
2. Exported .env with API key.
3. `import {MailService} from '@sendgrid/mail'`
[code]
**Error re

[2018-09-19 17:50] carloshmm opened #744 "How to enable tracking settings?"
Hello, I just started using this SDK and I saw on the USE CASES file: https://github.com/sendgrid/sendgrid-nodejs/blob/master/packages/mail/USE_CASES.md#kitchen-sink---an-example-with-all-settings-used

That there is an object called "trackingSettings", but on this file there is no example on how to use it:

Can someone give me some tip on how to configure this object to get "Open" and "Click" eve

[2018-09-19 18:22] coredomain opened #745 "Dynamic Content Template. Substitution do not show up."
**Please help**
I'm not using any library. I'm making a post requests directly to your API. The email shows up without the replacement.

This my html
<br>
<p>Email Send By {{ **dynamicTemplateData.portalsender** }}</p>

My JSON Call dynamicTemplateData with camel case
https://api.sendgrid.com/v3/mail/send

{
  "personalizations": [
    {
      "to": [
        {
          "email": "asfsfsf@asdfasf.

[2018-09-19 18:32] kylearoberts commented on #745
Hey @coredomain

It is best to bring things like this to support so they can look at your account and the specific data around what you are doing. To solve issues like these we have to look at the template in your account and check the data you are passing. You can hit up the support team [here](https://support.sendgrid.com/).

[2018-09-19 21:50] carloshmm commented on #744
[code]
Done.

[2018-09-19 21:50] #744 closed

[2018-09-20 01:49] kael-shipman commented on #703
Hey cool, thanks :D

On Tue, Sep 18, 2018 at 6:09 PM Elmer Thomas <notifications@github.com>
wrote:

[2018-09-20 21:10] RayKahn opened #746 "sendGrid no longer sends emails"
#### Issue Summary

sendGrid has stopped working today. Nothing has changed on our end, but for some reason the following code no longer works:
[code]
No error is thrown by sendGrid. This same code was working until Sept 19, 2018.

#### Technical details:

* @sendgrid/mail@6.3.1
* Node.js v8.11.2

[2018-09-23 00:56] DakshMiglani commented on #732
Yea, so I was running my emailing service on kubernetes which was also supplying it the sendgrid key via secrets, But I didn't realise that it was also adding a '\n' character to it.

That's why later, when I checked the sendgrid api key, it looked like:
"SG_SOME-KEY-HERE\n".

So I stripped that newline character and boom it started working.

[2018-09-23 14:46] codmajik opened #747 "logic bug in dynamic template substitution"
#### Issue Summary
Passing dynamic or substitution wont work for dynamic templates because of the logic bug found here

https://github.com/sendgrid/sendgrid-nodejs/blob/0c83ae9a7151f466383df35a897a3426c5cdb06b/packages/helpers/classes/mail.js#L243-L247

after 2 days trying to find why substitution is failing I decided to look in the code.

The current work-around is to supply both `substitutions`

[2018-09-26 18:35] gitforumguy opened #748 "npm install fails"
#### Issue Summary

I am trying to setup a node project that uses sendgrid to send emails. Unsuccessful at the very first step.

#### Steps to Reproduce

npm install --save @sendgrid/mail   or  npm install --save @sendgrid/mail@6.3.1

#### Technical details:

* sendgrid-nodejs Version: master (latest commit: [commit number])
* Node.js Version: 8.9.1
* Error Info :
    code E404
   npm ERR! 404 Not

[2018-09-26 20:17] gitforumguy commented on #748
Found out why it was not working. Had to setup config properly.

[2018-09-26 20:17] #748 closed

[2018-09-28 01:57] thinkingserious commented on #680
@goelmk,

[Here](https://github.com/sendgrid/sendgrid-nodejs/blob/master/packages/mail/USE_CASES.md#transactional-templates) is a full example. Thanks!

With Best Regards,

Elmer

[2018-09-28 01:59] thinkingserious commented on #737
Hello @mevillep,

Please reach out to our [support team](https://support.sendgrid.com) for further assistance.

Thanks!

With Best Regards,

Elmer

[2018-09-28 01:59] #737 closed

[2018-09-28 03:09] thinkingserious commented on #743
Hello @hyperpress,

The officially supported usage is documented [here](https://github.com/sendgrid/sendgrid-nodejs/tree/master/packages/mail).

I've added your request to our backlog for further investigation.

If you have any other information that could help us add support for this functionality, please let us know.

Thanks!

With Best Regards,

Elmer

[2018-09-28 03:20] #745 closed, assigned to nobody

[2018-09-28 03:33] thinkingserious commented on #732
Thanks @DakshMiglani! Hopefully your solution will help others experiencing the same issue.

Would you mind adding a PR to our TROUBLESHOOTING.md?

[2018-09-28 03:37] thinkingserious commented on #747
Hello @codmajik,

Thanks for reporting this! I've added this to our backlog for further investigation.

With Best Regards,

Elmer

[2018-09-28 09:14] raine commented on #688
It appears that using "Design Editor" mode templates is not possible with the handlebars strategy mentioned above. If one wants to have multiple templates for different use cases with at least two different languages, are you supposed to be copy pasting the template code to each template when the general layout is changed? Why isn't there a way to have a top level shareable layouts?

[2018-09-28 12:34] raine commented on #729
Above poster is correct. There is a bug either in the library code or typescript definitions.

[code]

This would suggest that you can pass `dynamicTemplateData` as a value in `PersonalizationData`, but it has to actually be snake case, `dynamic_template_data`.

[2018-09-28 13:57] kylearoberts commented on #688
Hello @raine

You are correct the specific design of the language template found [here](https://github.com/sendgrid/email-templates/blob/master/dynamic-templates/different-languages/different_languages.html) was not designed to work in the "Design Editor" mode. You could still create something similar in the "Design Editor" using a Code Module.

This is actually something that has been brought up

[2018-09-29 18:18] dalepo opened #750 "Image url not being rendered in dynamic template"
#### Issue Summary

I'm trying to send an image url into a dynamic template. I have something like this
Template:
[code]
Node
[code]
When the email is received, the image tag does not have the src property (it prints the user just fine), I don't know why. I need to make this with dynamic urls.
#### Steps to Reproduce

1 Create a transactional template with code editor
2 Create an img tag such as <

[2018-09-29 18:37] dalepo commented on #750
I'm closing this since I had my "Don't display images" on my gmail account. I apologize. It is working as intended

[2018-09-29 18:37] #750 closed

[2018-09-30 06:54] hnobi commented on #652
@thinkingserious I got the 202 status code but the emails i sent it to didn't receive mail. please help me out. am new to programming

[2018-10-01 04:40] Bharat123rox opened #752 "A link to the online CLA must be created"
#### Issue Summary

A link to the online version of the CLA was created in README.md using PR #751

A link to the online version of the CLA was missing, and has been added.

[2018-10-01 15:29] N140191 opened #753 "Sendgrid"
#### Issue Summary

A summary of the issue and the environment in which it occurs. If suitable, include the steps required to reproduce the bug. Please feel free to include screenshots, screencasts, code examples.

#### Steps to Reproduce

1. This is the first step
2. This is the second step
3. Further steps, etc.

Any other information you want to share that is relevant to the issue being reporte

[2018-10-01 15:48] aroach commented on #753
Hi, it looks like maybe you omitted what problem you are experiencing in this issue?

[2018-10-01 15:51] #753 closed

[2018-10-02 03:09] mateoholman commented on #747
Hello, I'd love to take on this one if no one is currently working on it?

[2018-10-02 04:57] thinkingserious opened #755 "Update integration tests to utilize StopLight.io's Prism version v2.X"
#### Issue Summary

We use a mock server for integration/contract testing that is driven by our OpenAPI specification and StopLight.io's Prism service. The service is spun up utilizing the prism.sh script in this repo.

Before writing any code, we suggest you review our `CONTRIBUTING.md` file and propose your solution for discussion here in the comments. Thank you!

#### Aceptance Criteria

* we a

[2018-10-02 05:01] thinkingserious opened #756 "Create helper methods for the /contactdb endpoint"
#### Issue Summary

Please see `USE_CASES.md` for current example of existing helper methods.

You may find simple example code for all of the `/contactdb` endpoint functionality in the `USAGE.md` file under `CONTACTDB` in the Table of Contents. Complete interactive documentation can be found [here](https://sendgrid.com/docs/API_Reference/api_v3.html).

Before writing any code, we suggest you revi

[2018-10-02 14:46] duncanleung commented on #740
I’d like to try take this on!

[2018-10-02 19:10] OrthoDex commented on #658
Hi @thinkingserious! Can I take this up?

[2018-10-02 20:44] thinkingserious commented on #729
Hi @raine,

I believe [this PR](https://github.com/sendgrid/sendgrid-nodejs/pull/716) addresses that issue. I hope that helps!

With Best Regards,

Elmer

[2018-10-02 20:50] thinkingserious commented on #652
Hello @hnobi,

Can you please check your [email activity feed](https://app.sendgrid.com/email_activity)?

Thanks!

With Best Regards,

Elmer

[2018-10-02 20:53] thinkingserious commented on #629
It's all your @OrthoDex :)

Thank you!

[2018-10-03 02:28] seif1000 opened #758 "i have 500 error when i try to make a post send a email with express.js"
#### Issue Summary

A summary of the issue and the environment in which it occurs. If suitable, include the steps required to reproduce the bug. Please feel free to include screenshots, screencasts, code examples.

#### Steps to Reproduce

1. This is the first step
2. This is the second step
3. Further steps, etc.

Any other information you want to share that is relevant to the issue being reporte

[2018-10-03 02:45] aroach commented on #758
Can you provide more details and repro steps?  Maybe a gist?

On Tue, Oct 2, 2018 at 8:28 PM benmazouz seif eddine <
notifications@github.com> wrote:

[2018-10-03 03:56] leovazquezz1 commented on #758
I have the same Issue, I just basically used the exaomple that is on sedn grid Here is my code.

Node version: 10.8.0
npm version: 6.4.1
@sendgrid/mail version: ^6.3.1

function sendClientMessageToDispatcher(clientNumber, orderId, body) {
  sgMail.setApiKey(process.env.SENDGRID_API_KEY);
  const msg = {
    to: 'to@gmail.com',
    from: 'from@gmail.com',
    subject: 'Client Message -- '+ clientNu

[2018-10-03 05:31] duncanleung commented on #740
@thinkingserious the `help wanted` tag should be removed from this issue?

Looks like PR #716 adds in the fix to `mail.d.ts` and is just waiting to be merged.

[2018-10-03 13:00] AlexandreUser opened #760 "The API returns 202 but i don't receive the e-mail"
### API returns 202 but the email isn't working.

I'm using the API to send multiples e-mails, sometimes they work, sometimes they don't (Most on the Gmail)
But the result for every call is the same 202, i need something to mark the error to stop.

[2018-10-03 13:20] thinkingserious opened #761 "Implement auto-deploy to package manager"
#### Issue Summary

When all tests on the master branch pass in Travis CI, we would like to auto-deploy the release to the package manager.

Before writing any code, we suggest you review our `CONTRIBUTING.md` file and propose your solution for discussion here in the comments. Thank you!

#### Aceptance Criteria

* when Travis CI passes all tests on the master branch we auto-deploy to the package

[2018-10-03 14:27] Strum355 commented on #657
Not able to reproduce with node 10.10.0 and typescript 3.0.3

[2018-10-03 14:32] aslafy-z commented on #642
Does this targets the client package ? If it does, it's already possible:

[code]

Maybe we could refactor setDefaultRequest to accept objects and merge it to defaultRequest. Anyway I'd love to help you with this.

WDYT ?

[2018-10-03 14:45] aslafy-z opened #762 "[inbound-mail-parser] mailparser@0.6.2 is deprecated"
#### Issue Summary

mailparser@0.6.2 is deprecated and needs to be upgraded.

#### Steps to Reproduce

1. npm install

#### Technical details:

* sendgrid-nodejs Version: master (latest commit: f0449de)
* Node.js Version: 10.10.0
* NPM Version: 6.4.1

[2018-10-03 14:55] aslafy-z commented on #664
I just upgraded mailparser and it does not uses `mimelib` anymore but the home-made `libmime` which uses MIT licence.

https://github.com/nodemailer/mailparser/blob/v2.3.4/package.json#L15
https://github.com/nodemailer/libmime/blob/master/LICENSE

Issue: https://github.com/sendgrid/sendgrid-nodejs/issues/762
PR: https://github.com/sendgrid/sendgrid-nodejs/pull/763

[2018-10-03 15:33] radlinskii commented on #697
I can take this

[2018-10-03 17:13] AlexandreUser opened #764 "sendgrid not working in gmail"
### Also works in outlook and protonmail as well.

it's not a problem in my code, because it works from every other email

[2018-10-03 19:01] thinkingserious commented on #747
It's all yours @mateoholman, thanks!

[2018-10-03 21:08] #661 closed

[2018-10-03 22:51] mauricetmeyer commented on #437
Is this issue still relevant? I would give it a go.

[2018-10-04 01:01] thinkingserious commented on #658
It's all yours @OrthoDex! Thanks!

[2018-10-04 13:17] thinkingserious opened #766 "Require conformance to style standards"
#### Issue Summary

In the `CONTRIBUTING.md` file there is a section on Style Guidelines & Naming Conventions. Please review and implement a check in Travis CI. If there are any style errors, either fix or create a rule to exclude the error.

Before writing any code, we suggest you review our `CONTRIBUTING.md` file and propose your solution for discussion here in the comments. Thank you!

#### Ace

[2018-10-04 15:39] AbhyudayaSharma commented on #551
Hi! I'm working on this.

[2018-10-04 20:35] thinkingserious commented on #758
Hello @leovazquezz1, @seif1000,

Could you please try to obtain the error message [like so](https://github.com/sendgrid/sendgrid-nodejs/blob/master/packages/mail/USE_CASES.md#success-failure-errors)? Thanks!

With Best Regards,

Elmer

[2018-10-04 20:50] thinkingserious commented on #740
Thanks for the heads up @duncanleung!

[2018-10-04 20:50] #740 closed

[2018-10-04 20:56] elpaso2 commented on #623
not cool at all, not everyone need the html, i also send to parsing system, spent days before knowing its not my code

[2018-10-04 20:56] elpaso2 commented on #623
version "sendgrid/sendgrid": "~7",

[2018-10-05 00:16] JongSikLim opened #769 "bad request when i send with attachment"
#### Issue Summary

I just follow the attachment docs, but bad request error is occurred.

+a ) i want attach json object to files. What should i do?

#### Steps to Reproduce
1. I sign up sendgrid.
2. I receive apikey and copy the code, paste in my workplace.
3. without attachment, it works fine. but with attachment it isnt work.
[code]

    sgMail.send(msg);

 and this is my error console

Uncaug

[2018-10-05 04:15] thinkingserious commented on #760
Hello @AlexandreUser,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2018-10-05 04:15] #760 closed

[2018-10-05 04:39] thinkingserious commented on #761
@joostme,

I agree, `lerna publish` is probably the way to go, but I can't seem to find any examples on how to do this :(

Maybe there is some way to use lerna to figure out the right npm publish commands to use and in what order.

Maybe the move is use a script to generate the yml you provided and only update the relevant packages based on the particular update.

In any case, thanks for trying to

[2018-10-05 05:28] thinkingserious commented on #692
Thank you @ssiddhantsharma, it's great to have you back!

[2018-10-05 05:34] nityanandagohain commented on #756
I want to take this up.

[2018-10-05 10:59] aslafy-z commented on #642
Sure, it wont break anything.

[2018-10-05 11:08] Strum355 commented on #657
@thinkingserious i had pulled from master on the same day, if thats specific enough

[2018-10-05 12:16] aslafy-z commented on #761
`lerna publish` doc can be found here: https://github.com/lerna/lerna/tree/master/commands/publish#readme

[2018-10-05 13:45] aslafy-z commented on #755
I had a try with `prism` v2 but i'm not able to run the mock server (haven't tried docker release).
Openned an issue here: https://github.com/stoplightio/prism/issues/152

####  Here are my findings:
New installer url: `https://raw.githubusercontent.com/stoplightio/prism/2.x/install.sh`
New command to mock: `prism mock --spec https://raw.githubusercontent.com/sendgrid/sendgrid-oai/master/oai_stopl

[2018-10-05 13:58] joostme commented on #761
The problem I see with `lerna publish` is that it authenticates the user using the `.npmrc` which should not be commited. Maybe the token can be stored encrypted in the Travis pipeline as environment variable and the publish is done using a custom script that uses `lerna changed` to get all packages that have changed.

[2018-10-05 14:11] aslafy-z commented on #761
For reference: https://github.com/lerna/lerna/issues/1705

[2018-10-05 14:17] thinkingserious opened #772 "Run our *.md documents in this repo through the Grammer.ly service and update"
#### Issue Summary

We would like to get our English polished up throughout the repo.

#### Aceptance Criteria

* Every .md file in this repo has been run through the Grammer.ly service and updated accordingly

[2018-10-05 14:57] thinkingserious commented on #772
Thank you @alanunruh, it's all yours!

[2018-10-05 17:09] DakshMiglani commented on #732
@thinkingserious sure.

[2018-10-05 20:45] AllUsernamesHaveBeenTaken commented on #762
I'll take this one.

[2018-10-05 20:55] aslafy-z commented on #762
@AllUsernamesHaveBeenTaken already did... See #763

[2018-10-05 21:01] AllUsernamesHaveBeenTaken commented on #762
Oops, I must have looked over it.

[2018-10-06 10:03] wer12345 commented on #766
I like to challenge myself with this issue if there is still no one working on it

[2018-10-06 13:04] aroach commented on #769
I believe you need to actually base64 encode the string you have in the `content` field.  Here's a StackOverflow with that information https://stackoverflow.com/questions/6182315/how-to-do-base64-encoding-in-node-js#6182519

[2018-10-06 14:20] thinkingserious opened #777 "Update documenation for retrieving a list of all templates (dynamic & legacy)"
#### Issue Summary

Please update the `USAGE.md` with the call to list all templates.

This is the API call required: GET https://api.sendgrid.com/v3/templates?generations=legacy,dynamic

#### Acceptance Criteria

* The Usage.md file demonstrates how to use this API call to retrieve all templates: GET https://api.sendgrid.com/v3/templates?generations=legacy,dynamic

[2018-10-06 14:29] thinkingserious commented on #777
Specifically this location:
https://github.com/sendgrid/sendgrid-nodejs/blob/master/packages/client/USAGE.md#post-templates

Thanks!

[2018-10-06 14:52] thinkingserious opened #778 "Throw an exception if a template ID does not exist in your request body"
#### Issue Summary

You will not receive an error from the API is you send an email with the wrong template. Instead you will get a "Not Delivered" notice in your email activity feed. We want to make that experience better by throwing an exception in the code instead.

This issue is inspired by [this](https://github.com/sendgrid/sendgrid-go/issues/255).

#### Acceptance Criteria

* Use [the API](h

[2018-10-06 15:49] rishacha commented on #778
Hi, Can I take this up?

[2018-10-06 16:06] arshadkazmi42 commented on #777
@thinkingserious What exactly needs to be updated here?

just the query parameter `?generations=legacy,dynamic` in the url?

[2018-10-06 16:32] arshadkazmi42 opened #781 "Fix broken link in CONTRIBUTING.md"
#### Issue Summary

Following links are broken in [CONTRIBUTING.md](https://github.com/sendgrid/sendgrid-nodejs/blob/master/CONTRIBUTING.md):
`USAGE.md`
`USE_CASES.md`
`esdoc`

All these redirects to a 404 page

[2018-10-06 16:34] arshadkazmi42 opened #782 "Fix broken link in TROUBLESHOOTING.md"
#### Issue Summary

Following links are broken in [TROUBLESHOOTING.md](https://github.com/sendgrid/sendgrid-nodejs/blob/master/TROUBLESHOOTING.md#testing-v3-mailsend-calls-directly)
- v3 send email example link is broken

[2018-10-06 18:53] mzc9 commented on #624
I would like to take this up, if I may

[2018-10-07 00:07] wer12345 commented on #766
Oh.. Too bad
    Pada Minggu, 7 Oktober 2018 05.22.58 WIB, Tony Ho <notifications@github.com> menulis:

@wer12345 I've already opened PR #767 to take care of this one.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2018-10-07 12:04] OrthoDex commented on #629
Ah, I see @valerianpereira already put in a PR for this. Maybe we could add some guidelines to reduce duplicate work in PRs?

[2018-10-07 16:12] thinkingserious opened #786 "Create a Dockerized event webhook consumer"
#### Issue Summary

SendGrid has an [Event Webhook](https://sendgrid.com/docs/API_Reference/Event_Webhook/event.html) which posts events related to your email activity to a URL of your choice. We want to have an easily deployable solution that allows for customers to easiy get up and running processing (parse and save) their event webhooks.

#### Acceptance Criteria

* A folder which contains a Do

[2018-10-07 16:18] thinkingserious opened #787 "Create a Dockerized email inbound parse webhook consumer"
#### Issue Summary

SendGrid has an [Email Inbound Parse Webhook](https://sendgrid.com/docs/API_Reference/Parse_Webhook/inbound_email.html) which posts data from a specified incoming email address to a URL of your choice. We want to have an easily deployable solution that allows for customers to easiy get up and running processing (parse and complete some action) their inbound parse webhooks.

###

[2018-10-07 19:54] geekyd commented on #708
@thinkingserious I had a look at this one & it seems like the sendgrid API does not support some special characters ' , ` in the subject. Check this.

![screen shot 2018-10-08 at 1 21 49 am](https://user-images.githubusercontent.com/12807846/46586202-934df680-ca98-11e8-9156-6207c810c2a8.png)

[2018-10-07 20:09] PyroclasticMayhem opened #788 "TROUBLESHOOTING.md: Link for environment variables does not direct to correct place"
#### Issue Summary

The link for environment variables in [TROUBLESHOOTING.md](https://github.com/sendgrid/sendgrid-nodejs/blob/master/TROUBLESHOOTING.md#environment-variables-and-your-sendgrid-api-key) does not direct to the correct place.

[2018-10-08 06:40] Androsh2042 commented on #643
Just letting you know, I had very similar issues as far as I can tell (still new). The solution was to setup API key variable in app platform heroku https://devcenter.heroku.com/articles/sendgrid#setup-api-key-environment-variable
No problems now for me.

[2018-10-08 19:16] aroach commented on #787
I'll take this one

[2018-10-08 20:29] thinkingserious opened #790 "Document the difference of using three brackets vs two brackets with a template and throw or log an error when used improperly"
#### Issue Summary

Our templates use the handlebars.js syntax as documented [here](https://sendgrid.com/docs/ui/sending-email/using-handlebars/). When including the characters ', " or & in a subject line replacement you need to use three brackets vs two ( {{{ content }}} vs {{ content }} ).

#### Acceptance Criteria

* Documentation of this functionality in the use cases section (transactional te

[2018-10-08 20:46] thinkingserious opened #791 "Create first time contributor documentation"
#### Issue Summary

Our open sourced documentation has a great [first time contributor page](https://github.com/sendgrid/docs/blob/develop/first-timers.md) that we wish to duplicate here.

#### Acceptance Criteria

* We have a file in the root directory called first-timers.md or similar that helps a first time contributor make their first PR (please use our CONTRIBUTOR.md file for inspiration as w

[2018-10-09 00:30] thinkingserious commented on #437
My apologies for the confusion @mauricetmeyer, I had not updated the labels on this one. I do hope you will [consider another issue](https://dx.sendgrid.com/hacktoberfest), there's lots to do :)

Thanks for helping out @Berkmann18!

[2018-10-09 00:32] thinkingserious commented on #551
@Strum355, a README.md with markdown formatted links to the example files. My apologies for the confusion.

Thank you @AbhyudayaSharma!

[2018-10-09 00:42] #669 closed

[2018-10-09 03:37] reedsa commented on #790
I'll dig into this one.

[2018-10-09 04:41] ely-alamillo commented on #791
I'll take this one @thinkingserious

[2018-10-09 17:04] pselle commented on #623
Following, also looking for this setting for a user who's requested non-HTML emails

[2018-10-09 19:51] noahsarktheapp opened #794 "Issue with 'crypto' module using React Native, Verifying Integration"
#### Issue Summary

Looking for help in fixing my red screen. Created the environment variable and added the npm package, however when I add in the sample code just to test to make sure its working, I get this error:

Failed to load bundle(http://localhost:8081/index.bundle? platform=ios&dev=true&minify=false) with error:(Unable to resolve module 'crypto' from '[filepath of my app]/node_modules/re

[2018-10-10 00:58] thinkingserious opened #796 "Auto-generate the CHANGELOG.md file upon release"
#### Issue Summary

For every release, we currently hand craft a CHANGELOG.md update, now we would like to automate this process. Please see the existing CHANGELOG.md for formatting structure.

#### Acceptance Criteria

* A script, which when run, creates a CHANGELOG.md update based on any merged PRs since the last release.

[2018-10-10 04:40] HeroProtagonist commented on #796
I would like to give this a shot!

[2018-10-10 13:35] JSmurf commented on #494
/request

[2018-10-10 13:40] thinkingserious commented on #494
Thank you @JSmurf! It's all yours :)

[2018-10-10 16:01] #791 closed

[2018-10-10 16:49] anand2131993 commented on #755
I got Prism 2.0 working locally. I shall try to take this up if that's ok.

[2018-10-10 19:08] aroach commented on #623
there’s a way in Mail Settings to enable plain only globally (see below).
If you have more questions, I'd recommend pinging our support team @
https://support.sendgrid.com

https://app.sendgrid.com/settings/mail_settings

You want to disable:

Plain Content
: Convert your plain text emails to HTML.

On Tue, Oct 9, 2018 at 11:04 AM Pam Selle <notifications@github.com> wrote:

[2018-10-10 19:28] thinkingserious commented on #623
Hi @pselle, @elpaso2,

You should also be able to do something [like this](https://github.com/sendgrid/sendgrid-nodejs/blob/master/use-cases/single-email-single-recipient.md#send-a-single-email-to-a-single-recipient), but simply leave off the html parameter.

With Best Regards,

Elmer

[2018-10-10 23:12] mvarrieur commented on #778
I think your link to the API is incorrect in the description of this issue FYI

[2018-10-11 21:00] thinkingserious commented on #682
Thank you @AllUsernamesHaveBeenTaken! It's all yours.

[2018-10-11 21:33] thinkingserious commented on #657
Thanks @Strum355!

[2018-10-12 00:15] mauricetmeyer commented on #796
@HeroProtagonist If you need any help, you can have a look at [my implementation](https://github.com/sendgrid/php-http-client/pull/117/commits/ecfaf051f6267075b97152f83afbd05dd219e9b4).

[2018-10-12 13:33] leovazquezz1 commented on #758
We just rolled back to the first version and is all working now

On Thu, Oct 4, 2018 at 4:35 PM Elmer Thomas <notifications@github.com>
wrote:

[2018-10-12 16:18] aroach commented on #786
Hey!  @thinkingserious  I'll take this one too.  What do you think about if I just modified the inbound parse example to also be able to accept the event webhooks on a different route?  For example, currently, I have a route `POST /parse_webhook`.  I can just add a second `POST /event_webhook` in the same app, and then explain the event object that is sent by SG.  We can then just rename the subfo

[2018-10-12 17:04] thinkingserious commented on #786
Great idea! It's all yours :D

[2018-10-12 17:34] thinkingserious commented on #732
Thank you @DakshMiglani!

[2018-10-13 03:54] thinkingserious opened #799 "Document new Git workflow in CHANGELOG.md"
#### Issue Summary

We want to update our git workflow to function more like [Gitflow](https://www.atlassian.com/git/tutorials/comparing-workflows/gitflow-workflow). We need to update the CONTRIBUTING.md file and PULL_REQUEST_TEMPLATE to direct contributors to fork/branch off the `development` branch and to merge their PRs with the `development` branch. Once this issue is complete, we will be crea

[2018-10-13 04:09] #664 closed

[2018-10-13 04:09] #762 closed

[2018-10-13 04:51] pandaa880 commented on #799
I would like to take this one. May i ?

[2018-10-13 12:54] tony-ho commented on #799
I can take this one.

@thinkingserious This repository contains both a PULL_REQUEST_TEMPLATE and PULL_REQUEST_TEMPLATE.md with exactly the same content. I propose removing the md version to reduce duplication and keeping PULL_REQUEST_TEMPLATE for consistency with the other repos.

[2018-10-13 21:14] oxiumio opened #805 "Bad request for sending scheduled emails with send_at"
#### Issue Summary

Since today I am getting 400 for each scheduled email I am sending with send_at. It worked fine two days ago, source code did not change since then.

#### Steps to Reproduce

Here's the code on the node server (obviously I am using correct API key, not "MY_API" as below):

[code]

if I console.log `batch_id`, it seems to be of the right format, and it checks out with GET https:

[2018-10-14 06:18] tgercek commented on #805
Hi there,

I've been unable to reproduce this error using a time that's 10 minutes into the future. I suspect your issue is that in testing you're scheduling an email outside the [72 hour window that SendGrid provides](https://sendgrid.com/docs/API_Reference/SMTP_API/scheduling_parameters.html) - seems SG don't want to be responsible for hosting our email content for too long.

Funnily enough I ju

[2018-10-14 11:15] arguiot commented on #796
I created a PR (#808)

[2018-10-14 16:12] oxiumio commented on #805
@tgercek thank you so much for your answer. This does make sense now as if I schedule a reminder 15 minutes from now, it seems to be working fine. I was confused with this bit in documentation:

Since I'd need a batch_id for cancelling or pausing scheduled email, I thought that I can schedule a reminder anytime within the 10 day lifecycle. Probably I skipped the part about 72 hours. But again, tha

[2018-10-14 16:12] #805 closed

[2018-10-15 04:36] siqueira-ec commented on #739
I'm on It.

[2018-10-15 08:57] JustFly1984 opened #807 "[Question] @sendrgid/mail: How to attach PDF file to an email?"
I understand how to base64 pdf, but there is a type.

[code]

Does type: 'plain/pdf' works? or should it be just 'pdf' ?

[2018-10-15 10:16] mldmld68 opened #808 "Suddenly sendgrid module unable to find / Google Cloud Function"
#### Issue Summary

I'm writing a Cloud Function on GCP using SendGrid.
I'm using the embedded GCP editor to update my cloud function.
After a few versions, it's no more possible to use sendgrid. I get the error

**Did you list all required modules in the package.json dependencies?
Detailed stack trace: Error: Cannot find module 'sendgrid'
    at Function.Module._resolveFilename (module.js:476:15)

[2018-10-15 23:19] JustFly1984 commented on #807
I figured this out, correct attachments setup is this:
[code]

[2018-10-15 23:19] #807 closed

[2018-10-16 12:30] aslafy-z commented on #796
I'd recommend using a maintained project instead of our own implementation. Give a look to https://github.com/github-changelog-generator/github-changelog-generator

[2018-10-16 12:39] aslafy-z commented on #752
This can be closed (See #751)

[2018-10-16 13:57] danieldelouya commented on #702
Same issue here. Has this seriously not been solved yet???

[2018-10-17 00:30] Ditofry commented on #736
I can take this one 🎉 👍 🎃

[2018-10-17 23:12] harshil1712 commented on #796
Is anyone still working on this? I would like to work on this

[2018-10-17 23:20] thinkingserious commented on #796
Interesting @aslafy-z, I was not aware of those project. What do you think @arguiot?

[2018-10-18 08:16] JongSikLim commented on #165
Can't change port when i send yet?

[2018-10-18 08:17] JongSikLim commented on #769
Thanks you for your comment

[2018-10-18 08:17] #769 closed

[2018-10-18 08:20] JongSikLim opened #811 "Can I change ip port when I mail send?"
Issue Summary

In my client environment, can't using 443 port, So i want to change port.

What should i do?

Technical details:
sendgrid-nodejs Version: latest version
Node.js Version: 8.11.4
Using electron.

[2018-10-18 12:08] xduseko commented on #638
Hah, `dynamic_template_data`. I solved your little puzzle! :smile:

[2018-10-18 12:52] Isfaaq commented on #697
Hi. Could you please assign me to resolve this issue. Thanks.

[2018-10-19 06:58] thinkingserious opened #813 "Auto-generate the release notes upon release"
#### Issue Summary

For every release, we hand craft the release notes on GitHub, now we would like to automate this process. Please see the existing [release notes](https://github.com/sendgrid/sendgrid-nodejs/releases) for an example. The contents of the release notes are generated from the CHANGELOG.md file. [Here](https://developer.github.com/v3/repos/releases/#create-a-release) is the document

[2018-10-19 09:54] devmattrick commented on #813
I'm willing to give this a shot.

[2018-10-20 23:43] thinkingserious opened #815 "Error Exception Handling"
#### Issue Summary

To improve the developer experience, we would like to pass back a [summary of the error received](https://sendgrid.com/docs/API_Reference/Web_API_v3/Mail/errors.html) and a link to the appropriate place [in the documentation](https://sendgrid.com/docs/API_Reference/Web_API_v3/Mail/errors.html) to help with troubleshooting.

#### Acceptance Criteria

* When an error is thrown du

[2018-10-20 23:50] thinkingserious opened #816 "Type Exception Handling for the Mail Helper"
#### Issue Summary

The appropriate types necessary for a successful `mail/send` API call is documented [here](https://sendgrid.com/docs/API_Reference/api_v3.html). We want to throw a type exception when the wrong type is provided.

#### Acceptance Criteria

* All parameters for the `mail\send` endpoint are type checked and if they fail the type check and exception is thrown with instructions on h

[2018-10-21 08:38] schalkneethling commented on #796
Anyone actively working on this? If not, I would like to take this up. @HeroProtagonist @arguiot @thinkingserious @harshil1712 @mauricetmeyer @aslafy-z

[2018-10-21 15:37] abohannon commented on #703
I'm able to get `dynamic_template_data` to work for general email variables, but what if we need to add dynamic data per recipient, as well? E.g. Order numbers, order quantity, etc. I don't see a use case for this in the docs, but maybe I'm overlooking it.

[2018-10-22 05:59] paperlambda commented on #756
@thinkingserious i cant find the `USE_CASES.md`. could you elaborate?

[2018-10-22 16:37] clayostrom opened #817 "Can't specify Unsubscribe tags in Transactional template"
#### Issue Summary

I have a transactional email template set up and working. However, I can't figure out how to set the tags in the Unsubscribe module -- i.e. [Sender_Name], [Sender_Address], [Sender_City], etc.

Right now when I send an email those tags just appear as text (e.g. "[Sender_Name]") without being swapped out.

I've reviewed the API docs and searched past issues here and can't find a

[2018-10-22 18:33] kvarela commented on #638
Thank you @xduseko !

[2018-10-22 18:45] #790 closed

[2018-10-22 18:47] #788 closed

[2018-10-22 18:48] #658 closed

[2018-10-22 18:49] #782 closed

[2018-10-22 18:50] #781 closed

[2018-10-22 18:51] #772 closed

[2018-10-22 18:52] #427 closed

[2018-10-22 18:53] #766 closed

[2018-10-22 20:53] #582 closed

[2018-10-22 20:58] #499 closed

[2018-10-22 20:58] #448 closed

[2018-10-22 21:01] #496 closed

[2018-10-23 01:50] ctbucha commented on #456
I ran into this problem today since it seems that `uglifyjs-webpack-plugin` no longer supports ES6 (https://github.com/gruntjs/grunt-contrib-uglify/issues/477). I am trying to transpile this package with babel in my webpack 4 config, but I haven't gotten it to work yet.

[2018-10-23 14:54] clayostrom commented on #817
I've received a response back from SendGrid support -- what they said:

- Senders defined in the admin only populate Marketing emails, not Transactional emails
- You also can't supply Sender information via the API, it has to be manually included
- This means that the Unsubscribe module that autopopulates in Transactional email templates is essentially unusable.
- Also, they let me know that _you

[2018-10-23 14:54] #817 closed

[2018-10-24 06:18] devmattrick commented on #813
Thoughts @thinkingserious?

[2018-10-24 17:01] yeldarby opened #820 "const data = None; in client/USAGE.md"
Several places in [this doc](https://github.com/sendgrid/sendgrid-nodejs/blob/master/packages/client/USAGE.md) there's a pattern to do this:

[code]

This pattern seems like bad practice and it's unclear what it's supposed to mean/be doing.

It appears to signify when you're not to be passing a `body` to the API endpoint. In most cases `None` is likely to be `undefined`. But it's not a reserved wo

[2018-10-25 09:29] nvthai commented on #708
@thinkingserious i faced same issue. Is there any update on this please?

[2018-10-25 23:41] jcfi commented on #816
@alexhoffman617 Some of them do already have validation, but it's not consistent across fields. For example, [the subject field is validated on creation](https://github.com/sendgrid/sendgrid-nodejs/blob/master/packages/helpers/classes/mail.js#L141), but [the from field is not](https://github.com/sendgrid/sendgrid-nodejs/blob/master/packages/helpers/classes/mail.js#L121).

[2018-10-26 15:51] kylearoberts commented on #708
@januszhou @geekyd @nvthai

We actually have a note about this in our [docs](https://sendgrid.com/docs/ui/sending-email/using-handlebars/#replacement-with-html). The encoding that happens is just part of handlebars and is talked about in [handlebars documentation](https://handlebarsjs.com/):

So with all that said make sure you are using "triple-stash", {{{.

[2018-10-29 15:51] kylearoberts commented on #678
@apoorv-1310

I think what you are looking for is below. Since you are using a substitution per email you need to break each to into its own container. Hopefully, the below example will help.

[code]

[2018-10-29 16:06] #678 closed

[2018-10-29 18:56] #786 closed

[2018-10-30 10:10] nvthai commented on #708
@kylearoberts it works!
thank a lot !

[2018-10-30 18:33] thinkingserious opened #829 "Add our Developer Experience Engineer career opportunity to the README"
#### Issue Summary

The role of Developer Experience Engineer just became available and we want to announce it in the README. Here is the copy:

If you're a software engineer who is passionate about #DeveloperExperience and/or #OpenSource, [this is an incredible opportunity to join our #DX team](https://sendgrid.com/careers/role/1421152/?gh_jid=1421152) as a Developer Experience Engineer and work

[2018-10-30 20:00] mptap commented on #829
@thinkingserious Have raised PR for this: https://github.com/sendgrid/sendgrid-nodejs/pull/831

[2018-10-30 21:14] thinkingserious commented on #796
I gave you Hacktoberfest points for your efforts @arguiot, thank you!

If someone would like to re-implement this using one of the supported project that @aslafy-z recommended, please post a message here and it's all yours. Thanks!

[2018-10-31 06:58] schalkneethling commented on #796
@thinkingserious I will take a stab at this using semantic-release. If this works for you, let me know and I will get cracking.

[2018-10-31 15:09] 10kc-zack commented on #778
@thinkingserious To confirm, would this change add another HTTP request when sending mail with `@sendgrid/mail`? If so, I don't agree that it should be the solution. In my mind, the SendGrid API should be changed to return a detailed error stating that the template ID doesn't exist.

[2018-10-31 15:26] 10kc-zack opened #834 "Sending transactional template discards subject specified via data object"
#### Issue Summary

When using the `sendgridMail.send` function to send a Transactional Template, any subject line added to the `data` object which is passed `sendgridMail.send` (via `data.subject` or `data.personalizations[someIndex].subject`) is discarded and the subject line that is specified on the actual Transactional Template itself is used.

The behaviour that I expect is that the fields sp

[2018-10-31 15:51] crweiner opened #835 "Remove legacy "Whitelabel" Terms"
#### Issue Summary

According to the [Docs](https://github.com/sendgrid/docs/blob/develop/content/docs/glossary/whitelabel.md), SendGrid wishes to move away from the term "Whitelabel" and replace it with other terms, such as "domain authentication", "link branding" and "reverse DNS".

#### Details:
 In order to keep this verbiage consistent, this repo needs to update its terms and replace "Whitela

[2018-10-31 21:58] Fazendaaa commented on #815
@thinkingserious, just forked this repo. If I have any doubts I talk to you through here :)

[2018-10-31 22:05] thinkingserious commented on #815
Awesome! Thank you!

[2018-10-31 22:43] Fazendaaa commented on #815
@thinkingserious, before making it any changes I've decided to `yarn test:mail` as described in the [testing](https://github.com/sendgrid/sendgrid-nodejs/blob/master/CONTRIBUTING.md#testing). To this testing do I need a Sendgrid App Key as described in [Environment Variables](https://github.com/sendgrid/sendgrid-nodejs/blob/master/CONTRIBUTING.md#environment-variables)?

[2018-11-02 18:09] #829 closed

[2018-11-03 00:28] xyz92 opened #838 "SenderNotAuthenticatedForGroup error"
I have an email address which includes multiple recipients. When I tried sending email, it blocked sending email:

![microsoftteams-image](https://user-images.githubusercontent.com/6519992/47946087-3d684500-dec4-11e8-8359-79ad5282b690.png)

Here is my code:

using SendGrid;
using SendGrid.Helpers.Mail;
using System;
using System.Threading.Tasks;

namespace Example
{
    internal class Example

[2018-11-04 07:29] joshicraft opened #839 "SendGrid and Netlify Lambda Functions ERROR"
#### Issue Summary

I'm experiencing some issues with the SendGrid Transactional Templates when using node.js and netlifys functions. I'm using the netlify-lambda to build the function file's on deploy.

When I use the raw template html in the function.js file for the msg.html property it works fine.

When I use the SendGrid v2 substitutions the email sends to my email but the handlebar properties

[2018-11-05 01:29] atellier opened #840 "setApiKey is not a function using imports"
#### Issue Summary

When I try to import the mail service, I have the following error:

#### Example code

[code]

#### Technical details:

* sendgrid-nodejs Version: master (latest commit: [commit number])
* `"@sendgrid/mail":` "^6.3.1" in package.json
* ts-node v7.0.1, node v11.0.0, typescript v3.1.1

Any help or pointers would be great. Trying to use **require()** as documented gave me the erro

[2018-11-05 21:32] ItsJustChad commented on #817
Can confirm the exact same issues as described above. Spent lots of time trying to troubleshoot and reading through docs. Can someone from SendGrid please look into this and provide a resolution?

[2018-11-05 23:50] dungahk opened #841 "The content_id parameter is required if disposition = \'inline\'.'"
#### Issue Summary

Error when trying to send an email with an attachment.

`The content_id parameter is required if disposition = \'inline\'.',`

#### Steps to Reproduce

Just try to send an email with attachments and disposition 'inline'.

My code:

[code]

I'm using Typescript and the attachments property is defined as an Array of AttachmentData, which includes a property called `contentId`, bu

[2018-11-06 16:44] ahummel25 opened #842 "Extra empty "to" array getting added to personalizations array"
#### Issue Summary

I am attempting to send an e-mail based on a transactional template. I'm consistently getting this error message:
[code]

Here is my template:

[code]

#### Steps to Reproduce

Below is my data. This is not changing between test runs. According to #729, the `dynamic_template_data` as well as the `to` must be within a `personalizations` array. And `to` needs to be an array not a

[2018-11-07 03:55] anand2131993 commented on #755
@thinkingserious Any inputs on this? If there's that I need to change in the PR, please let me know.

[2018-11-07 07:06] nyel-dev opened #843 "Subject not being set if using Dynamic templates"
I was trying to add subject for my email with dynamic templates but it is not working. Is this a known bug already? Can you suggest any workarounds for this issue?

template code:
[code]

send mail function:
[code]

[2018-11-07 21:57] 10kc-zack commented on #843
Same as #834

[2018-11-08 13:43] ahummel25 commented on #842
My mistake. Looks like the to and dynamic template data must be within the same object element in the personalizations array.

[code]

[2018-11-08 13:43] #842 closed

[2018-11-08 15:13] shahrpt opened #844 "Substitution is not working in NodeJS based transactional templates"
The email is sent successfully but with empty string replacement.

The following is the code snippet
const mailOptions =  {
                            "personalizations": [{
                                "to": [{
                                    "email": "shahsuliman@gmail.com"
                                }],
                                "dynamic_template_data": {

[2018-11-08 15:34] Rolandisimo commented on #703
@catamphetamine I've downvoted your comment because I've just spent too much time trying to figure out why everybody's code seems to be working with `dynamicTemplateData`, but in my case substitutions are simply removed.

Turns out that for me I had to do the following (the opposite of what people say):

[code]

[2018-11-08 15:55] nyel-dev commented on #843
@10kc-zack I see. It is a known issue then.

By the way, what workaround did you do to fix it?

[2018-11-08 16:32] Rolandisimo commented on #703
Ok, I need to investigate again. I'm stupefied because now neither `dynamicTemplateData` nor `substitutions` work for me.

[2018-11-08 19:29] 10kc-zack commented on #843
@nyel-dev Setting the template's subject on SendGrid website works. The problem is that it seems that SendGrid's API does not let you supply a template when you trigger a dynamic template.

[2018-11-08 22:35] denver-HJS commented on #844
Hi @shahrpt I think I might be able to help. Try replacing `{{name}}` in the template to `%name%`

See the documentation on template substitution tags for more info: https://sendgrid.com/docs/API_Reference/SMTP_API/substitution_tags.html

[2018-11-09 01:08] januszhou commented on #708
Going to close it since we have a fix now

[2018-11-09 01:08] #708 closed

[2018-11-09 03:53] shahrpt commented on #844
Thank you for the response, FYI, I am using sendgrid mail not smtp.
sgMail = require('@sendgrid/mail'),

I have replaced {{name}} with %name% but it is not replacing it with any value. It is showing it as in the email been sent.
![screenshot_2](https://user-images.githubusercontent.com/2241234/48242396-d1726900-e3fc-11e8-9220-47329f590ca0.png)

I still dont understand what is wrong, what is legacy

[2018-11-09 15:28] aroach commented on #844
If you’re using transactional templates, you should use dynamic templates
and the dynamic_templates_data key.

https://sendgrid.com/docs/ui/sending-email/how-to-send-an-email-with-dynamic-transactional-templates/

On Thu, Nov 8, 2018 at 8:53 PM Sulman <notifications@github.com> wrote:

[2018-11-09 22:10] aroach commented on #844
Also, it may be that you don't need the `personalizations` key.  And, I don't think you need to use `setSubstitutionWrappers()`
 https://github.com/sendgrid/sendgrid-nodejs/blob/master/packages/mail/USE_CASES.md#transactional-templates

[2018-11-09 22:36] aroach commented on #811
Our servers are only listening on port 443.  So, if you can't do that, you would likely need to communicate to a write/use a "proxy" server on a custom port to it, and then the "proxy" would communicate via 443 to our servers.  You probably would want to do something like this anyway, so you don't put your API key in the wild.

[2018-11-11 08:17] vmal commented on #326
@HemalR Can you tell me which email service did you transition to. Because, even i encountered this issue and would prefer an api that lets me schedule email with some analytics. Thanks in advance!

[2018-11-11 23:17] HemalR commented on #326
I'm using Postmark (and Mailjet in another related app) - but the scheduling is now all in-house (so I guess from the scheduling perspective, it isn't really relevant anymore)

[2018-11-12 16:54] shahrpt commented on #844
@aroach taking care of you suggested changes, I still cant get any success with substitution of the template data in the email that I am receiving.

[2018-11-12 19:32] aroach commented on #844
@shahrpt do you have your project anywhere public on GitHub?

[2018-11-12 19:53] aroach commented on #844
@shahrpt I'm unable to reproduce the issue you're seeing.  I copied your `mailOptions` object, and used it instead of the example in the `USE_CASES.md`, and the {{ name }} was replaced.  I think I accidentally even sent one to you, so you should see that in your inbox.

[code]

[2018-11-13 22:53] thinkingserious commented on #794
Hello @noahsarktheapp

Have you tried any of the solutions mentioned [here](https://stackoverflow.com/questions/36415157/twilio-react-native-unable-to-resolve-module-crypto)?

With Best Regards,

Elmer

[2018-11-13 23:41] thinkingserious commented on #808
Hello @mldmld68,

Could you please try removing this line `"sendgrid": "^1.5.0",`. Thanks!

With Best Regards,

Elmer

[2018-11-13 23:42] #811 closed

[2018-11-13 23:44] thinkingserious commented on #820
Thanks for bringing this to our attention @yeldarby. I think this is a bug in our auto-generation code, since that particular file is auto-generated from our OpenAPI spec.

I'm leaving this open for a fix on our end, but we would also appreciate a manual PR if someone has the time to do that before it bubbles up on our backlog.

With Best Regards,

Elmer

[2018-11-13 23:48] thinkingserious commented on #834
Hello @10kc-zack,

I believe in the transactional template you would set the subject to be {{ subject }}, then in your code you set `data.subject` to be `"[TEST] My Email Subject"`.

Does that work for you?

With Best Regards,

Elmer

[2018-11-13 23:50] thinkingserious commented on #838
Hello @xyz92,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2018-11-13 23:50] #838 closed

[2018-11-13 23:52] thinkingserious commented on #839
Hello @joshicraft,

[Here](https://github.com/sendgrid/sendgrid-nodejs/blob/master/use-cases/transactional-templates.md) is an updated example on how to use our transactional templates within this library. Could you please adjust your code (e.g. this line `sgMail.setSubstitutionWrappers('{{', '}}')` is no longer needed) and let me know if that solves the issue.

With Best Regards,

Elmer

[2018-11-13 23:55] thinkingserious commented on #841
Hello @dungahk,

It looks like there is a bug in the `AttachmentData` interface. I will add this issue to our backlog for a fix as well as tag it for external contribution.

With Best Regards,

Elmer

[2018-11-13 23:59] thinkingserious commented on #843
Hello @nyel-dev,

I believe in the transactional template you would set the subject to be {{ subject }}, then in your code you set `data.subject` to be `"[TEST] My Email Subject"`.

Does that work for you?

With Best Regards,

Elmer

[2018-11-14 01:05] joshicraft commented on #839
Thank's for the update, I got what I needed by using the API instead of the require('@sendgrid/mail') lib.  :)

[2018-11-14 01:05] #839 closed

[2018-11-14 15:35] 10kc-zack commented on #834
Thanks for the reply @thinkingserious and your suggestion!

While this does get the job done (and is the work-around we are currently using), I would much prefer being able to set the subject as part of our API call body. Are you able to confirm that it is in fact the case that the subject provided to the API is discarded and that that information is missing from the API documentation?

[2018-11-14 23:15] ajsharp commented on #747
@thinkingserious I'd love to get this fixed, but I need a bit of guidance on how the library _should_ behave.

Can you summarize what the behavior here should be? It seems like the logic in question is trying to prevent the a user of this library from using the wrong property in the wrong context (`substitutions` vs `dynamicTemplateData`), as opposed to just sending the data along that the user ha

[2018-11-15 00:37] ajsharp commented on #747
@thinkingserious it looks like the typescript issue has been resolved here: https://github.com/sendgrid/sendgrid-nodejs/commit/2d55dc44b6028a6bcc2e26400ce187a905a8c754. Any plans to update the package with this change?

[2018-11-18 17:16] ciaoben opened #848 "Recipient not set and thus send of email is failing"
I am on `sendgrid/mail@6.3.1` and using this code taken from the example:

[code]

The code print "yes", so it seems to work but on the dashboard I see that every message fails, and it seems to not have the recipient set:

<img width="968" alt="schermata 2018-11-18 alle 18 14 04" src="https://user-images.githubusercontent.com/4526061/48675820-19606100-eb5e-11e8-8133-5923a24c6c40.png">

[2018-11-19 12:51] hridayam commented on #356
This is an old issue but I was facing a similar issue and the problem was that I had 2 terminal windows open. One for installing packages and the other for running the server. The `source ./sendgrid.env` needs to be done in the terminal window you're running the server in. So stopping the server, running the command and restarting the server fixed the issue for me.

[2018-11-19 15:19] jorgeqscholz commented on #693
I'm having the same issue and I'm running Node 11.2.0 + @sendgrid/client 6.4.1.
Everyone seems to fix it by upgrading but I'm stuck with it.

[2018-11-20 03:46] aroach commented on #693
@jorgeqscholz could you clarify what is happening?  Are seeing the same error as the OP?

If you're attempting the same syntax `var {Client} = require(...)`, see if removing the curly brackets in your variable declaration resolves the issue?

[2018-11-22 10:35] mawiseman opened #849 "Azure Functions Method not found: 'Void SendGrid.Helpers.Mail.SendGridMessage.SetTemplateData"
#### Issue Summary

When adding template data to an Azure Function i receive the error
Method not found: 'Void SendGrid.Helpers.Mail.SendGridMessage.SetTemplateData

#### Steps to Reproduce

1. Create an azure function and update the following files

**Run.csx**
[code]

**function.proj**
[code]

**function.json**
[code]

#### Technical details:

* sendgrid nuget Version: 9.10.0
* TargetFramework:

[2018-11-22 16:31] notdmart commented on #612
#850 to add this documentation

[2018-11-23 11:58] umarhussain15 opened #851 "Sendgrid errors list to identify error in try/catch."
#### Issue Summary
Where can I find the list of all the errors which the `@sendgrid/mail` client will throw while sending email?
I inspected the library code its returning `request` promises at the end. I need to identify the error in my `catch` block used with `async/await` as there are other requests as well in the same block where sendgrid call is initialized.

[2018-11-26 00:47] kevinsimper commented on #851
You would put another try/catch around the sendgrid module to handle those errors :)

[2018-11-26 16:34] benm-eras commented on #283
Just for anyone having the same issue I did. If you are using one of SendGrid's client libraries make sure it is up to date!

I was using the C# library version `9.9.0` and started getting this error out of the blue. I updated to version `9.10.0` and it resolved the issue.

Interestingly I had exactly the same issue with the C# Twilio library that an update resolved without me having to change any

[2018-11-26 21:54] thinkingserious commented on #848
Hello @ciaoben,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2018-11-26 21:54] #848 closed

[2018-11-26 21:55] thinkingserious commented on #849
Hello @mawiseman,

I believe the repo you are looking for is [this one](https://github.com/sendgrid/sendgrid-csharp). Could you please open your issue there? Thanks!

With Best Regards,

Elmer

[2018-11-26 21:56] #849 closed

[2018-11-26 21:57] thinkingserious commented on #851
Hello @umarhussain15,

[Here is a list](https://sendgrid.com/docs/API_Reference/Web_API_v3/Mail/errors.html) of all the errors that SendGrid could possibly throw.

Thanks for helping out @kevinsimper!

With Best Regards,

Elmer

[2018-11-27 04:44] umarhussain15 commented on #851
Thanks, I forgot to look at the docs. I was only looking at guide.
@kevinsimper thanks for solution regarding try/catch. I was converting my code from promises chaining to async/await, so I was hesitant to use mutiple try/catch but in the end this gives more control.

[2018-11-27 04:45] #851 closed

[2018-11-27 08:29] sculaste commented on #841
Hi @thinkingserious ,
Is there any updates on this one?

Best regards,
Solomon

[2018-11-27 11:10] esiqveland commented on #688
How does the example of multiple languages address translation of the email subject line?

[2018-11-27 18:45] kylearoberts commented on #688
@esiqveland

In the subject line in the template you would use something like this:

[code]

You basically use the same structure that is in the HTML content. Please let us know if you have further questions.

[2018-11-27 19:18] ajsharp commented on #747
@thinkingserious ping

[2018-11-28 01:50] ntellis commented on #817
Same problem here.

An example in the docs would be very useful for this case. In our use case, we have a variety of transactional email types that are non-critical (eg. user-relevant data change) and some that are (password reset). We have to be able to offer unsubscribe for the "optional" transactional emails and not for the others.

[2018-11-30 04:52] drewclem commented on #356
What's the solution to this if you're on windows? My issue may be different, as even with the key directly in place it still doesn't seem to work.

I do know it's not accessing my api key properly when I use .env but I also get 'unresolved promise...' as well

[2018-11-30 11:58] mbashiq commented on #686
@willxd42 Did you manage to figure out why this is happening by any chance. I am also running into the same issue for the past few days and cant figure out any working solution :/

Any help would be much appreciated!

[2018-11-30 13:42] atarabbi commented on #713
It should be like:
"dynamic_template_data":{
     "subject": "your subject",
 },

go to https://sendgrid.com/dynamic_templates
and add {{{subject}}} at TEMPLATE SETTINGS.

[2018-11-30 18:35] smschick commented on #834
As @10kc-zack stated this workaround does work but I've also noticed the template is converting some characters such as `'`  apostrophy.. ie "Someone's" to html entities.  My email arrives with the subject `Someone&apos;s`

[2018-12-02 16:37] patrickbolle opened #853 "Variable within subject with dynamic_template_variable_data doesn't work"
#### Issue Summary

I'm trying to insert a dynamical variable into the subject line via this library.
For example: "Hello {{name}}, welcome to {{store_name}}"
My email sends off no problem, but the subject renders {{name}} and {{store_name}} as... just that. No variables are inserted.

Code example:
[code]

In my template within Sendgrid UI, the subject value is: {{subject}}
I've also tried: {{{su

[2018-12-02 23:58] aroach commented on #853
You may need to generate the dynamic subject in your code.  Or, try adding that dynamic subject in the html template’s subject line as opposed to in the dynamic_template_data key

[2018-12-04 02:56] #853 closed

[2018-12-05 14:35] euangordon opened #854 "Substituting Raw HTML into Template not working"
Hi,

Using C# with Nuget SendGrid v9.10.0

I have substutions working fine, but I would like to also substite raw HTML into one area of a template. When I use SG website with test data it is working fine, but in real life I can see the HTML tags.

Referring to the document https://sendgrid.com/docs/ui/sending-email/using-handlebars/#substitution I can see that I need to use {{{ }}} brackets, but i

[2018-12-06 18:51] jseyfert commented on #676
change 'substitutions' to 'dynamicTemplateData'

[2018-12-06 22:17] aroach commented on #356
Are you setting it like this?

C:\> setx SENDGRID_API_KEY "YOUR_API_KEY"

Another way to provide environment variables to Node is to prepend the
environment variable on the command line:

SENDGRID_API_KEY=SG.xxx.yyyy node app.js

On Thu, Nov 29, 2018 at 9:52 PM Drew Clements <notifications@github.com>
wrote:

[2018-12-06 22:21] aroach commented on #676
@jseyfert shouldn't it be `dynamic_template_data`?

[2018-12-07 02:56] jseyfert commented on #676
@aroach you are correct. I have updated my comment.

[2018-12-07 23:35] #476 closed

[2018-12-07 23:36] #620 closed

[2018-12-07 23:39] thinkingserious commented on #624
We need to work with Heroku on updating the docs there. For now, I would recommend following the instructions in this repo. Thanks!

[2018-12-07 23:39] #624 closed

[2018-12-07 23:39] #657 closed

[2018-12-07 23:40] thinkingserious commented on #713
@atarabbi's solution should be what you need. Please continue to comment on this thread if you still run into issues. Thanks!

[2018-12-07 23:40] #713 closed

[2018-12-07 23:43] jeffbax commented on #713
But doesn't that still leave things ultimately not working according to how the library API is documented for us to consume?

[2018-12-07 23:44] thinkingserious commented on #747
@mateoholman, @ajsharp,

Are either of you working on this one?

@ajsharp,

I'm hoping to get a release out soon (Node.js is next in our queue), but I don't have a specific date.

[2018-12-08 18:02] becuz opened #856 "dynamicTemplateData should support object and array, not only strings"
#### Issue Summary

MailData type support only string values, while Handlebars support JSON.
In the Transactional Templates it's possible to have "Hello, {{obj.field}}!".
I tried myself using Test Data in Transactional Templates Preview. Also it is stated in the official documentation at https://sendgrid.com/docs/ui/sending-email/how-to-send-an-email-with-dynamic-transactional-templates/ and https

[2018-12-09 07:52] Astrydax commented on #646
I'm having this same issue, and I need to be able to store my keys in environment variables for security.

Hard coding API keys directly into the code source as a work around isn't really a solution.

[2018-12-10 19:38] drewclem commented on #356
I ended up getting this resolved. My .env file was one level up in the
directory to where I was using sendgrid.

So I fought for 3 days because I was missing a '.'
I was using source ./sendgrid.env and needed source ../sendgrid.env

On Thu, Dec 6, 2018 at 5:17 PM Ashley Roach <notifications@github.com>
wrote:

[2018-12-11 02:11] thinkingserious commented on #856
Thanks for bringing this to our attention @becuz! Great catch!

I have added this to our backlog and exposed the issue to our community with appropriate tags.

[2018-12-11 02:14] #670 closed

[2018-12-11 03:18] thinkingserious commented on #758
HI @leovazquezz1,

I'm not sure what you mean by rolled back to the first version? Do you mean that you are using a different version of the SDK? If so, which one?

@seif1000,

Were you able to figure out the issue?

[2018-12-11 11:14] roymilder commented on #676
At first it didn't work on my side either.
I've noticed that my version was a bit out of date (I was using @sendgrid/mail@6.2.1)
I've updated the package, change my code and now it is working:

using @sendgrid/mail@6.3.1

[code]

[2018-12-11 18:46] cesargamboa commented on #654
@brafdlog your solution worked for me! thanks!

[2018-12-11 20:59] ryanvolum opened #857 "Types are not exported"
#### Issue Summary

It's great that this library is typed, as it allows intellisense to help developers understand the shape of your API! Unfortunately for TypeScript developers who want to use your library, those types don't seem to be exported. Notably, having access to the `MailService` and `MailData` types would make it easier for TS developers to describe the shape of their applications.

My

[2018-12-11 21:47] aroach commented on #676
Yep, you need to use v6.3.1 for dynamic_template_data support.

On Tue, Dec 11, 2018 at 4:15 AM Roy Milder <notifications@github.com> wrote:

[2018-12-12 15:32] filetvignon commented on #844
I'm having the same issue, not with dynamic templates but regular HTML text using substitutions tags.

    let payload = {
        to: testEmail,
        from: {
          email: senderEmail,
          name: senderName,
        },
        reply_to: {
          email: senderEmail,
          name: senderName,
        },
        subject: 'Hey {{company}}',
        html: '<p>Hello {{name}}</p>',

[2018-12-12 21:52] baugarten commented on #713
Yeah, the method the docs suggest for changing the subject don't seem to work. I don't know if this is only a problem for dynamic_template_data, but I'm experiencing this as well.

I'll try using a dynamic template for the subject line, but the documentation is surprisingly inconsistent

[2018-12-13 16:51] aroach commented on #844
Hey Felipe --

Try removing the handlebars syntax in the substitutions property:

    substitutions: {
      '{{company}}': 'SendGrid',
      '{{name}}': 'John Doe',
    },

https://github.com/sendgrid/sendgrid-nodejs/blob/master/use-cases/transactional-legacy-templates.md

Let us know if that resolved your issue!

On Wed, Dec 12, 2018 at 8:32 AM Felipe Vignon <notifications@github.com>
wrote:

[2018-12-13 17:04] cdoyle429 opened #859 "UnhandledPromiseRejectionWarning: Unhandled promise rejection."
#### Issue Summary

I am just getting started with sendgrid and I am struggling to send emails. I am getting the following error:

(node:3212) UnhandledPromiseRejectionWarning: Error: Bad Request
    at Request.http [as _callback] (C:\Users\1444728\Documents\sendgrid\node_modules\@sendgrid\client\src\classes\client.js:124:25)
    at Request.self.callback (C:\Users\1444728\Documents\sendgrid\node_m

[2018-12-13 17:09] aroach commented on #713
From what I'm seeing in the docs [here](https://github.com/sendgrid/sendgrid-nodejs/blob/master/packages/mail/USE_CASES.md#transactional-templates), it's documented to update the template subject with the handlebars variable (granted, this could be a more expansive explanation).  @baugarten Just to make sure, are you saying that is not working for you?  Can you point out where we're pointing you i

[2018-12-13 17:30] aroach commented on #859
Hi @cdoyle429 -- thanks for giving us a go!

Generally a Bad Request indicates something is wrong with the JSON that is being sent to the server.

The only material difference between what you've provided above and the example below is that you haven't supplied the `html` property[1].  Try adding that and see if it works, and let us know.

https://github.com/sendgrid/sendgrid-nodejs/tree/master/pa

[2018-12-13 17:49] cdoyle429 commented on #859
I have tried with the html property also and I am still getting the issue

[2018-12-13 18:17] aroach commented on #859
I've copied the code that you pasted above, and your code is working for me.  I'm using the same versions of the library and node as you.

[2018-12-13 19:11] cdoyle429 commented on #859
I was running this on my work laptop. I replicated this on my personal laptop and did not have an issue. So the problem probably lies in the permissions on my laptop or proxy settings.

Thanks!

[2018-12-13 20:21] aroach commented on #859
Ok cool. Thx for the update. Proxy crossed my mind but wasn’t sure how you
were running things.

On Thu, Dec 13, 2018 at 12:11 PM cdoyle429 <notifications@github.com> wrote:

[2018-12-13 22:45] aroach commented on #646
@Astrydax can you share how you're setting your environment variables?

[2018-12-13 22:46] aroach commented on #356
Oh bummer @drewclem but glad you figured it out!

[2018-12-18 07:02] guptaluv99 opened #861 "How to set up webhook for dynamic template emails"
#### Issue Summary

We use sendgrid to email our customers and we store events against all the emails sent to get an insight of how our marketing and promotional emails are doing. But when we started using some of dynamic template emails we are unable to store events against them. Please let us know any api ref doc link or some useful resource which can help in setting up a webhook for events on d

[2018-12-18 10:04] alexdabast commented on #680
Very confusing that you have to use `dynamic_template_data`
It would be nice to update the documentation https://sendgrid.com/docs/API_Reference/api_v3.html

[2018-12-18 19:53] aroach commented on #861
Hi @guptaluv99 -- This doesn't sound right to me, I'd recommend reaching out to our Support team (support.sendgrid.com) to double-check this behavior.

[2018-12-20 17:48] larkydoo commented on #834
Doh! I found where the {{subject}} needs to be set. In case anyone else has this issue, go in to edit your template, then click "Settings" on the left. There will be a space to enter your Subject. Enter {{subject}} here.

[2018-12-20 22:11] thinkingserious commented on #857
Hello @ryanvolum,

We would love to have a PR! Thanks for offering to do that 😀

With Best Regards,

Elmer

[2018-12-20 22:13] #859 closed

[2018-12-20 22:14] #861 closed

[2018-12-24 17:50] jem890 opened #863 "Not able to get the template list"
![image](https://user-images.githubusercontent.com/4973274/50404801-978ed380-07ac-11e9-9713-fb72454bc8ab.png)
Hi, when I try to get the template list, the api returns only the legacy templates, not the regular transactional templates.

Could you please help?
Thanks

[2018-12-27 03:21] thomasdelgado opened #864 "error: request body is invalid when adding recipients"
#### Issue Summary

Running the following example is throwing a `request body is invalid` error.
https://github.com/sendgrid/sendgrid-nodejs/blob/master/packages/client/USAGE.md#add-recipients

#### Steps to Reproduce

1. Run this example: https://github.com/sendgrid/sendgrid-nodejs/blob/master/packages/client/USAGE.md#add-recipients

I'm following the example as mentioned above, but I'm getting t

[2018-12-28 23:48] Dygerati opened #865 "Operator incompatible errors when using client with /messages endpoint"
#### Issue Summary

I'm trying to use the _@sendgrid/client_ package to query the `/messages/` endpoint for version 3, and return only activity that has occurred since a certain date/time. Here is my code:
[code]
This will produce the error `operator > is incompatible with DATETIME, NUMBER`.

I've tried encoding the query property string, as seems to be indicated by the documentation, but that jus

[2018-12-31 20:34] filetvignon commented on #844
Thanks, it did work!
But still I find it weird that using sgClient instead of sgMail the substitutions work with handlebars syntax but sgMail requires NOT to use the handlebars (did not test to see if using sgClient WITHOUT handlebars worked though).

[2019-01-03 00:22] thinkingserious commented on #863
Hello @jem890,

Please use `/v3/templates?generations=legacy,dynamic` for the `url` value if you want to get all templates. If you just want the newer templates, please use `/v3/templates?generations=dynamic`.

Thanks!

With Best Regards,

Elmer

[2019-01-03 00:34] amlcodes opened #867 "deepMergeDynamicTemplateData"
putting this into a netlify functions handler for lambda
[code]

I get the following

[code]

with this call
[code]

this.dynamicTemplateData=s(e,this.dynamicTemplateData)}} in the generated mailinglist.js

[2019-01-03 00:38] thinkingserious commented on #864
Hello @thomasdelgado,

Was there any other data returned with the [error](https://github.com/sendgrid/sendgrid-nodejs/blob/master/packages/mail/USE_CASES.md#success-failure-errors)? Can you please provide your [request body](https://github.com/sendgrid/sendgrid-nodejs/blob/master/TROUBLESHOOTING.md#viewing-the-request-body)?

Thank you!

With Best Regards,

Elmer

[2019-01-03 00:44] thinkingserious commented on #865
Hello @Dygerati,

Your code looks correct to me. I've added this to our backlog for further investigation.

In the mean time, you might try experimenting [here](https://sendgrid.com/docs/API_Reference/api_v3.html).

With Best Regards,

Elmer

[2019-01-03 01:17] #863 closed

[2019-01-03 19:22] thinkingserious commented on #867
Hello @amlcodes,

It looks like Netlify added this code `s(e,this.dynamicTemplateData)` with out defining what the function `s` is. What happens when you remove that line?

With Best Regards,

Elmer

[2019-01-03 21:18] #799 closed

[2019-01-03 21:43] thinkingserious commented on #834
@10kc-zack,

I have a request open to make that change the documentation. I'm assuming you are referring to [this documentation](https://sendgrid.com/docs/API_Reference/api_v3.html), correct?

With Best Regards,

Elmer

[2019-01-04 18:54] thinkingserious commented on #865
Hello @Dygerati,

It looks like you may need to specify a [range of dates](https://sendgrid.com/docs/for-developers/sending-email/getting-started-email-activity-api/#filter-by-date-range), could you please try that?

With Best Regards,

Elmer

[2019-01-04 19:33] thinkingserious commented on #844
@shahrpt,

Has your issue been resolved? Thanks!

With Best Regards,

Elmer

[2019-01-04 20:30] Dygerati commented on #865
Thanks @thinkingserious, I was able to get that to work. Much appreciated.

Also, wanted to mention that there seems to be an extra `%` in the example directly before the start date.

[2019-01-04 20:30] #865 closed

[2019-01-04 20:37] 10kc-zack commented on #834
@thinkingserious That is indeed the documentation I was referring to :+1:

[2019-01-08 02:36] jlouie commented on #843
Hi @thinkingserious, hoping you may have additional insight.

I am transitioning from a legacy template to the transactional template and I am experiencing this same issue now (sendgrid-nodejs v6.3.1, Node: v8.11.4) even after replacing the transactional template subject field with `{{subject}}`.  I have not explicitly set the substitution wrappers via `setSubstitutionWrappers()` and have just fal

[2019-01-08 09:05] KamilSobieraj opened #869 "SendGrid sends e-mails only when connected to specific networks"
Need help with SendGrid. I've created a form that is sending e-mail with an order to a one specific e-mail address. But it works only when I'm connetcted to the internet on my hotspot or to my office network. When I'm connected to any different network with the internet connection nothing happens. I supposed the problem might be in my account settings, but SendGrid Support Member checked it and sa

[2019-01-08 21:31] jem890 commented on #863
Many thanks, it works as expected. Great support.

[2019-01-11 06:44] uups commented on #676
Hi, do not forget
not create transactional template, create legacy template and make a copy of it
then every steps that you do gonna work.

[2019-01-11 14:21] markszmalc commented on #864
Hi!

I got same error.

My request url is https://api.sendgrid.com/v3/contactdb/lists/<<l_id>>/recipients/<<r_id>>

headers2 = {
	'authorization': "Bearer " + sg_key
}

method  POST

and I GOT response:
{"errors":[{"message":"request body is invalid"}]}

RESPONSE HEADER
{'Date': 'Fri, 11 Jan 2019 14:16:17 GMT', 'Content-Length': '51', 'Content-Type': 'application/json', 'Connection': 'keep-alive',

[2019-01-12 19:54] Berkmann18 opened #870 "Update documentation to reflect use of promises."
It's not an issue per se but more of a README/documentation suggestion.
That concerns the example(s) on the [README](https://github.com/sendgrid/sendgrid-nodejs/blob/master/packages/mail/README.md)/[USE_CASES](https://github.com/sendgrid/sendgrid-nodejs/blob/master/packages/mail/USE_CASES.md).

The basic example is this:
[code]
But reading this makes me think it's a synchronous code which is fine

[2019-01-13 17:55] MohitSuhane opened #871 "Images not displayed in the mail"
#### Issue Summary

Sending a mail with html that contains Images. Using base64Img(base64Img.base64Sync) to encoding image as base64. Below is my code:

[code]
The email that is send does not display the image. It shows the alt text 'Image 1', in place of image.

#### Technical details:

* sendgrid-nodejs Version: master (latest commit: [commit number])
* Node.js Version: 4.1.2

[2019-01-15 14:17] pcrispim opened #872 "Unexpected promise rejection while using callback API"
#### Issue Summary

When calling the mail `send(..)` with a callback, errors are passed to the callback — as expected — and a promise rejection is also produced — which is unexpected and undesirable, as the promise rejection escapes unhandled (other than the unhandled promise rejection handler, by which time it's too late).

#### Steps to reproduce

The code:
[code]

Produces the following:
[code]

[2019-01-16 16:05] adamsoffer opened #873 "Protecting Endpoints in the Subscription Widget Package"
In the subscription widget package, I was wondering, is there anything stopping someone from posting to the `/signup` endpoint and bypassing a user's confirmation link in the email?

[2019-01-16 19:05] herkulano opened #874 "Confused between `substitutions` and `dynamicTemplateData`"
#### Issue Summary

I'm confused between `substitutions` and `dynamicTemplateData`.

I only get the `substitutions` or `dynamicTemplateData` to work if I send both! If I take out either of them it doesn't replace the handlebars values in the template.

[code]

#### Technical details:

* sendgrid-nodejs Version: 6.3.1
* Node.js Version: 10.15.0

[2019-01-17 16:50] Berkmann18 commented on #873
You could add a middleware on the route which would check if said user is allowed (say if the credentials/token are/is valid) then you call `next()` in that route which would lead to where `/signup` is pointing towards.

[2019-01-17 16:53] Berkmann18 commented on #872
That's because `send()` is asynchronous so I guess Node didn't treat the `error` handling in the callback as the `reject`ion handler.
Have you tried using the `then`able version or the ES8 approach?

[2019-01-17 16:54] Berkmann18 commented on #871
Have you checked if the path of the image was correct?

[2019-01-17 16:54] adamsoffer commented on #873
Thanks. Is there a token that gets included in the sendgrid webhook or is it possible to include one?

[2019-01-17 16:56] adamsoffer commented on #873
Basically, I want the webhook to be allowed to post to the `/signup` endpoint, but no one else.

[2019-01-17 17:09] Berkmann18 commented on #813
Alternatively, you could use `semantic-release` which resolves this _and_ #796 with a `.releaserc` config like this:
[code]
And this in the `.travis.yml`:
[code]
And the relevant additions in `package.json` of course.

[2019-01-17 17:12] Berkmann18 commented on #672
This seems fixed on the current version (6.3.1).

[2019-01-17 17:19] Berkmann18 commented on #873
I'm not that familiar with the codebase but I think you _should be able_ to do so.

There's your login token which you need to specify to the `sendgrid` package you're using so you could, in theory, get your webhook to use that.

I haven't tried that myself but I think that's at least one way to go about it (feel free to prove me wrong).

I'm not that familiar with the codebase but I think you _sh

[2019-01-17 17:19] pcrispim commented on #872
True, but the asynchronous nature of `send()` can be handled by callbacks or promises — however when using the callback form of `send()` a promise-like behaviour is unexpected.

For example, in the [`client.request()`](https://github.com/sendgrid/sendgrid-nodejs/blob/f94a3924db7fd1380a341af1903955f5c526d0ba/packages/client/src/classes/client.js#L141) the result and error are issued correctly by re

[2019-01-17 20:23] thinkingserious commented on #869
Hello @KamilSobieraj,

[Perhaps Postman](https://learning.getpostman.com/docs/postman/sending_api_requests/troubleshooting_api_requests/) can help you troubleshoot your connectivity issues.

With Best Regards,

Elmer

[2019-01-17 20:25] thinkingserious commented on #870
Great idea @Berkmann18! Thanks for taking the time to make this suggestion.

I have labeled it appropriately to get this change integrated into our docs.

[2019-01-17 20:27] thinkingserious commented on #871
Thanks for helping out @Berkmann18!

@MohitSuhane,

Please do check the path and be sure that the value of `img1` and `img2` are correct.

With Best Regards,

Elmer

[2019-01-17 20:29] thinkingserious commented on #872
@adamreisnz,

What do you think about returning the callback to avoid this issue?

[2019-01-17 20:36] thinkingserious commented on #874
Hello @herkulano,

You would use `dynamicTemplateData` along with our [transactional templates](https://github.com/sendgrid/sendgrid-nodejs/blob/master/use-cases/transactional-templates.md). `substitutions` are used with our [legacy templates](https://github.com/sendgrid/sendgrid-nodejs/blob/master/use-cases/transactional-legacy-templates.md).

I hope that helps!

With Best Regards,

Elmer

[2019-01-17 20:38] adamsoffer commented on #873
@thinkingserious The way the double opt-in works is when you click the confirmation link in an email, it triggers a sendgrid webhook that makes a post request to the `/signup` endpoint provided in the package. If an access token exists in the webhook post request, I could check if and only proceed only if it's present. Otherwise, I'm not sure the solution described by @Berkmann18 works.

[2019-01-17 20:45] adamsoffer commented on #873
BTW I'm referring to the Event webhook. The package utilizes the "click" event described [here](https://sendgrid.com/docs/for-developers/tracking-events/event/).

[2019-01-17 20:51] adamsoffer commented on #873
Another potential solution: whitelist the sendgrid IP?

If sendgrid has a known/static IP I could whitelist it and only sign up a user if the webhook originated from this whitelisted IP.

[2019-01-17 21:00] thinkingserious commented on #840
Hello @atellier,

Please feel free to re-open if you still need some help.

With Best Regards,

Elmer

[2019-01-17 21:00] #840 closed

[2019-01-17 21:16] thomasdelgado commented on #864
Hello @thinkingserious!
Sorry for late response.

I didn't get any other error, is the same thing as @markszmalc stated. But here's my body function.

[code]

Since I was in hurry to solve my problem, I've ended up creating a workaround where I call this specific endpoint via plain http request. It would be neat everything using the sdk though.

Thanks!

[2019-01-17 22:30] thinkingserious commented on #864
Hi @thomasdelgado,

Can you please share the plain http request you are using?

Thanks!

With Best Regards,

Elmer

[2019-01-17 22:36] thomasdelgado commented on #864
Sure @thinkingserious

This is the solution that I've ended up using for my problem. It uses `request 2.88.0`

[code]

[2019-01-18 03:18] thinkingserious commented on #873
Hello @adamsoffer,

[Here are examples](https://sendgrid.com/docs/API_Reference/Event_Webhook/event.html) of what fields the event webhook is expected to return. Perhaps some combination of these could be use to help verify that only our webhook is accepted by your `/signup` endpoint. I'm not sure if you can reliably count on the SendGrid IP to be static.

Another thought, you could also randomize

[2019-01-18 04:16] adamsoffer commented on #873
Thanks @thinkingserious. Randomizing the `/signup` endpoint is an interesting thought. Although,  anyone can then use that `XXXXX` value to post to the endpoint right? Unless I'm misunderstanding.

[2019-01-18 05:17] adamsoffer commented on #873
@thinkingserious Perhaps I could add a query parameter with an access token to the sendgrid webhook and check for it in the `/signup` request handler.

[2019-01-18 08:42] prasoojalan opened #875 "attachment in mails have 0 bytes"
Hello,

I am using @sendgrid/mail -  "^6.3.1" & node - 10.14.1.

My problem is that when i send single row data from database in excel attachment , I am able to received mail with attachment but when i send multiple row data from database data in excel as  attachment, I receive attachment with 0 bytes . I have embeded images also in the file. I am trying to attach same file creating through excelj

[2019-01-18 09:14] adamreisnz commented on #872
I guess we can place a return on line 39, it will then return a promise that always resolves with the value of the callback?

[2019-01-18 10:54] Berkmann18 commented on #872
@pcrispim I just tried your code (I couldn't do it yesterday as my home laptop has a hard disk / GRUB problem yet to be resolved) and here's what I got:
[code]
I then tried using the same code but specifying a `from` and a `to` value (which, you should always do, hence the first line of your error) and I got no output (the mail was sent and received as expected):
[code]

[2019-01-18 11:15] Berkmann18 commented on #871
@thinkingserious No problem 😄.

[2019-01-18 11:16] Berkmann18 commented on #870
@thinkingserious You're welcome.

[2019-01-18 14:42] pcrispim commented on #872
@Berkmann18 yes, that's the cause of the error (the code generating the emails must validate the input before sending) — but it's still the case that the error reporting of `send()` when used with callbacks will produce an unhandled promise rejection... ;)

[2019-01-18 14:54] Berkmann18 commented on #872
@pcrispim True (at least until someone does what @adamreisnz suggested, which I think is the right thing to do).

[2019-01-18 15:20] adamsoffer commented on #873
Seems like that's best practice. At least[ that's how github](https://developer.github.com/webhooks/securing/) and many others go about securing webhooks.

So adding `?token=my_token` to the HTTP post url in sendgrid and exporting an environment var that stores this token `export token=my_token`.

I think it might be worth submitting a PR to the package with this change to prevent others who plan

[2019-01-18 18:20] adamsoffer commented on #873
@Berkmann18 gotcha. So sendgrid puts all query parameters on the post URL into the body?

[2019-01-18 19:02] adamsoffer commented on #873
@Berkmann18 Gotcha. At this point I just need to determine what's the more secure approach.

Option 1:
Explicitly adding a query parameter to the webhook like so:
![image](https://user-images.githubusercontent.com/555740/51407216-38ad4780-1b29-11e9-8620-c11c1bab2a86.png)

Option 2:
Passing the token as a `custom_arg` to the confirmation email body. (My only concern with this approach is I'm not su

[2019-01-19 20:09] Berkmann18 commented on #873
@adamsoffer If you want to pass it in the URL it can also be a route param like http://somesite.com/signup/:token which would parse `http://somesite/signup/yourtoken`.
For option 2, you could pass it as a `hidden` field (`<input type="hidden">`).

[2019-01-19 21:48] adamsoffer commented on #873
@Berkmann18 passing it as a hidden field to the signup form would expose it to the user which it can then use to bypass the opt-in. I'm thinking option 1 is the way to go.

[2019-01-19 22:13] Berkmann18 commented on #873
Fair point.

[2019-01-20 21:41] danielzen commented on #874
Can someone please update the docs at

https://sendgrid.com/docs/for-developers/sending-email/personalizations

to mention `dynamic_template_data` where `substitutions` are mentioned? I think this could save a lot of people a lot of time.

Thanks!

[2019-01-23 04:46] thinkingserious commented on #875
Hello @prasoojalan,

It sounds like you either have a problem with the path to the file or the file encoding. I would double check the values of `excelFile.*` in your code to ensure the file exists. Then, I would ensure that the file itself is base64 encoded correctly. Maybe [this tool](https://www.base64encode.org/) can help with the latter.

With Best Regards,

Elmer

[2019-01-23 06:35] prasoojalan commented on #875
Hello @ Elmer

My full code for creating and sending file is as -

[code]

[2019-01-23 07:37] prasoojalan commented on #875
Hello @Elmer

Thanks for your suggestion, it helped me understanding the flow of my code which was puzzling me a lot.
I figure out my mistake and solved it. My code generated excel file with no records by the time mail was sent. So , I removed my mail code from the function and created a separate function and then called the function after the getExcelFile function. This way I was sure that the fi

[2019-01-23 07:37] #875 closed

[2019-01-23 20:50] thinkingserious commented on #864
@thomasdelgado,

Can you try changing `const data = {name: name, email: email}` with `const data = {first_name: name, email: email}`? Thanks!

With Best Regards,

Elmer

[2019-01-23 20:51] thinkingserious commented on #871
Hi @MohitSuhane,

Did you still need help on this issue?

[2019-01-23 20:53] thinkingserious commented on #872
Thanks for the feedback @adamreisnz. I'll leave this issue open and re-tag appropriately.

@Berkmann18, thanks for the continued support!

@pcrispim, thanks for your patience and feedback!

[2019-01-23 20:56] thomasdelgado commented on #864
Hello @thinkingserious!

In that time, I've tried that and lots of variations. (My approach was testing first here https://sendgrid.com/docs/API_Reference/api_v3.html to make sure I was not doing something stupid, then try again on sdk)

I can try that again soon and let you know.

Thanks!

[2019-01-23 20:57] thinkingserious commented on #873
Hi @adamsoffer,

If you want to submit a PR documenting your final security solution here that would be great.

@Berkmann18,

Thanks again for your continued support!

[2019-01-23 20:57] #873 closed

[2019-01-23 21:00] thinkingserious commented on #874
Hello @herkulano,

Is your issue now resolved?

@danielzen,

Thanks for pointing out that documentation link! (cc @ksigler7 @Whatthefoxsays)

With Best Regards,

Elmer

[2019-01-23 21:19] adamsoffer commented on #873
Will do. Thanks guys!

[2019-01-23 22:04] thinkingserious commented on #864
Thanks @thomasdelgado, I appreciate your patience!

[2019-01-24 00:36] jlouie commented on #843
@thinkingserious: Unfortunately, it doesn't.  I'm still experiencing a missing Subject line in the email sent/received, just like @nicholasess.

[2019-01-24 07:18] herkulano commented on #874
Not really, as I mentioned for some reason it only works if I add both values if I take either one it doesn't work.

I've since moved away from sendgrid so I won't be able to follow up on this.

Thank you for your support.

[2019-01-24 18:42] Berkmann18 commented on #873
@thinkingserious @adamsoffer You're welcome.

[2019-01-24 21:31] thinkingserious commented on #843
Hello @jlouie,

Does your subject area look something like this in the UI?

![screen shot 2019-01-24 at 1 30 06 pm](https://user-images.githubusercontent.com/146695/51709821-486ed500-1fdc-11e9-9f88-ef72d3b52787.png)

With Best Regards,

Elmer

[2019-01-24 21:33] thinkingserious commented on #874
Thanks for the response @herkulano,

If you choose to come back, I'm happy to further assist.

[2019-01-24 21:33] #874 closed

[2019-01-24 21:34] formster-biz commented on #874
@thinkingserious

and here... https://sendgrid.api-docs.io/v3.0/mail-send/v3-mail-send

[2019-01-26 03:42] aneesshameed opened #879 "#with block not working"
{{#with name}}
  {{first}}, {{second}}
{{/with}}

using #with block in handlebar syntax is not working, it shows positive result while testing in email editor but while making api calls #with block fails.

[2019-01-26 15:45] nyel-dev commented on #843
By the way I was able to solve this problem by using the Set Subject on the Sendgrid template interface.

[2019-01-26 19:09] nicholasess commented on #843
I suggest that the settings change to the menu like code,  test data.
![image](https://user-images.githubusercontent.com/3238901/51791627-2cf6fc00-218d-11e9-9d83-0e6f689e7e12.png)

The place where is the settings, is hidden :/

[2019-01-28 19:31] thinkingserious commented on #843
Thanks for the feedback @nicholasess! I will pass it on to the design team.

[2019-01-28 19:31] #843 closed

[2019-01-29 01:53] aneesshameed commented on #879
Bellow are the screenshots, #with works in email editor
![TEST DATA](https://user-images.githubusercontent.com/12719773/51878232-fee40880-2394-11e9-9aa6-4ae622b7c593.png)

![HTML Template](https://user-images.githubusercontent.com/12719773/51878289-22a74e80-2395-11e9-8a54-104b8642fa63.png)

TEST DATA Used
{
  "name":{
    "first": "Anees",
    "last": "Hameed"
  },
  "orders": [
    {
      "order

[2019-01-29 01:58] aneesshameed commented on #879
Bellow are the screenshots, #with works in email editor
TEST DATA
![TEST DATA](https://user-images.githubusercontent.com/12719773/51878864-3b186880-2397-11e9-9f39-1fba1b4b1448.png)

HTML Template
![HTML Template](https://user-images.githubusercontent.com/12719773/51878877-49ff1b00-2397-11e9-9d88-a6506bf80f22.png)

TEST DATA Used
{
"name":{
"first": "Anees",
"last": "Hameed"
},
"orders": [
{
"order

[2019-01-29 18:08] Burtonium opened #880 "context.sg.emptyRequest is not a function with @sendgrid/contact-importer"
#### Issue Summary
Pushing a contact to the contact importer instance throws the following error:

[code]

package.json:
[code]

#### Steps to Reproduce
[code]

What is going on here?

#### Technical details:
Node.js Version:v11.1.0

[2019-01-29 18:38] thinkingserious commented on #880
Hello @Burtonium,

I'm not sure what is going on here, I don't even see a call to the `emptyRequest` function [here](https://github.com/sendgrid/sendgrid-nodejs/blob/master/packages/contact-importer/src/importer.js#L81).

I'm adding this to our backlog as a bug to dig deeper. Thanks for reporting this!

With Best Regards,

Elmer

[2019-01-29 21:13] thinkingserious commented on #879
@aneesshameed,

My apologies, I have found that the #with block is not supported. The UI editor we use is likely using handlebars proper, while our API implementation is a subset. This is why it is not documented.

I have passed along feedback to the team to add support on your behalf. Thank you!

With Best Regards,

Elmer

[2019-01-29 21:13] #879 closed

[2019-01-31 16:30] davision opened #881 "can't resolve fs"
#### Issue Summary

A summary of the issue and the environment in which it occurs. If suitable, include the steps required to reproduce the bug. Please feel free to include screenshots, screencasts, code examples.

#### Steps to Reproduce

1. This is the first step
2. This is the second step
3. Further steps, etc.

Any other information you want to share that is relevant to the issue being reporte

[2019-01-31 16:30] #881 closed, assigned to nobody

[2019-01-31 19:05] soryy708 commented on #351
Still happens for boolean values.

[2019-02-01 07:00] ferarnoled commented on #612
For V3 here's the snippet

[code]

[2019-02-01 12:59] Nditah commented on #693
**It doesn't resolve the issue.** It says "TypeError: Client is not a constructor at new MailService"

    this.setClient(new Client());
                   ^

[2019-02-02 00:43] brandonwk opened #882 "Not an object provided for data at mergeData"
#### Issue Summary

When following the example provided the following error is provided:

Error: Not an object provided for data at mergeData (/node_modules/@sendgrid/helpers/helpers/merge-data.js:13:11)

#### Steps to Reproduce

example provided:

const data = [
    { email: 'Testing@email.com',
        first_name: 'teddy',
        last_name: 'ted',
        userType: 'Workshop' }
];
request.body

[2019-02-06 14:01] thinkingserious commented on #882
Hello @brandonwk,

I think:

[code]

should be:

[code]

With Best Regards,

Elmer

[2019-02-06 14:11] KerimHelal opened #883 "String literals not supported ?"
#### Issue Summary

I just switched to transactional templates and now i see my substitution which is in string literals format is not working anymore (it shows nothing on the email), how to overcome this problem?

#### Steps to Reproduce
{{{content}}} ---> this is the tag on sendgrid template
[code]

#### Technical details:

* sendgrid/mail 6.2.1

[2019-02-06 17:17] tlinhart commented on #688
Hi @kylearoberts, is there a way how to check variable value in the conditional? So instead of checking multiple variables like `english` or `spanish`, I'd just check if `language` variable equals `en` or `es`. This doesn't make much difference in the template itself, but it does on the backend where I have to translate language code variable into specially named variable in dynamic template data.

[2019-02-06 18:34] tahayazdani opened #884 "SendGrid shows email without Subject"
SendGrid shows email without Subject

Hi Everyone,
Here is my issue with SendGrid and seems like it's a bug:
I sent an email with subject(it's not possible send an email without subject), and after that I had a API call for that MessageID and realized that SendGrid showed me blank subject.
Like I said for sure I passed the subject and it's most likely happens with the email got failed, However I h

[2019-02-06 21:00] kylearoberts commented on #688
@tlinhart

Thanks for the great question. As it stands right now, the system will not work that way, but we will likely have something later on that will allow something like that. When we do make such a change we will likely update our docs and examples for how to use transactional templates.

[2019-02-07 12:47] bragma commented on #688
Hi,
I'm currently using the new template system for my multi language emails. The main problem is the subject field limited length. Basically, my subject content is like this:

But there are a few problems:

1. The subject field length is not enough for more than a few languages. I had to cut down the text and variable names just to stay within the limits. But this will obviously not work should w

[2019-02-07 13:50] adesai201 opened #885 "Transnational Template getting replace by "-" after sending mail"
I create a transactional template and then trigger a mail from my JAVA code. On the first time when I trigger mail, everything works fine and mail received with proper template and data.
But at the same time, my template HTML is replaced with "-" automatically.
I don't why but I'm not able to understand the workaround for this.

Here is my sample code :

public void sendSurveyResponseNotification(

[2019-02-07 15:48] thinkingserious commented on #883
Hello @KerimHelal,

I believe in the SendGrid template you would need: ``{{content}}``.

Thanks!

With Best Regards,

Elmer

[2019-02-07 15:50] thinkingserious commented on #884
Hello @tahayazdani,

I have a couple of follow up questions:

1. Can you share your code?
2. Are you using dynamic templates.
3. When you say that "SendGrid showed me blank subject", do you mean in your email client?
4. How did you detect that the email failed?

Thanks!

With Best Regards,

Elmer

[2019-02-07 15:52] thinkingserious commented on #885
Hello @adesai201,

This is the repo for our Node.js library, could you please move this issue to our [Java library](https://github.com/sendgrid/sendgrid-java)? Thanks!

With Best Regards,

Elmer

[2019-02-07 15:52] #885 closed

[2019-02-07 18:30] kylearoberts commented on #688
@bragma

I have run into the same issue as you. This is also not the first time we have heard this. We love getting feedback like this because it helps us improve our products. I have made sure to get your feedback to our engineering team and I can tell you this is one of the areas they want to improve things. When they get a chance to work on improvements this is likely to be one of them. Thank y

[2019-02-07 20:47] tahayazdani commented on #884
Hey @thinkingserious
Please see my notes blow 👍

* Can you share your code?

` var config = JsonConvert.DeserializeObject<Configuration>(Helper.GetFileContent("Config.json"));
            var apiKey = Helper.GetApiKey();
            var client = new SendGridClient(apiKey);
            var msg = new SendGridMessage()
            {
                From = new EmailAddress(config.From, config.FromFull

[2019-02-08 22:43] btmdave opened #886 "Send by subuser"
Is there no way to send from a subuser? Not seeing the authentication methods from `@sendgrid/mail` or within `@sendgrid/client`.  Any points in the right direction would be greatly appreciated.  Thank you.

[2019-02-09 11:25] mujsann opened #887 "UnhandledPromiseRejectionWarning: Error: Unauthorized"
#### Issue Summary

A summary of the issue and the environment in which it occurs. If suitable, include the steps required to reproduce the bug. Please feel free to include screenshots, screencasts, code examples.

#### Steps to Reproduce

1. This is the first step
2. This is the second step
3. Further steps, etc.

Any other information you want to share that is relevant to the issue being reporte

[2019-02-09 11:25] #887 closed

[2019-02-09 14:00] mujsann opened #888 "UnhandledPromiseRejectionWarning: Error: Unauthorized"
I keep getting the error below while integrating Sendgrid SMTP/API 
I've tried changing the API keys and sender emails severally. I've even tried hardcoding the Api key as an arg for the sendGrid.setApiKey method. This is not the first time I'm using sendgrid for a project and I've never had this issue before.

"(node:35908) UnhandledPromiseRejectionWarning: Error: Unauthorized Request.http [as _c

[2019-02-09 18:48] thilankascentic opened #889 "SetTemplateData not working in .NET ( azure functions)"
#### Issue Summary

Im trying to bind some values to transcriptional template, but those values not binding.

[code]

email sending perfectly but values not binding, anyone got a solution for this ?

[2019-02-09 20:26] duongtungls commented on #281
For now 2019 this issue still occurs with request to `https://api.sendgrid.com/v3/mail/send` send from sendgrid-nodejs SDK

[2019-02-11 14:51] thinkingserious commented on #886
Hello @btmdave,

You will need to add a custom header [like so](https://github.com/sendgrid/sendgrid-nodejs/blob/master/use-cases/custom-headers.md). But with `On-Behalf-Of: subusername` as the `headers` key.

With Best Regards,

Elmer

[2019-02-11 14:53] thinkingserious commented on #888
Hello @mujsann,

To rule out the API key, please try a simple cUrl request, [like so](https://sendgrid.com/docs/for-developers/sending-email/curl-examples/).

If that works, then please provide the code you are using that generates this error so that we can try to duplicate.

Thank you!

With Best Regards,

Elmer

[2019-02-11 14:55] thinkingserious commented on #889
Hello @thilankascentic,

This looks to be a C# issue, could you please repost this in the [C# SDK](https://github.com/sendgrid/sendgrid-csharp)? Thanks!

With Best Regards,

Elmer

[2019-02-11 14:55] #889 closed

[2019-02-11 14:56] btmdave commented on #886
Perfect, thanks @thinkingserious, will give that a shot.

[2019-02-11 18:52] thinkingserious commented on #884
Hello @tahayazdani,

This is C# code and this is the Node.js repo, do you mind posting this issue at our [C# SDK repo](https://github.com/sendgrid/sendgrid-csharp)?

With Best Regards,

Elmer

[2019-02-11 18:52] #884 closed

[2019-02-11 18:52] thinkingserious commented on #886
Awesome, please let me know how it goes.

[2019-02-13 07:52] jersonjcnt opened #890 "congratulations beautiful work"
Thanks for your documentation I am beginning to implement sendgrid to my application.

[2019-02-13 08:27] #890 closed

[2019-02-15 04:58] brycelund opened #891 "Client network socket disconnected before secure TLS connection was established"
#### Issue Summary

I've been using the @sendgrid/mail library fine until this evening I started getting the error _Client network socket disconnected before secure TLS connection was established_. Not sure how to go about troubleshooting this. Any ideas?

#### Technical details:

* sendgrid/mail Version: 6.3.1
* Node.js Version: v10.11.0

[2019-02-15 15:52] aroach commented on #891
@brycelund you might try to connect with our support team https://support.sendgrid.com.  But, it sounds like maybe a firewall or proxy issue?  Did something change upstream in your environment?

[2019-02-15 15:53] aroach commented on #886
You can see an example in our sendgrid-cli project: https://github.com/sendgrid/sendgrid-cli/blob/master/lib/sgclient.js#L46

[2019-02-15 16:09] linocatucci commented on #694
@Loriot-n you saved my day! I also mis-imported the module and have been looking at it all day, but now it works.
Thanks again!

[2019-02-17 12:26] purplesoft-io commented on #688
@thinkingserious  +1 I need localization feature

[2019-02-17 23:09] lmenus commented on #880
@Burtonium @thinkingserious Experiencing the same issue. I see the source has been updated to use `@sendgrid/mail@6.3.0` in ab147403ea613e16b2a6ed2eb6aaed2672615268, however, these changes have not been pushed to npm. Is it possible to release this update please?

[2019-02-21 00:40] SamWheating commented on #713
FWIW I am also seeing this issue in the [Golang library](https://github.com/sendgrid/sendgrid-go), I'm unable to override the template subject from the API call. If I can't find a suitable workaround I'll make an issue there as well.

[2019-02-21 17:15] julianlam opened #893 "Mail with List-Unsubscribe-Post header does not get whitelisted in DKIM headers"
#### Issue Summary

I am attempting to integrate one-click unsubscribe to my emails. I have `List-Id` and `List-Unsubscribe` headers set up, and recently added `List-Unsubscribe-Post`, following [RFC8058](https://www.ietf.org/rfc/rfc8058.txt). Unfortunately, Gmail will not show the "Unsubscribe" button.

#4 of the spec specifies:

(Emphasis mine)

Here are the headers as reported by Gmail:
[code]

[2019-02-22 12:15] peterkuiper opened #894 "Timeout implementation for @sendgrid/mail"
I am using @sendgrid/mail in an AWS lambda function. For some reason, some of the requests do not receive a response within the max allowed execution time of the function (5s). This causes duplicate deliveries of the same mail (oops).

My solution would be to implement a timeout on the request itself which is < than the max allowed execution time of the function (to prevent retry).

Currently, the

[2019-02-23 12:57] amitbravo opened #895 "Bad Request Request.http error while sending data as attachement"
I collect data from firebase database and want to send it as xlsx file to user's email address.
I got error something like
[code]
I wrote following cloud function
[code]

[2019-02-23 17:14] aroach commented on #895
Perhaps try removing the `content` array in the `msg` object.  Let us know if that worked.

[2019-02-24 18:28] thinkingserious commented on #893
Hello @julianlam,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2019-02-24 18:28] #893 closed

[2019-02-25 05:27] amitbravo commented on #895
1. Main thing was use only that email as from: which used to create sendgrid account.
2. removed content
3. added    type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet',

[2019-02-25 05:27] #895 closed

[2019-02-25 08:04] leogoesger opened #896 "ETIMEDOUT 169.45.89.179:443 at TCPConnectWrap.afterConnect"
#### Issue Summary

A summary of the issue and the environment in which it occurs. If suitable, include the steps required to reproduce the bug. Please feel free to include screenshots, screencasts, code examples.

I have been getting time out errors on occasion on my production server. I cannot reproduce the same issue all the time.

#### Steps to Reproduce

Here is the code I am using on the nod

[2019-02-25 15:34] #896 closed

[2019-02-26 20:25] pablomargareto opened #897 "Internal error for a bad formatting "to" field sending a test campaign"
#### Issue Summary

The API returns a 500 internal service error when you want to send a test campaign with a bad formatted "to" field.

#### Steps to Reproduce

1.  Set your endpoint to '/v3/campaigns/{campaignID}/schedules/test'
2. Fill the field "to" with an object like [{
      email: 'email@address.com'
    }]

The expected behavior should be:
a) An exception from the library with a "bad form

[2019-02-26 22:04] thinkingserious commented on #894
I love it! Thanks for offering to submit the PR!

[2019-02-28 13:07] celicoo opened #899 "deepmerge needs to be updated to latest version to prevent webpack bug"
#### Issue Summary

The current `deepmerge` version doesn't work with Webpack:

[code]

This is a known [issue](https://github.com/TehShrike/deepmerge/issues/137).

#### Steps to Reproduce

1. Setup Webpack
2. Send a transactional email injecting dynamic template data, e.g:

[code]

#### Technical details:

* sendgrid-nodejs version: 6.3.1
* Node.js version: 10.15.1

[2019-02-28 17:13] thinkingserious commented on #897
Thanks for documenting this @pablomargareto! I've added this to the backlog.

[2019-02-28 17:15] thinkingserious commented on #899
Thanks for bringing this to our attention @celicoo! I've added this to the backlog.

[2019-02-28 19:21] celicoo commented on #899
@thinkingserious my pleasure, happy to help.

[2019-03-05 22:13] juona commented on #872
I have to disagree that this is a community enhancement. It's a pretty obvious defect which, given Node's warning that "[i]n the future, promise rejections that are not handled will terminate the Node.js process with a non-zero exit code", verges on becoming a security issue.

Also, this seems to be a trivial fix, but I do not wish to get involved, as doing so would mean signing a CLA. Is there an

[2019-03-05 23:36] adamreisnz commented on #872
I'm happy to open a pr for it

On Wed, Mar 6, 2019, 11:13 juona <notifications@github.com> wrote:

[2019-03-06 08:40] Berkmann18 commented on #872
I could do that.

[2019-03-06 11:45] juona commented on #872
Thanks. What about publishing? Last publish is from 9 months ago, so even if this is fixed, I suspect it won't be released.

[2019-03-07 06:32] wizardlyhel opened #901 "Requirement conflict with unsubscribe substitution in a campaign"
#### Issue Summary

The requirement of `[[unsubscribe]]` and `<%asm_preferences_raw_url%>` is in conflict of each other.

#### Steps to Reproduce
I tried a couple things.

**Goal:** In a campaign email, I would like to use a custom unsubscribe link with `<%asm_preferences_raw_url%>`

In a `PATCH` campaign api call, I was able to set
[code]

**Result:** The `[[unsubscribe]]` tag is replace but `<%a

[2019-03-07 19:31] thinkingserious commented on #901
Hello @wizardlyhel,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2019-03-07 19:31] #901 closed

[2019-03-07 21:40] egges opened #902 "Wrong type definition for PersonalizationData"
The type definition for `PersonalizationData` contains a field called `dynamicTemplateData`. However, the SendGrid API expects a field called `dynamic_template_data`. As a result, TypeScript users currently have to cast the `MailData` object to type `any` if they want to use the `sgMail.send()` method without a compiler error:
[code]

So, either the field name in the `PersonalizationData` type sho

[2019-03-07 22:13] wizardlyhel commented on #901
It doesn't help when the help document just takes you in circles and no way to actually contact a support even as a paying customer but thanks for the reply anyways.

[2019-03-08 08:49] darkterra opened #903 "TypeError: Cannot read property 'client' of undefined"
#### Issue Summary

I'm trying to send an email from my backend. When I get to the sendgrid.send-function, my server crashes with the following:
[code]
#### Steps to Reproduce

1. Install @sendgrid/mail@6.3.1
2. Import setApiKey and send from @sendgrid/mail
3. Call `setApiKey` with the api key parameter
4. Call `send` with the message object

installed the sendgrid-nodejs npm package
Imported var

[2019-03-08 17:50] thinkingserious commented on #902
Thank you @egges!

This is a great catch and I've added this to our backlog for an update or perhaps we will get a PR.

With Best Regards,

Elmer

[2019-03-08 18:11] thinkingserious commented on #903
Hello @darkterra,

What happens when you run [this code](https://github.com/sendgrid/sendgrid-nodejs/blob/master/packages/mail/USE_CASES.md#send-a-single-email-to-a-single-recipient)?

With Best Regards,

Elmer

[2019-03-12 10:11] wooyah opened #904 "How to get messageId from header"
We’re using inbound parse to handle messages inside SendGrid. Now we want to work with replying to messages, for which we need to extract the Message-ID from the email.

How do we extract the Message-ID from an email that goes via the inbound parsing? As I do not see it in the request headers.

[2019-03-12 14:10] JeromeTo commented on #688
@thinkingserious huge +1 for this feature.
Really nice feature to be able to deal with all the language of an e-mail within the same template but as stated previously it is not usable due to the subject limitation.

[2019-03-12 18:41] thinkingserious commented on #904
Hello @wooyah,

The Message-ID should be in the headers. Could you please provide a bit more detail so I can try and reproduce?

1. Could you provide a code sample?
2. Are you using [this SDK](https://github.com/sendgrid/sendgrid-nodejs/tree/master/packages/inbound-mail-parser)?

With Best Regards,

Elmer

[2019-03-13 12:52] agostonbonomi opened #905 "To field only accepts plain email"
#### Issue Summary

When using '@sendgrid/mail' to send any email, the 'to' field only accepts plain email addresses, not name/email format (example: {name:'John Doe', email:'john@doe.com'} ).

#### Steps to Reproduce

[code]

#### Technical details:

* sendgrid-nodejs Version: master (latest commit: [commit number])
* Node.js Version: 4.1.2

[2019-03-15 20:55] garybernhardt opened #906 "Package depends on @types packages at runtime"
#### Issue Summary

TypeScript packages like `@types/request` are intended as development dependencies. `@types/request` contains no executable code; only a non-executable `index.d.ts` file. However, the `@sendgrid/client` package depends on `@types/request`, which brings in another five type packages, including `@types/node`.

Unless I'm missing something very unusual that makes them necessary, t

[2019-03-19 09:00] driescroons commented on #902
@egges similar issue I had.

For those interested, this is how I fixed the problem
https://github.com/sendgrid/sendgrid-nodejs/pull/716#issuecomment-472932577

same question to @thinkingserious, why as this not been deployed yet? PR is ready and is a big problem for us typescripters 😄

[2019-03-19 13:52] darren-dev commented on #676
Works for me. I have the latest version of the SendGrid library, and am using it through Firebase (Functions). The main issue now is the lack of TypeScript support - and the documentation.

[2019-03-19 17:49] thinkingserious commented on #905
Hello @agostonbonomi,

[Here](https://github.com/sendgrid/sendgrid-nodejs/blob/master/packages/mail/USE_CASES.md#flexible-email-address-fields) are the supported methods of formatting email.

Please let me know if that helps.

Thanks!

With Best Regards,

Elmer

[2019-03-19 17:51] thinkingserious commented on #906
Thanks for the feedback @garybernhardt!

@SPARTAN563 @adamreisnz

Do you have any thoughts on this?

For now, I'm adding this to our backlog for further review. Thanks!

[2019-03-19 18:35] adamreisnz commented on #906
Are those packages for TypeScript users?
If so, best for @SPARTAN563 to comment on this, they can probably go to devDependencies.

[2019-03-19 21:22] SPARTAN563 commented on #906
Thanks for opening this ticket, that's a very good point and I'll quickly put together a PR to fix it.

[2019-03-20 16:10] thinkingserious commented on #906
Why do you all have to be so awesome?

[2019-03-24 21:22] monojack opened #910 "401 Unauthorized inside a docker container"
#### Issue Summary

Trying to send email through a server inside a docker container running on the local machine but I keep getting `401 Unauthorized`. When running the server locally (not in a container) everything works well. The configuration is the same, both running with `production` env, same API key is setup correctly and accessible in both cases.

#### Steps to Reproduce

1. Setup a simple

[2019-03-25 14:45] jay8t6 commented on #441
@thinkingserious I have tried everything, camelcase, underscore. The variable still would not populate, when I do the testing via the sendgrid UI and pass in the variable, it works fine. It just wouldnt work through firebase cloud functions. Here's my code

`const msgbody = {
          to: userData.email,
          from: 'auto-reply@somedomain.com',
          subject: 'Registration Complete',

[2019-03-25 16:14] agostonbonomi commented on #905
hey @thinkingserious , thanks for this. i missed this in the docs, works fine :)

[2019-03-25 21:58] thinkingserious commented on #905
Thank for the follow up @agostonbonomi!

[2019-03-25 21:58] #905 closed

[2019-03-25 22:04] thinkingserious commented on #910
Hello @monojack,

This error occurs when either the API is not set or your API key is invalid. It looks like your key is valid, so I would ensure that the API key is getting set properly inside of your container. I suspect it works locally, because you have defined your API key in a local environment variable.

With Best Regards,

Elmer

[2019-03-26 02:52] SpainTrain opened #911 "Request Release"
It appears there are new type defs that have not yet been released - https://github.com/sendgrid/sendgrid-nodejs/blob/master/packages/helpers/classes/mail.d.ts

[2019-03-26 09:13] monojack commented on #910
@thinkingserious,
I do set it up correctly in the container as well... For debugging I just `console.log` the key right before configuring the client and it shows up. I have other env variables and everything else is working fine.

[2019-03-26 14:04] btmdave commented on #886
@thinkingserious @aroach This doesn't actually seem to be working, the mail sent is going through our primary account.  I did find this: https://sendgrid.api-docs.io/v3.0/how-to-use-the-sendgrid-v3-api/on-behalf-of which says that it doesn't work with the `mail.send` api?

This is how I'm sending it:

Mail sends fine, but the reporting is all through the primary account, nothing in the subaccount.

[2019-03-27 03:11] thinkingserious commented on #911
Hello @SpainTrain,

We have a release coming within the next few weeks. If you would like to be notified upon release, please [subscribe here](https://dx.sendgrid.com/newsletter/nodejs).

Thank you!

With Best Regards,

Elmer

[2019-03-27 03:11] #911 closed

[2019-03-27 03:17] thinkingserious commented on #886
Hello @btmdave,

Have you tried using `Token` rather than `Bearer` for authentication?

With Best Regards,

Elmer

[2019-03-27 03:21] thinkingserious commented on #910
Hello @monojack,

Please use Postman or similar and examine the API call being transmitted via your container vs. the API call being transmitted via your local environment. Perhaps that will point you in the right direction. Please give it a try and let me know what you find. Thanks!

With Best Regards,

Elmer

[2019-03-27 18:24] SpainTrain commented on #911
Thanks go the quick turnaround and mailing list link :+1:

[2019-03-28 16:22] AlanFerreiraDias opened #912 "Dynamic data does not working with arrays"
#### Issue Summary

Using the exact same template as described here: https://github.com/sendgrid/email-templates/tree/master/dynamic-templates/receipt
and the same data as well, does not produce the expected table.

The email is being sent correctly, but the data for the items is being sent empty (trying through the API or with the template builder)

#### Steps to Reproduce

1. Copy code from temp

[2019-03-28 20:15] jerryongit commented on #904
@wooyah

I found it better to use the following...
  var MailParser = require("mailparser").MailParser;
  var mailparser = new MailParser();
  mailparser.on("end", function(mail_object){
      log(util.inspect(mail_object));
  });
  mailparser.write(req.body.email);
  mailparser.end();

This requires checking the Inbound Parse setting 'POST the raw, full MIME message'.
You'll find the mail_object

[2019-03-29 17:27] thinkingserious commented on #912
Hello @AlanFerreiraDias,

Could you please try the example [here](https://github.com/sendgrid/sendgrid-nodejs/blob/master/use-cases/transactional-templates.md)?

Thanks!

With Best Regards,

Elmer

[2019-03-29 17:30] thinkingserious commented on #904
Thanks for helping out @jerryongit!

I've just edited your comment for readability.

[2019-03-31 09:37] monojack commented on #910
@thinkingserious, I can't manage to log the outbound request to sendgrid. I've used Postman and Charles proxy but none of them catches the api request. The request to the local server shows up but not the one it makes to sendgrid. Other requests show up as well. Any pointers? Do I need to check anything else apart from `web proxy` and `secure web proxy` ?

[2019-04-01 16:12] thinkingserious commented on #910
Awesome, thanks following up!

[2019-04-01 16:12] #910 closed

[2019-04-02 11:53] yeahsmaggy commented on #703
This was an important point for me. I was trying to set subject in transactional template different for to vs cc emails. It worked when I put the dynamic_template_data property inside the personalization array as per above.

[2019-04-02 13:19] rades12340 opened #913 "Sendgrid doesn't send email with new content"
#### Issue Summary
Sendgrid only sends email first time genereted. When _postReset_ module is called more than one time it keeps sending first created mail. Even after I change the content in _html_ section of email that is to be sent , it , again, sends email with, in this case old _token_.
I want it to send new mail with new reset token every time _postReset_ moudule is called.

#### Steps to Re

[2019-04-02 16:28] phat471996 commented on #913
The same issue
[code]
I did not receive any emails

[2019-04-02 16:42] rades12340 commented on #913
You should check in spam section or any other section of gmail. I'm sure there is an email.

[2019-04-02 17:15] thinkingserious commented on #913
Hello @rades12340,

Thanks for reaching out!

This issue is not related to this library, so I will close this ticket.

I believe you have a logic error and my suggestion would be to log as much data as you need to determine why the function is not being called correctly.

With Best Regards,

Elmer

[2019-04-02 17:15] #913 closed

[2019-04-03 09:12] yeahsmaggy commented on #701
This was super helpful to help me understand although on my remote server I needed to use path to resovle the file

[code]

[2019-04-03 13:34] wooyah commented on #904
Thanks @jerryongit ,
Your code was really helpful.
I set to use busboy to catch required data from Headers, and now have no problem to get. :)

[2019-04-03 13:35] #904 closed

[2019-04-03 15:33] wooyah opened #914 "How to send reply mail"
Hi, I'm using Inbound-parse webhook.

When user send reply to specific domain, webhook catches that request, and I can get some infos from headers.

Here are data from headers

[code]

With these data, I'd like to send a reply mail for master mail which has 'where is parking?' as a subject.
I created mail instance for a reply with `Re: where is parking?` for subject and sent, but just got 'where i

[2019-04-05 15:03] thinkingserious commented on #914
Hello @wooyah,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2019-04-05 15:03] #914 closed

[2019-04-06 04:21] shekharmanna commented on #817
Hi ,

Any one able to solve this problem.
I am facing the same issue. I have test.html which I try to **create campaign** through V3 API.
========test.html=====

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <a href="[Unsubscribe]">Unsub</a>
</body>
</html>
===============================
I wish to create campaign a

[2019-04-09 20:27] samuelfreiberg opened #915 "@sendgrid/mail not working with Node 9.4.0"
#### Issue Summary

Simple error, but I'm not too familiar with npm so I'm having a hard time. I have a React/Redux ES6 application. I'm getting Node errors when I run my application after I do the following:
1. I installed sendgrid/mail using "npm install --save @sendgrid/mail".
2. "import {MailService} from '@sendgrid/mail'" at the top of the file I wanted to use.
3. npm run dev creates some of

[2019-04-09 20:52] aroach commented on #915
It looks like you attempting to import sendgrid in your client-side React app.  If so, you really shouldn't do that because you will eventually expose your API Keys to the world.  It's better to implement an API for your React app to hit on your backend, which will then interact with SendGrid.

[2019-04-09 20:56] samuelfreiberg commented on #915
The API key is stored and declared in the backend side of my application. Long story short, once the user presses a button here I was planning on writing something up like...

"import {MailService} from '@sendgrid/mail'"

// In another function in my REACT component
const msg = {
  to: 'test@example.com',
  from: 'test@example.com',
  subject: 'Sending with SendGrid is Fun',
  text: 'and easy to d

[2019-04-10 02:17] #915 closed

[2019-04-10 15:50] lukewlms opened #917 "Critical security vulnerability in sshpk"
#### Issue Summary

The sshpk dependency has a high-severity vulnerability and should be updated as soon as possible.

<img width="589" alt="image" src="https://user-images.githubusercontent.com/19214773/55893671-21618180-5b8f-11e9-92d0-fa68dfe838e0.png">

#### Steps to Reproduce

1. Install @sendgrid/mail latest
2. yarn audit / npm audit

#### Technical details:

* sendgrid-nodejs Version: latest

[2019-04-10 23:21] sreekanth6495 commented on #352
@thinkingserious

Is this functionality added in the last two years.

I need to send a single email to multiple recipients but different personalizations and a different attachment file for each recipient.

Thanks

[2019-04-12 06:58] ppratik2410 opened #918 "Sending multiple mail to multiple recipient"
{ Error: Unauthorized
    at Request.http [as _callback] (D:\25-09-2018\9-2\India\india-api\node_modules\@sendgrid\client\src\classes\client.js:124:25)
    at Request.self.callback (D:\25-09-2018\9-2\India\india-api\node_modules\request\request.js:185:22)
    at Request.emit (events.js:188:13)
    at Request.EventEmitter.emit (domain.js:439:20)
    at Request.<anonymous> (D:\25-09-2018\9-2\India\i

[2019-04-12 13:41] thinkingserious commented on #918
Hello @ppratik2410,

That error means there is an issue with your API Key. Either your key does not have permissions for that API call, or the API Key did not get set properly.

With Best Regards,

Elmer

[2019-04-13 05:56] ppratik2410 commented on #918
I am sending emails in chunks array of 100-100. But first 100 Email is getting send but after other give me unauthorised (401) error

[2019-04-15 04:44] celicoo commented on #899
@thinkingserious any update on this?

[2019-04-15 19:04] sreekanth6495 opened #919 "Different Attachments to Multiple Recipients"
Issue Summary
Related to issue #352

I need to send multiple emails with different personalizations and different attachments.

Is this functionality added in the last two years ??

I need to send a single email to multiple recipients but different personalizations and a different attachment file for each recipient.

Thanks

Technical details:

* sendgrid-nodejs Version: master (latest commit: [co

[2019-04-15 21:59] kevduncan commented on #912
@thinkingserious I am experiencing this same issue when using node8, if I run in node6 everything works as expected.

[2019-04-15 22:22] kevduncan commented on #912
I solved this issue by upgrading my @sengrid/mail package to the most recent version (6.3.1). I had been experiencing this same issue running a prior version (6.2.1) on a node8 engine. Version 6.2.1 previously worked with node6, but upgrading the engine to node8 without upgrading the package caused the issue.

[2019-04-16 11:58] peterkuiper commented on #894
@thinkingserious It seems PRs keep piling up. Anything I can do to help?

[2019-04-16 15:32] thinkingserious commented on #919
Helklo @sreekanth6495,

No, this feature is not available as described. You will need a separate API call for each email.

With Best Regards,

Elmer

[2019-04-16 15:33] thinkingserious commented on #352
Hello @sreekanth6495,

No, this feature is not available as described. You will need a separate API call for each email.

With Best Regards,

Elmer

[2019-04-16 15:42] thinkingserious commented on #912
Hello @kevduncan!

Thanks for helping out :)

[2019-04-16 15:43] thinkingserious commented on #918
Hello @ppratik2410,

I suggest you reach out to our [support team](https://support.sendgrid.com) to check if there are any limitations on your account.

[2019-04-16 17:22] sreekanth6495 commented on #919
Thank you

[2019-04-16 17:23] sreekanth6495 commented on #919
thank you

[2019-04-17 15:25] #919 closed

[2019-04-20 15:44] AlanFerreiraDias commented on #912
@thinkingserious : sorry, I don't see this example that you sent dealing with arrays. Is it the right one?

@kevduncan : unfortunately, on my case, I'm already using @sendgrid/mail 6.3.1 and node8 :/

[2019-04-22 20:02] thinkingserious commented on #912
Hello @AlanFerreiraDias,

Can you please share the Ruby code you are using to interact with the template?

Thanks!

With Best Regards,

Elmer

[2019-04-24 14:52] AWR14 commented on #859
i've got the same problem, what permissions or proxy setting would i have to check on macbook?

[2019-04-24 15:31] AWR14 opened #920 "UnhandledPromiseRejectionWarning: Error: Bad Request"
Getting the following error:

[code]

My code is in express and node as part of a nextjs app:

[code]

* sendgrid-nodejs Version: master (latest commit: [commit number])
"@sendgrid/mail": "^6.3.1",
* Node.js Version: v10.14.2

[2019-04-24 20:45] thinkingserious commented on #920
Hello @AWR14,

This error happens when you do not handle the promise rejection. [Here](https://github.com/sendgrid/sendgrid-nodejs/blob/master/packages/mail/USE_CASES.md#success-failure-errors) is an example.

Thanks!

With Best Regards,

Elmer

[2019-04-29 07:39] ziaulrehman40 commented on #256
Thanks @srinath-patel , this string value was the issue for me, i had one value integer.
Error returned by api request should be more specific. It wasted a few hours of mine to debug this.

[2019-04-30 13:31] Zakini commented on #284
@tomoktan what did support come back with? Is there a way of updating a recipient's email address?

[2019-04-30 23:12] thinkingserious commented on #256
Hello @ziaulrehman40,

I agree with you. Do you mind creating a new issue for this? Or, I can create if you like.

With Best Regards,

Elmer

[2019-05-01 05:47] ziaulrehman40 commented on #256
@thinkingserious sure i can, though i am not sure where to, as i am a rails dev and faced this issue on `sendgrid-ruby` client. This nodejs one is also a client, this issue sounds more like a server side issue where server needs to return some proper error and not clients. Obviously not aware of implementation of clients, they might also need updates for this. So just let me know where and i will

[2019-05-02 00:39] thinkingserious commented on #256
Hi @ziaulrehman40,

In ruby, if you were to catch the error, you should be able to see a more sane message [like so](https://github.com/sendgrid/sendgrid-ruby/blob/master/TROUBLESHOOTING.md#error).

With Best Regards,

Elmer

[2019-05-02 02:47] lunchbag commented on #284
+1 on this.
Looks like we're unable to update a recipient by recipient_id either. My guess is that they won't allow you to change the e-mail of the recipient since that action is also blocked on the web UI. Maybe you'll just have to delete and re-create the user under a different e-mail address..

[2019-05-02 03:26] ziaulrehman40 commented on #256
Well, while on it. For me, ruby client was not raising any errors, instead response returned can contain error messages. And in that, for this specific issue of non-string values, it had error null field null. So anyway, my point was that for this specific issue error messages should be properly populated instead of error null response. Please open ticket for this wherever you see fit. Thanks.

[2019-05-02 07:36] The-Caesar opened #922 "I can not send emails with Sendgrid/mail"
Dear,

I can not send emails :(

I get this response:

{ Error: Bad Request
    at Request.http [as _callback] (...\module\storemonitoring-fa\node_modules\@sendgrid\client\src\classes\client.js:124:25)
    at Request.self.callback (...\module\storemonitoring-fa\node_modules\@sendgrid\client\node_modules\request\request.js:185:22)
    at emitTwo (events.js:126:13)
    at Request.emit (events.js:214

[2019-05-02 13:24] aroach commented on #922
Can you post your code that is throwing this?  Also, if you can inspect `body: { errors: [Array] }` you might have some more clues.  Since it's a 400, it's on the client side, and likely how you're building up the request to the servers.

[2019-05-02 23:14] sirdodger commented on #713
Ugh, the docs specifically say that the base subject will be overwritten by a personalization subject, which is not at all the same as being able to template the subject.

[2019-05-03 07:51] The-Caesar commented on #922
here what i do to send mail i declare:
1- const sgMail = require('@sendgrid/mail');
then i configure my mail with APIKey
2- sgMail.setApiKey(config.sendGridAPIKey);
then i fill my emailsData  with Emails that i want to send depending on my treatment:
3- let emailsData = [];
then i send my emails:
4- sgMail.send(emailsData)

PS: it was to work but not anymore

[2019-05-03 09:02] ad34 commented on #896
how did you solved this?

[2019-05-03 17:41] alberto-fp-24 opened #924 "dynamic_template_data not properly documented on typescript MailData and PersonalizationData interfaces"
#### Issue Summary

MailData currently is able to take a `dynamic_template_data` property, but its interface is missing that field.

In a similar way, PersonalizationData has a field called `dynamicTemplateData` that, as far as I can tell, does nothing for dynamic templates. However, if we use `dynamic_template_data`, the templates' handlebar will be properly substituted (but it will raise the sam

[2019-05-03 19:59] thinkingserious commented on #284
Hello @lunchbag,

Please [open a ticket with support](https://support.sendgrid.com/) as well. I'm hoping that we can increase the visibility of this issue.

Thank you!

With Best Regards,

Elmer

[2019-05-03 20:00] thinkingserious commented on #256
Ah, thank you for the clarification! In that case, please follow [this issue](https://github.com/sendgrid/sendgrid-ruby/issues/355) for progress. Thanks!

[2019-05-03 20:52] thinkingserious commented on #922
Hello @The-Caesar,

It looks like `emailsData` is of the wrong type. Please see [this example](https://github.com/sendgrid/sendgrid-nodejs/blob/master/use-cases/single-email-single-recipient.md).

With Best Regards,

Elmer

[2019-05-03 20:57] thinkingserious commented on #924
Hi @alberto-fp-24,

We have a deploy on Monday that should resolve this issue. [See here](https://github.com/sendgrid/sendgrid-nodejs/pull/716) for context.

Thank you!

With Best Regards,

Elmer

[2019-05-03 20:57] #924 closed

[2019-05-03 22:42] The-Caesar commented on #922
emailsData  is a array of emails wich is filled with hmtl template depends on my treatement as i said before so when i want to send an email i just push my email to  "emailsData" and send them all by
calling "sgMail.send(emailsData)" so in other word i'm sending many email in just one call !!

[2019-05-05 01:14] aroach commented on #922
Comparing with the example code shared by Elmer, emailsData in your example
should be a JavaScript Object and not an array.  The to property of the JS
Object can be an array.

let emailsData = { to: [], ... }

Please give that a try and let us know!

On Fri, May 3, 2019 at 4:42 PM Mansouri <notifications@github.com> wrote:

[2019-05-06 02:15] MatteoGioioso opened #927 "getaddrinfo EAI_AGAIN api.sendgrid.com:443"
#### Issue Summary

Just trying to send an email with cloud functions
[code]

#### Technical details:

* sendgrid-nodejs: 6.3.1
* Node.js Version: 11.15.0

[2019-05-06 02:25] aroach commented on #927
Looks like a DNS issue. I read elsewhere (stackoverflow) that you need to be on a paid plan to make external Requests on firebase functions. Does it work locally on your laptop?

[2019-05-06 02:27] MatteoGioioso commented on #927
@aroach

No, is not working locally.
Paid plan? From Sendgrid or Firebase?
Thanks

[2019-05-06 05:51] MatteoGioioso commented on #927
@aroach turns out it was true: https://firebase.google.com/support
And after upgrade my plan I could send the message.

Thanks

[2019-05-06 05:51] #927 closed

[2019-05-06 19:35] iudelsmann commented on #874
Still facing this issue in version 6.3.1. Workaround is to add a empty object as the `substitutions` value.

[2019-05-06 20:45] matheo commented on #906
Too awesome to be true,
a simple PR not merged nor released in a month and a half :-?
@SPARTAN563 @thinkingserious

[2019-05-07 00:41] coderbag opened #928 "How to create a campaign and contact list"
Can I create a campaign and contact list with this SDK?

[2019-05-07 09:28] SPARTAN563 commented on #906
Sorry @matheo, not much I can do to help on that side of the process, just a community contributor here doing my best to help.

[2019-05-07 10:21] adamreisnz commented on #906
The bottle next appears to be the review and merge process of PR's, and subsequent new releases. Perhaps part of this work can also be handed over to some community contributors, to speed things up.

I agree that it is demotivating if a problem is identified, and a PR to fix it is prepared in a few days, but then it takes months until it's reviewed/merged/released.

@thinkingserious thoughts?

[2019-05-07 13:32] #906 closed

[2019-05-07 16:16] thinkingserious commented on #906
Thank you for being so responsive @SPARTAN563 & @adamreisnz!

Indeed, sadly we are the bottle neck here.

We are now in the process of designing systems and obtaining the resources needed to fix this issue. One of the avenues we are exploring is empowering our community to help move these PRs forward. Last time we considered this, legal concerns were the show stopper. This may no longer be true, h

[2019-05-07 18:51] remnahush commented on #281
Ok lets be honest... Why disable something that is my responsability? I'm storing the apiKey at Google Firebase for an app VueJS + Fibrebase, and it's not possible to figure out...! Hello man, it's an MVP... It's supposed to be fast and easy... If I cannot figure out I will move with another transactional mail provider... Seriously!

[2019-05-07 22:15] garybernhardt commented on #906
No problem. Glad to hear that you're working on a quicker process. As a long-time customer, I'd definitely prefer that, at minimum, nothing ever gets merged without full review from a SendGrid developer. SendGrid has mostly been stable for me and I'd hate to trade any stability away to get a PR merged a few days earlier.

Thanks for merging!

[2019-05-07 22:20] ishbaid opened #929 "sgMail.send suddenly stopped working: Object.values is not a function"
#### Issue Summary

I am using firebase's firestore triggers to send emails when new appointments are created, but sgMail.send function suddently stopped working yesterday evening.

[code]

Output:
[code]
#### Steps to Reproduce

Call sgMail.send(msg) function from firebase firestore trigger.

It was working perfectly up until yesterday.

#### Technical details:

* sendgrid-nodejs Version: master

[2019-05-08 00:54] ishbaid commented on #929
Issue was resolved by upgrading cloud functions from Node 6 to Node 8.

[2019-05-08 02:33] aroach commented on #281
Generally speaking, this issue isn't something that will be resolved on the SendGrid side.  CORS enforcement is done by the browser.  You will need to refactor your app to not make an AJAX request to a different domain (e.g., api.sendgrid.com) from within the browser.  Here's a decent write up with alternative approaches: https://daveceddia.com/access-control-allow-origin-cors-errors-in-react-expr

[2019-05-08 04:20] ajgomezrivera opened #930 "Trouble sending email using @sendgrid/mail"
#### Issue Summary

I'm using firebase functions to send an email once a user is created. I've copied the function from another of my applications, which works well, and in this application I can't send the email.

This is the error I get:
"TypeError: Object.values is not a function
    at Mail.setDynamicTemplateData (/user_code/node_modules/@sendgrid/mail/node_modules/@sendgrid/helpers/classes/ma

[2019-05-08 04:36] ajgomezrivera commented on #930
By switching from Node6 to Node8 in firebase function the error disappeared.

[2019-05-08 04:36] #930 closed

[2019-05-08 16:41] thinkingserious commented on #928
Hello @coderbag,

Does [this documenation](https://github.com/sendgrid/sendgrid-nodejs/blob/master/packages/client/USAGE.md#campaigns) help?

With Best Regards,

Elmer

[2019-05-08 19:44] izznogooood commented on #922
I can verify this:

[code]
Output:

[code]

[2019-05-08 20:00] Full-Stack-Zach commented on #922
@izznogooood, I tried this same block of code in my application. Not getting any errors but the emails are not sending at all.

[2019-05-08 20:01] izznogooood commented on #922
yup, something's up...

I use it for testing so not as bad for me. But happy to help.

[2019-05-08 20:09] Full-Stack-Zach commented on #922
I've been working on this for a while now and can't get SendGrid to consistently send emails any way I try in NodeJs. Currently looking at other service providers because I need email functionality to start working soon. Let me know if you figure out how to get it working. I'd love to stick with this if it works.

[2019-05-09 02:42] aroach commented on #922
The code block provided never calls the `sendWelcomeEmail()` function, and so it never executes.

But, after fixing that, this code worked (note that I removed the empty `html` property:

Tested using node v8.12.0.

[code]

[2019-05-09 03:42] thinkingserious commented on #922
Hello everyone,

@izznogooood,

Please see [this documentation](https://github.com/sendgrid/sendgrid-nodejs/blob/master/use-cases/success-failure-errors.md) on how to capture the error message.

@The-Caesar,

Could you either provide a full code sample or the value of the `msg` you pass to `.send`?

@Full-Stack-Zach,

Could you please provide some code that I can use to try and reproduce your issu

[2019-05-09 07:52] izznogooood commented on #922
@thinkingserious
[code]

So in my case it was as simple as adding a space in my html string (or remove it)... But I dont belive I've done that before. But thank you.

@Full-Stack-Zach
I assumed you'd call the function, that was my bad. Sorry about that.

[2019-05-09 09:19] The-Caesar commented on #922
here an object from the array emailsData:
{
   from:'no-reply-stores-monitoring@xxxxx.xxx',
   to:'emails',
   subject:'[Stores-monitoring] Norges_Gruppen - STORE_M14',
   html:'   <HTML>\n<HEAD>\n</HEAD>\n<BODY> \n\t<div style="left:0   ; position:   absolute; top:25   px; width:100   %;">\n\t\t<p> &nbsp;</p>\n\t\t<table width="100%" cellspacing="0" cellpadding="0" bgcolor="#ffffff" style="backgr

[2019-05-09 18:16] utkarshbhatt12 commented on #929
What if I can't currently update to Node 8? I am using version 6 and this issue has arrived on my codebase too in the last few days.

[2019-05-13 18:08] rlwy commented on #284
+1 on this for me too.
I tried the API but all I got was a new entry to the global contact list with the new email. I didn't realize it was an issue until I saw this!

[2019-05-15 19:06] alberto-fp-24 opened #931 "Disable dynamic template char warning"
Currently, when passing dynamicTemplateData that contains a quote or an ampersand, I am warned that I may need to use three brackets on the template.

[code]
While it was originally very helpful, now it is cluttering my logs. Is there any way to disable this warning (other than overwriting `console.warn`)?

[2019-05-16 01:52] thinkingserious commented on #931
Hello @alberto-fp-24,

Good call, I've added this to our backlog and also tagged it appropriately in case someone in our Node.js community would like to make a PR.

With Best Regards,

Elmer

[2019-05-16 08:30] reneweteling commented on #688
@thinkingserious mega +1 for this feature - We also need this feature, for us, the use-case is a bit different, we want to offload the creation/maintaining of templates to our marketing guys, only these people aren't programmers, so we need plain WYSIWYG templates per language. Having 1 separate version per language would be the answer to our problem.

The following would be even better:

1 - the

[2019-05-16 22:54] albertor24 commented on #931
@thinkingserious thank you very much.

I created a PR for this https://github.com/sendgrid/sendgrid-nodejs/pull/932

[2019-05-18 14:30] shaibt commented on #929
This issue shouldn't be closed as problem still persists in Node 6 env (also happens in our env after upgrading from sendgrid node js 6.3.1 to 6.4.0)

[2019-05-18 14:40] shaibt opened #933 "New release 6.4.0 not compatible with node 6.X - cannot send template emails"
#### Issue Summary

Using email templates causes this error in node 6 env - and emails cannot be sent:

Object.values is not a function
    at Mail.setDynamicTemplateData (/app/node_modules/@sendgrid/helpers/classes/mail.js:342:12)
    at Mail.fromData (/app/node_modules/@sendgrid/helpers/classes/mail.js:91:12)
    at new Mail (/app/node_modules/@sendgrid/helpers/classes/mail.js:44:12)
    at Func

[2019-05-18 15:23] shaibt commented on #933
Also, reverting back to version 6.3.1 doesn't help as nom package 6.3.1 still pulls in helper functions from 6.40 (!?) which contain the non-compatible code:

┬ @sendgrid/mail@6.3.
│ ├── **@sendgrid/client@6.4.0**
│ └─┬ **@sendgrid/helpers@6.4.0**
│   ├─┬ chalk@2.4.2
│   │ ├─┬ ansi-styles@3.2.1
│   │ │ └─┬ color-convert@1.9.3
│   │ │   └── color-name@1.1.3
│   │ ├── escape-string-regexp@1.0.5
│

[2019-05-18 18:39] ishbaid commented on #929
Reopening as others are seeing this issue as well.

[2019-05-20 15:24] vieira commented on #931
Hello, we are also having this problem since updating sendgrid/helpers from 6.3.0 to 6.4.0. We are using {{{ }}} but the warning is still logged. Is this the intended behaviour?

[2019-05-20 15:27] thinkingserious commented on #931
Hello @vieira,

For now this is intended behavior; however, @albertor24 PR #932 gives you the option to hide that warning. It will be included in the next release of this SDK.

Thanks!

With Best Regards,

Elmer

[2019-05-20 23:57] thinkingserious commented on #929
Hello everyone,

It looks like this is a compatibility issue with some browsers based on some initial research. I've added this to our backlog for further investigation; however, in the meantime, it appears [this may be a bandaid](https://github.com/facebook/jest/issues/3687#issuecomment-325373305) for now.

With Best Regards,

Elmer

[2019-05-21 00:04] thinkingserious commented on #933
Hello @shaibt,

It looks like this issue is a duplicate of https://github.com/sendgrid/sendgrid-nodejs/issues/929. Please follow that issue for progress. Also, I just posted a band aid solution there that may help.

With Best Regards,

Elmer

@jennapederson,

If you can please upvote the other issue (#929) that will help it gain traction in our backlog. Thanks!

[2019-05-21 02:41] thinkingserious commented on #922
Hello @The-Caesar,

One think I noticed is that you don't have a `text` value. Can you try adding a `text` value? Also, what is the value of the `emails` variable?

Thanks!

With Best Regards,

Elmer

[2019-05-21 02:43] #894 closed

[2019-05-21 02:51] thinkingserious commented on #874
Hello @iudelsmann,

Have you tried using [this example](https://github.com/sendgrid/sendgrid-nodejs/blob/master/use-cases/transactional-templates.md)?

With Best Regards,

Elmer

[2019-05-21 07:57] chapter247-yash commented on #882
Please help me, Even I am facing the same issue.

                        const data = {
                            email:'yash.chapter247@gmail.com',
                            first_name:'Yash'
                        }
                        console.log('data')
                        console.log(data)
                        console.log(typeof data)
                                request.b

[2019-05-21 09:08] chapter247-yash commented on #882
Hello Sir,
Did you issue got resolve or find a solution yourself?? Please help. I'm also facing the same issue.

[2019-05-22 18:01] thinkingserious opened #934 "Update docs for PR #650: Expose Client and MailService classes"
See [this comment](https://github.com/sendgrid/sendgrid-nodejs/pull/650#issuecomment-494520499).

[2019-05-22 18:09] thinkingserious commented on #882
Hello @chapter247-yash,

[For the endpoint `/v3/contactdb/custom_fields`](https://sendgrid.api-docs.io/v3.0/contacts-api-custom-fields/create-a-custom-field), you need to specify a `name` and `type` rather than an `email` and `first_name`.

With Best Regards,

Elmer

[2019-05-22 20:32] sorob commented on #864
This seems to be still an issue!

[2019-05-26 08:32] emilfrancis2027 opened #936 "TypeError: SGmail.setApikey is not a function"
Ive been trying to add a registration successfull email feature to my node js user login project.Please help.
i used the following code:
var SGmail = require('@sendgrid/mail')
SGmail.setApikey("SG.XXXX");
const msg = {
     to: 'emil.francis2027@gmail.com',
     from: 'emil.francis2021@gmail.com',
     subject: 'Sending with Twilio SendGrid is Fun',
     text: 'and easy to do anywhere, even with N

[2019-05-27 13:50] Hardik500 commented on #917
This issue has already been fixed so why not close it.

[2019-05-28 16:22] thinkingserious commented on #864
When I used this code:

[code]
I received this response:
[code]
Converting the integer 25 to a string solved the issue.

[2019-05-28 17:30] #917 closed

[2019-05-28 17:30] thinkingserious commented on #917
Thanks for the heads up @Hardik500!

[2019-05-28 17:57] thinkingserious commented on #936
Hello @emilfrancis2027,

Can you please verify what version of this SDK you are using?

If you hare on the latest version, then [this example](https://github.com/sendgrid/sendgrid-nodejs/blob/master/use-cases/single-email-single-recipient.md#send-a-single-email-to-a-single-recipient) should work for you.

Thanks!

With Best Regards,

Elmer

[2019-05-30 14:57] emilfrancis2027 commented on #936
I actually made a pretty stupid mistake .the K in setApiKey should be in uppercase ,i mistyped that.

[2019-05-30 15:00] #936 closed

[2019-05-31 08:45] emilfrancis2027 commented on #936
Thanks a lot for replying Elmer
I actually made a pretty stupid mistake .the K in setApiKey should be in
uppercase ,i mistyped that.

On Tue, May 28, 2019 at 11:27 PM Elmer Thomas <notifications@github.com>
wrote:

[2019-05-31 13:53] nspeet opened #937 "The Previously sent msg is being sent on the next send"
#### Issue Summary
Using:
const sgMail = require('@sendgrid/mail');
....
  const msg = {
     to: emailList,
     from: FROM_EMAIL_ADDRESS,
     subject: subjectText,
     template_id: templateID,
     dynamic_template_data: {name: name, url: url}
  };
  console.log("Email msg1: " ,  msg);
  try {
    sgMail.send(msg).then((sent) => {
      console.log("Email msg2: " ,  msg);
      console.log("Em

[2019-06-02 20:55] ukor opened #938 "Add Sender names"
#### Issue Summary

This is not a bug, rather a how to question.
How can one include a name with the `to` attribute?

[2019-06-03 22:19] thinkingserious commented on #936
Thanks for following up!

[2019-06-03 22:33] thinkingserious commented on #937
Hello @nspeet,

I suspect that there is a logic error in your code that is not related to this SDK, but to make sure, please answer a few follow up questions:

How does this code get executed?
Is this the only code in your lambda function? Does the code only get executed once?

Thank you!

With Best Regards,

Elmer

[2019-06-03 22:37] thinkingserious commented on #938
Hello @ukor,

I believe [this](https://github.com/sendgrid/sendgrid-nodejs/blob/master/use-cases/flexible-address-fields.md) is the documentation you need.

With Best Regards,

Elmer

[2019-06-05 18:34] jamespedid commented on #612
The Mail#toJson method is not properly converting mailSettings to mail_settings or sandboxMode to sandbox_mode, as far as I can tell.

[2019-06-05 20:03] jamespedid commented on #683
I too am having difficulty with this. I tried using both the camelcase and the snake case variant but neither work.

[2019-06-06 00:53] thinkingserious commented on #683
Hello @jamespedid,

Using the latest version of this SDK, the following seems to work:

[code]

[2019-06-07 09:49] accenture-bharadwaj opened #941 "Attachment filename encoding is wrong in Outlook"
#### Issue Summary

When using the Sendgrid NodeJS, sending an attachment with filename that includes German characters (ä/ü) results in incorrect encoding in outlook. Gmail encodes it perfectly.

![image](https://user-images.githubusercontent.com/48679006/59095497-51c06480-8921-11e9-9c32-0c6bc4e96540.png)

#### Steps to Reproduce

Sending an attachment with a filename that includes German charact

[2019-06-07 20:39] thinkingserious commented on #941
Also, related to: https://github.com/sendgrid/sendgrid-csharp/issues/667

[2019-06-07 20:40] thinkingserious commented on #941
Hello @accenture-bharadwaj,

I'm thinking that if this only happens on certain clients, it may be something out of our control. That said, I've added this to our backlog for further investigation. Thank you for taking the time to report it.

With Best Regards,

Elmer

[2019-06-08 05:20] adamreisnz commented on #891
I have also started to get this error periodically since a couple of weeks ago.

[2019-06-09 21:42] adamreisnz commented on #891
Seems to be almost a daily occurrence now

[2019-06-10 06:57] accenture-bharadwaj commented on #941
Thank you so much @thinkingserious. But if you can provide any workaround on this would be appreciated.

[2019-06-10 15:27] thinkingserious commented on #891
Thanks for reporting this @brycelund and @adamreisnz,

I've checked with our support team and they would like for you to [submit a ticket](https://support.sendgrid.com) please. Thank you!

[2019-06-10 15:28] thinkingserious commented on #941
Hello @accenture-bharadwaj,

As of now, I don't know of any work around. If I discover one, I will post it here. Thanks!

[2019-06-11 00:34] adamreisnz commented on #891
Thanks will do

[2019-06-11 21:01] OleksiiM commented on #676
@roymilder , thank you so much. Your answer made my day - the substitutions for dynamic templates are very unclear.
Kudos!

[2019-06-12 16:57] thinkingserious commented on #676
Hello @OleksiiM,

Does [this example](https://github.com/sendgrid/sendgrid-nodejs/blob/master/use-cases/transactional-templates.md) help?

@darren-dev,

Thanks for helping out! With regards to lack of TypeScript support and documentation, are you referring to the Firebase side?

@uups,

Thanks for helping out!

With Best Regards,

Elmer

[2019-06-12 17:12] OleksiiM commented on #676
@thinkingserious, yes it does. Thank you.

[2019-06-12 17:31] thinkingserious commented on #676
@OleksiiM,

Where did you look first? I'm trying to figure out how to make sure folks who need to use dynamic templates go to the link I sent you first.

[2019-06-12 20:59] OleksiiM commented on #676
@thinkingserious
Started [here](https://sendgrid.com/docs/API_Reference/Web_API_v3/Transactional_Templates/index.html).

It says:
"Sending Transactional Templates
You can send transactional templates using one of three ways:
Using the SMTP Relay
Including the template ID in the templates parameter of the Web API v3 Mail Send endpoint
Using the x-smtpapi parameter in the Web API v2 Mail Send endpoi

[2019-06-13 07:00] roymilder commented on #676
@thinkingserious if I may add:
I'm currently using these docs: https://sendgrid.com/docs/API_Reference/api_v3.html

The instructions on sending e-mail (https://sendgrid.api-docs.io/v3.0/mail-send) do not mention ```dynamic_template_data``` at all in personalizations.

So that is unclear as well.

Hope it helps!

[2019-06-14 04:05] thinkingserious commented on #676
@Whatthefoxsays ^^

Thanks @OleksiiM & @roymilder! We appreciate your contributions back to the Twilio SendGrid community :)

[2019-06-14 21:03] okhomenko commented on #924
Still dynamic_template_data doesn't exist on MailData:
[code]
`
Type '{ to: string; from: any; templateId: string; asm: { groupId: number; }; dynamic_template_data: any; mail_settings: { sandbox_mode: { enable: any; }; }; }' is not assignable to type 'MailData'.
  Object literal may only specify known properties, but 'dynamic_template_data' does not exist in type 'MailData'. Did you mean to write

[2019-06-15 14:53] Travotics commented on #676
Hustling since 2 days I saw this and got this to work.

[2019-06-15 15:27] thinkingserious commented on #676
Hello @Travotics,

What documentation did you start with before you found the above? I'm trying to improve this experience. Thanks!

With Best Regards,

Elmer

[2019-06-17 10:57] ukor commented on #938
Thank you @thinkingserious That's exactly what I needed.

[2019-06-17 10:57] #938 closed

[2019-06-17 18:10] dauledk commented on #729
With a fresh install of sendgrid 6.4.0, this issue is still present. The dynamic template data, is only working if passed with `dynamic_template_data `, but types suggests dynamicTempalteData.

[2019-06-18 18:09] childish-sambino commented on #284
`email` is a required field when calling this API so you inherently can't change the contact's email address. As @lunchbag commented, re-creating the user is the best bet.

[2019-06-18 18:09] #284 closed

[2019-06-18 18:19] childish-sambino commented on #482
@nathfreder We use thumbs-up reactions on the issue summary as part of our prioritization. Please give a 👍 at the top.

[2019-06-18 18:22] #654 closed

[2019-06-18 18:26] #672 closed

[2019-06-18 19:16] childish-sambino commented on #693
Looks like a mismatch between the `client` and `mail` version from `6.1.x` to `6.2.x`. Can you verify you're using the correct versions for both in your lock file?

[2019-06-18 19:19] #701 closed

[2019-06-18 19:43] childish-sambino commented on #702
As called out by @thinkingserious, exposing your API key in the browser is a security vulnerability and should be avoided. @odelucca explained a more proper solution.

That said, I've tested against `react-scripts@2` without issue, as described [here](https://facebook.github.io/create-react-app/docs/troubleshooting#npm-run-build-fails-to-minify).

If you simply _must_ run this in the front-end, up

[2019-06-18 19:43] #702 closed

[2019-06-18 19:46] #752 closed

[2019-06-18 20:45] childish-sambino commented on #872
I see two (potential) issues here:
1. If there is a client-side issue (e.g, missing `to`), the callback is executed _and_ the error is thrown (this is what the OP reported)
   * `MailService` should return after executing `cb(error, null);` instead of returning a rejected promise
2. If there is a server-side issue (e.g., not authorized), the callback is executed with the error _and_ the returned P

[2019-06-18 21:31] milottit commented on #444
Hello @thinkingserious,

When I use this code to send a transacational template , I get a success response but nothing is really sent. Nothing is received in the inbox and nothing in the activity section of SendGrid.

[code]

However, all is fine when I use

`text: 'and easy to do anywhere, even with Node.js',`
or
`html: '<strong>and easy to do anywhere, even with Node.js</strong>',`

Do you have

[2019-06-18 21:35] milottit opened #944 "Transactional template not working"
When I use this code to send a transactional template , I get a success response but nothing is really sent. Nothing is received in the inbox and nothing in the activity section of SendGrid.

[code]

However, all is fine when I use

text: 'and easy to do anywhere, even with Node.js',
or
html: '<strong>and easy to do anywhere, even with Node.js</strong>',

Do you have any idea for which reason?

Th

[2019-06-19 13:08] rturk commented on #891
I'm also seeing this, we think might be realated with AWS load balancer

[2019-06-20 08:42] adamreisnz commented on #891
So far no luck through support for us. They've asked for more details regarding the outbound request, which we can't provide at this stage until we put some more logging in place.

I'm thinking the only thing we recently would have changed, is enabled for all API traffic to go through Cloudflare.

[2019-06-21 17:13] AndyMori opened #945 "npm v6.4.0"
I'm trying to use the @sendgrid/mail setTimeout. I see it in the github repo but when i pull it into my own repo that function doesn't show in the node modules. It says its version 6.4.0.
I don't think npm package @sendgrid/mail v6.4.0 matches to the github repo version 6.4.0 but some older version.
Please explain.

[2019-06-24 22:55] machinshin commented on #482
@childish-sambino , @satyajeetjadhav 👍

Later late than never ;)
Thanks for the update, closing this issue

[2019-06-25 14:42] jns4u commented on #888
Once use this code snippet to resolve this issue. Working fine on Node 8 and above

let options = { method: 'POST',
      url: 'https://api.sendgrid.com/v3/mail/send',
      headers:
       {
         'cache-control': 'no-cache',
         'Content-Type': 'application/json',
         authorization: 'Bearer your_api_key' },
      body:
       { personalizations: [ { to: [ { email: 'recepient_email'

[2019-06-26 04:17] shouvik44 opened #946 "Build error"
#### Issue Summary

This works fine for me on my dev server, but I get the following error when I build:

Unexpected token: name (EmailAddress) [./~/@sendgrid/helpers/classes/email-address.js:11,0][static/js/main.d19ba717.js:43168,6]

node: 8.4
npm: 4.6.1
webpack: ^2.6.1
uglifyjs-webpack-plugin: ^2.0.1

#### Steps to Reproduce

1. npm run build

#### Technical details:

* sendgrid-nodejs Version:

[2019-06-26 05:07] #946 closed

[2019-06-26 14:29] childish-sambino commented on #945
Not sure how the change didn't make it into the release, but the release tag matches what's in npmjs: https://github.com/sendgrid/sendgrid-nodejs/tree/v6.4.0

It will be included in the next release, which is happening more frequently than previously.

[2019-06-26 14:29] #945 closed

[2019-06-27 21:52] scsper commented on #857
@ryanvolum is this something you're still working on?

[2019-06-28 00:22] boulepick opened #947 "sendMultiple not working properly with transactional Templates"
#### Issue Summary

I'm trying to send a transactional template to multiple users without revealing all users in the "to" field when the email is received. In the docs it says to use the method sgMail.sendMultiple(). I have tested but still showing all emails addresses to all recipients.

here is my code

[code]
As the documentation said for sendMultiple only the user's email address should be sho

[2019-06-28 07:42] thinkingserious commented on #938
Awesome, thanks for following up!

[2019-06-28 21:59] #872 closed

[2019-06-28 22:01] thinkingserious opened #948 "Error when sending transactional template when the text or html keys are not defined."
Hello @thinkingserious,

When I use this code to send a transacational template , I get a success response but nothing is really sent. Nothing is received in the inbox and nothing in the activity section of SendGrid.

[code]

However, all is fine when I use

`text: 'and easy to do anywhere, even with Node.js',`
or
`html: '<strong>and easy to do anywhere, even with Node.js</strong>',`

Do you have

[2019-06-28 22:03] thinkingserious commented on #948
Hello @milottit,

Could you please verify what version of this library you are using? `npm sendgrid --version`

Thanks!

Elmer

[2019-06-28 22:05] #948 closed

[2019-06-28 22:05] thinkingserious commented on #944
Hello @milottit,

Could you please verify what version of this library you are using? npm sendgrid --version

Thanks!

Elmer

[2019-06-28 22:35] thinkingserious commented on #891
Any update on this one @adamreisnz?

[2019-06-29 02:20] jasonr-genebygene commented on #947
I would use BCC instead of To.

[2019-06-29 11:40] KaitaniLabs opened #949 "How to POST to client API?"
https://github.com/sendgrid/sendgrid-nodejs/blob/68b7c45234558207c0a5263a6a45513810cb3afe/packages/client/src/classes/client.js#L98

I've been trying to POST to the API endpoint 'v3/templates/' for a while now and constantly get 400 BAD REQUEST.

I'm confused about how to include the body data because according to the code referenced, mergeData won't include any keys that aren't already listed in

[2019-06-29 14:54] boulepick commented on #947
Thanks for the reply but i do not think the BCC would not work for me for the reasons below,
1) the template has some customization where {{name}} and some other variables are replaced for each receiver. Question will the BCC replace the variables in the email content?
2) from the documentation it says that "**if you wish to distribute BCCs to multiple addresses you will need to create a distribut

[2019-07-01 09:00] adamreisnz commented on #891
Not yet, I've had to travel abroad unexpectedly and have not been able to put more logging in place yet.

[2019-07-02 14:12] #888 closed

[2019-07-02 21:43] hborgthorsson commented on #401
Evening, I am also struggling with this, my attachments come through with correct name and bytesize but wont open, prompted with "damage file / incorrectly decoded".

Here is my code:

    const msg = {
        to: req.body.sendEmail,
        from: req.body.email,
        subject: 'Lets attach it',
        html: output,
        attachments: [
        {
            content: new Buffer(req.body.file

[2019-07-03 18:45] jer-tx commented on #284
This is a pretty basic feature. Surely theres a better/more streamlined way of doing this..?

Are you saying the recommendation is to _delete_ the user (and all analytics tied to them) and re-create them??

[2019-07-03 19:09] bcanseco opened #950 "Add keep-alive support"
#### Issue Summary

First off: this repo (and Sendgrid overall) is fantastic! ❤️

I'm using `@sendgrid/mail` and was interested in the behavior for handling [keep-alive](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Connection#Syntax).
I noticed that the core `@sendgrid/client` package uses the [`request`](https://npmjs.com/package/request) library behind the scenes to hit the API.

ht

[2019-07-07 11:18] IshayMaya opened #951 "unable to create an node.jd environment variable for sendgrid on windows"
There are 3 steps at the Sendrig Docs to set the enviorment variable :

1. echo "export SENDGRID_API_KEY='YOUR_KEY'" > sendgrid.env

2. echo "sendgrid.env" >> .gitignore

3. source ./sendgrid.env

1-2 are working fine , but when i tried the 3rd step i got this message : 'source' is not recognized as an internal or external command, operable program or batch file.

I understand that the 'source' co

[2019-07-09 04:58] JakenHerman opened #952 "Can't resolve 'fs' in '@sendgrid\helpers\classes'"
#### Issue Summary

Fresh install trying to use @sendgrid/mail - getting this error.

#### Steps to Reproduce

1. npm install --save @sendgrid/mail
2. Run project

#### Technical details:

* sendgrid-nodejs Version: 0.1.0-2
* Node.js Version: 10.15.1

[2019-07-10 14:31] AAverin opened #953 "Unable to create contacts with custom fields set"
#### Issue Summary

Unable to create contacts with custom fields set using New Marketing Campaigns PUT
/marketing/contacts API

#### Steps to Reproduce

1. Having custom fields created, send following payload to PUT /marketing/contacts
[code]
Observe
`  invalid custom field ids supplied - partner,emailVerified,photoURL,uid,purchaseTime,activations,userCreationTime,lastSigningTime,disabled,displayN

[2019-07-12 08:38] Shroet commented on #401
I have the same problem: attachment sent via email but when I tried to open it - appeared notification, which said that the file is broken. C# code;

`var attachment = new[] { Attachment.FromStream(file, "Certificate of analisys.pdf" ) };`

[2019-07-12 19:14] paton commented on #953
+1

I ran into the same issue today. I brought it up with chat support (referencing this issue). Their response:

"Ok so this has been going on recently. You are not the only one. Unfortuantely we don't have a work around for this right now. Our senior engineers have been made aware of this issue."

[2019-07-12 19:21] AAverin commented on #953
<img width="818" alt="Screenshot 2019-07-12 at 15 54 56" src="https://user-images.githubusercontent.com/1481332/61153249-f454a000-a4ea-11e9-9b27-556bfe41d23c.png">

That's what I get on the official API website

[2019-07-12 21:59] galenweber opened #954 "Sendgrid escaping apostrophe to &apos"
#### Issue Summary

We are using `@sendgrid/mail` to send a transactional template with data passed via `dynamic_template_data` and rendered using Handlebars.

However, our users on older email clients have reported that **apostrophe characters are being rendered as `&apos;`**. So they will see text like:

From a CX perspective, that's not ideal.

What I think is happening is that Sendgrid and Han

[2019-07-13 03:26] hyperpress commented on #743
I'm checking in after nine months to see if there's been any consideration for adding support for ES Module,  A'la:

import {MailService} from '@sendgrid/mail'

ES Modules are almost universally supported in NPM ecosphere.

[2019-07-13 15:02] davidkassa commented on #953
I have the same problem on the official API. If you take the cURL code generation snippet it will work.

[2019-07-14 19:09] adanot commented on #953
Seems like the current API is expecting the field_id and not the name.

If you inspect the network traffic inside SendGrid when loading the https://mc.sendgrid.com/custom-fields page you can see the response for /field_definitions that returns the field_ids as well as the name.

SendGrid either needs to display this id value on the front end or update the API to accept the name in the request.

[2019-07-14 19:35] AAverin commented on #953
You're probably right. Sad that their support could help anyone at all. And, of course, using ids makes api much more difficult to use.
Did you notice if custom fields endpoint returns id when you create a new field, or you need to GET it?

[2019-07-14 20:06] adanot commented on #953
@AAverin Not too sure since I created the custom fields in the GUI. The API reference says it returns the id in the response object for PUT/PATCH requests though.

[2019-07-16 07:32] AAverin commented on #953
Support told me it's possible to use custom fields names by passing them directly in the payload, without extra custom_fields object.
It worked, but values for fields were not set.
Anyways, custom fields are only needed for segments and there are no segments in New Marketing. So maybe just skip custom fields completely?

[2019-07-16 07:33] AAverin commented on #953
So just to close the issue.
Correct payload would be:
[code]

[2019-07-16 07:34] AAverin commented on #953
They also promised to test and update API documentation

[2019-07-16 22:29] RhianneMoll commented on #891
I suspect it's the same TLS snafu I've been struggling with. AFAICT, Node 10.x uses TLS2.3 by default, which means TLS1 and 1.1 have been deprecated. All things being equal, if the remote server admins have downgraded their TLS requirement, you have to add "secureProtocol: 'TLSv1_method'" to the http request options, or some other value that aligns with what they've done on the server side.

(I st

[2019-07-17 21:39] hkadyanji commented on #920
@AWR14,
I was facing a similar problem, and I fixed it by making sure the `from` email field is a valid email

[2019-07-18 16:00] nephlin7 commented on #952
Same Here 😕
![image](https://user-images.githubusercontent.com/22168189/61473018-d0f28080-a942-11e9-8ed6-64922c2732c2.png)

[2019-07-18 16:08] nephlin7 opened #955 "Dependencies were not found: "fs", "net", "tls""
#### Issue Summary
Error with webpack
[code]
#### Technical details:

* sendgrid-nodejs Version: 6.4.0
* Node.js Version: 10.16.0

[2019-07-19 02:46] adamreisnz commented on #713
Also ran into this, subjcet doesn't seem to be overwritten, but work around is usable.

[2019-07-19 10:00] yugasun commented on #891
Does somebody solve this problem?

[2019-07-19 11:17] adamreisnz commented on #891
I didn't manage to solve it, but put more logging in place to help the Sendgrid team analyse it if it happens again. However, until now it hasn't re-occurred, so hoping it was a temporary disruption or routing issue.

[2019-07-19 15:32] yugasun commented on #891
@aanandjha I wrote a simple [demo](https://github.com/yugasun/node-mutual-ssl-auth) for TLS，this error never comes out.

Node Version: `v10.16.0`

[2019-07-23 07:34] oopyrj commented on #874
Experiencing same behavior in 6.3.1 as @iudelsmann.

[2019-07-23 17:34] madison-soucie commented on #952
I am experiencing the same error. Has anyone found a solution or a workaround in the short term?
<img width="1161" alt="Screen Shot 2019-07-23 at 11 32 08 AM" src="https://user-images.githubusercontent.com/19200284/61733716-a2f3ae80-ad3d-11e9-86e8-609edd7ef5ad.png">

Seems like [Issue #955](https://github.com/sendgrid/sendgrid-nodejs/issues/955) is related.

[2019-07-23 17:59] nephlin7 commented on #952
I found this Lil workaround, set in webpack config:
[code]

[2019-07-27 13:44] andrewlew1s commented on #922
I got this response when entering an invalid email.

[2019-07-28 10:51] soramister commented on #953
Any update on this?
I have the same error when I have the field name inside custom_fields.
I have no error when I use the field id inside custom_fields or inside BUT the contact is not saved.

[2019-07-28 11:16] AAverin commented on #953
@soramister
Last answer I got from support was that now we are supposed to use special id's when setting values to custom fields.
See @adanot answer above.

Still, custom fields are somewhat useless at the moment because it's not possible to build custom segments. So yes, you can send custom fields but you can't really use them for anything.

[2019-07-29 00:54] soramister commented on #953
@AAverin
I have tried with the field ID too. There is no error message BUT the contact does not save.

[2019-07-29 06:18] zachweinberg opened #956 "Any example of best practice for sending large amount of emails?"
What is the best practice while using the @sendgrid/mail library to send 1000 emails when the body of the message is unique for all emails?

[2019-07-29 10:25] AAverin commented on #953
@soramister I didn't try myself yet, because due to missing Segments and some feature I consider switching to ChipMunk instead.
Anyways, according to support, you should be able to get your created custom fields using `GET https://api.sendgrid.com/v3/marketing/field_definitions` call.

Then you will need to take the IDs for the custom fields you are interested in adding/updating values for, and us

[2019-07-30 01:01] MatteoGioioso opened #957 "403 access forbidden"
#### Issue Summary

I am trying to add a Single Recipient to sendgrid following these instructions:
https://sendgrid.com/docs/API_Reference/Web_API_v3/Marketing_Campaigns/contactdb.html#Add-Single-Recipient-POST
But when I try to hit that endpoint I receive `403 access forbidden`

[code]
I am already using the `@sendgrid/mail` and I have no problem with that.

#### Steps to Reproduce
I am trying t

[2019-07-30 01:34] soramister commented on #953
I've tried with the fields id. While the command is successful (no error returned), the contact is not added.

[2019-07-30 04:27] wolfscott commented on #920
@hkadyanji, (and anyone else coming along) oddly enough I have discovered that if I do not provide all the fields AND ensure they at least have a space, I get the error -- instead of setting a field to "", I set it to " " (space inside the quotes) and it solved my issue -- I find this quite odd but fixed is better than broken. :)   If anyone has any feedback/insight, I'm eager to know...

In fairn

[2019-07-30 14:28] AAverin commented on #953
@soramister
Looks fine for me.
Was able to successfully pass custom fields data for all my users

[2019-07-30 14:28] #953 closed

[2019-07-31 09:59] olaven commented on #382
If I am not mistaken, this still appears to be an issue: #955
Or at least something like it  😄

For anyone coming here, this workaround from @nephlin7  worked for me:
[code]

[2019-08-02 02:45] praveenkumart opened #958 "Inline styles are trimed off"
#### Issue Summary

I am using sendgrid 6.3.1 , i am able to send emails , css and inline styles are getting trimmed , design is not reflecting in email .
Problem happening only in Zoho .

#### Steps to Reproduce

#### Technical details:

* sendgrid-nodejs Version: 6.3.1

[2019-08-04 18:50] tsongas opened #959 "Node 11.12.0"
I'm using Node 11.12.0 do I really need to use an ancient version of Node to use SendGrid?

[2019-08-05 03:34] HEINMINKYAWHTWE opened #960 "Government"
#### Issue Summary

A summary of the issue and the environment in which it occurs. If suitable, include the steps required to reproduce the bug. Please feel free to include screenshots, screencasts, code examples.

#### Steps to Reproduce

1. This is the first step
2. This is the second step
3. Further steps, etc.

Any other information you want to share that is relevant to the issue being reporte

[2019-08-05 03:34] HEINMINKYAWHTWE commented on #960
I Love Children.

[2019-08-07 00:21] MatteoGioioso commented on #957
Any update on this?

[2019-08-07 07:52] kadnan0900 commented on #927
This is a fire-base issue. If you are using Free(Spark Plan) account you can only use Google services if you are using external services you have to pay for that.
https://firebase.google.com/pricing/
Upgrade your plan(Flame Plan or Blaze Plan) you can send emails.

[2019-08-07 13:20] inorganik opened #961 "Marketing API?"
I came to Sendgrid needing transactional email, and it's fine for that. Now I would like to send email to large groups and have the ability for recipients to unsubscribe. From reading the Sendgrid [guides](https://sendgrid.com/docs/ui/sending-email/how-to-send-email-with-marketing-campaigns), it appears I want to use Marketing campaigns. However from the READMEs here, I can't tell if it's supporte

[2019-08-07 21:04] fcastrocs opened #962 "Sending email with text and html fields"
#### Issue Summary

Sending email with the following template only sends html, not text

[code]

#### Technical details:

npm sendgrid --version
6.5.0

node --version
v11.7.0

[2019-08-08 01:17] Goosetaculous opened #963 "PUT marketing/contacts returns Not Found message"
#### Issue Summary

Using require('@sendgrid/client') on Node js
console logs returns 400 and not found.

`const sgClient = require('@sendgrid/client');
const request = {
    method: 'PUT',
    url: `/v3/marketing/contacts/`,
    body: {
      "contacts": [
        {
          "email": "xxx@mail.com",
          "first_name": "example2"
        }
      ]
    }
  };
  sgClient.request(request)
    .

[2019-08-08 07:20] olaven opened #964 "Adding recipients to a list"
#### Issue Summary
I want to add recipients to lists via the [marketing API](https://sendgrid.api-docs.io/v3.0/lists/update-list), however, I am not able to find this ability.

This seems like a feature that really should be available.
Am I missing something, or is this not possible?

Thank you for your time.
Olav

[2019-08-08 13:25] JClackett commented on #964
Also unable to find anything on this

[2019-08-08 18:30] inorganik commented on #953
@soramister it takes Sendgrid about a minute before you'll see it.

[2019-08-08 18:45] #963 closed

[2019-08-08 18:45] Goosetaculous commented on #963
I found the issue  fixed it on my code

[2019-08-12 16:25] noway opened #965 ""Content with characters ', " or & may need to be escaped with three brackets" unnecesary warning"
#### Issue Summary

```Content with characters ', " or & may need to be escaped with three brackets``` is logged even if I have {{{ 3 brackets in the templates

The bug has been introduced here: https://github.com/sendgrid/sendgrid-nodejs/issues/790

I'm trying to keep my logs clean so that i can grep them and look at them, and this seems to be quite a thing which pops out unnecessarily. I also us

[2019-08-12 21:07] oprogramador opened #966 "email not sent"
#### Issue Summary

Sendgrid doesn't send me any emails. I obtain 202 status from Sendgrid API. I use a correct API key which was working about a year ago. I checked the spam folder is empty.

#### Steps to Reproduce

[code]

#### Technical details:

* @sendgrid/mail: 6.4.0
* Node.js Version: 10.16.0

[2019-08-13 03:07] MatteoGioioso commented on #957
at the moment I am unable to save contacts, any help?

[2019-08-13 08:40] mfilip opened #967 "Error: Nock: No match for request"
#### When use @sendgrid/mail
During usage on call send I have error like:

`Error: Nock: No match for request {
  "method": "POST",
  "url": "https://api.sendgrid.com/v3/mail/send",
  "headers": {
    "accept": "application/json",
    "user-agent": "sendgrid/6.4.0;nodejs",
    "authorization": "Bearer SOMEHASH",
    "host": "api.sendgrid.com",
    "content-type": "application/json",
    "content-l

[2019-08-13 08:58] #967 closed

[2019-08-13 14:47] ErwinAI commented on #965
I am having this problem as well and would like this to change for the same reasons as @noway mentioned. I did see a function called 'setHideWarnings' in the helper, but not sure how to use this.

[2019-08-13 14:49] ErwinAI commented on #931
#965 is a duplicate of this issue.
@thinkingserious It seems that this PR hasn't made it into a release yet. It has been over three months now though. Is there any news on this?

[2019-08-13 16:57] oprogramador commented on #966
btw. this doesn't send any email as well:
[code]
it's from this docs https://sendgrid.com/solutions/email-api/

[2019-08-17 12:22] piavgh commented on #694
@Loriot-n : Hi, how did you import like that?

I also use `import sgMail from '@sendgrid/mail'`

But when I tried to run with babel-node:

[code]

[2019-08-19 12:05] hypetechnologies2019 commented on #964
https://sendgrid.com/docs/API_Reference/api_v3.html

Please refer this

[2019-08-19 12:15] olaven commented on #964
Sorry for not updating this issue earlier.
As it turns out, out you have to use the `https://api.sendgrid.com/v3/marketing/contacts`-endpoint.
You can then pass `list_ids` in the body 😄

I did not find this very clear in the documentation though, and I spent many hours searching for this..

[2019-08-19 12:15] #964 closed

[2019-08-19 12:27] hypetechnologies2019 commented on #964
Hi, what did u pass in the request body, i get invalid json, even if its valid.. what did u pass in `list_ids` ?

[2019-08-19 12:39] olaven commented on #964
`list_ids` is a list of the ID-strings of the lists :)
i.e.: `["SOME_ID", "OTHER_ID"]`.

However , you cannot access these IDs from the GUI. You have to make [this call](https://sendgrid.api-docs.io/v3.0/lists/get-all-lists) first :-)

[2019-08-19 12:53] hypetechnologies2019 commented on #964
I need to insert a new mailid to contacts list.

Request Body
 {
    "list_ids": [
        "062ab507-279c-4ac7-8423-da88cae77ed7"
    ],
    "contacts": [
        {
            "address_line_1": "abc",
            "address_line_2": "def",
            "alternate_emails": [
                "myidxxx@gmail.com"
            ],
            "email": "hypetechnologies2019@gmail.com",
            "first_na

[2019-08-20 15:11] francesco-clementi opened #970 "Send bulk mail get error 401 Unauthorized"
I'm using @sendgrid/mail module on Google Cloud Functions.

My mails are formatted like this:
[code]
I have an array of mails with different "to" and different html emails.

When I use sgMail.send(emailsArray) and user.email is just me, then the mails will be sent so the api key is working.

When I use sgMail.send(emailsArray) and user.email are different between them, I get this error:
[code]
Any

[2019-08-21 17:02] rafaelvicio commented on #957
same problem

[2019-08-21 22:27] CoreyCole commented on #676
@thinkingserious https://github.com/sendgrid/sendgrid-nodejs/blob/master/use-cases/kitchen-sink.md

Does not have `dynamicTemplateData` but it does have `substitutionWrappers` and `substitutions`.

In addition to updating the docs, it would also be a good idea to update the type interface `MailData` (https://github.com/sendgrid/sendgrid-nodejs/blob/master/packages/helpers/classes/mail.d.ts#L117).

[2019-08-22 15:25] yilinglu commented on #437
What is the status of this issue? Anything more needed to be done?

[2019-08-22 16:22] Achyuth-India opened #971 "Could not able to send javascript as attachment"
Hello,

I am trying to send an email with javascript file as an attachment. I could successfully able to send the mail but the file is not sent as javascript. Instead I receive it as plain text file.

Please find the payload I use for filename and type:

`filename: 'somejsfile',
type: 'application/javascript',`

And if I try to specify file name as `somejsfile.js`. I am not even receiving the emai

[2019-08-23 20:22] naji247 opened #972 "Can't Add Subscription Tracking Substitution"
#### Issue Summary

Hey folks, I'm having trouble adding an unsubscribe button at the bottom of my dynamic code template.

#### Steps to Reproduce

1. Added an \<a\> link to my code template
![image](https://user-images.githubusercontent.com/1920483/63621212-307a2680-c5a8-11e9-97af-f45fe11c21ca.png)

2. Kick off API call using the node js client, putting in the unsubscribe substitution.

<img widt

[2019-08-23 20:38] naji247 commented on #972
I fixed this by adding my ASM and group ID to my API call, and then using the <\%asm_group_unsubscribe_raw_url%\> as my href. This wasn't working for me because I was testing it with "Test mail" when I first tried, but now it works when I send it through my real node client.

[2019-08-23 20:38] #972 closed

[2019-08-25 02:23] rafaelvicio commented on #957
From what I've verified, this is because our account is on the free plan, which doesn't allow us to use this API.

[2019-08-26 06:13] yaozuwang opened #973 "dynamic template data not working after 6th of August"
#### Issue Summary

dynamic_template_data is working anymore for sendgrid/mail since 6th of August and it appears to be missing from sendgrid/client even though it is specified in sendgrid API

#### Steps to Reproduce

1. Sending a email via template is not working anymore

#### Technical details:

* sendgrid-nodejs Version: 6.3.1 and 6.4.0
* Node.js Version: 4.1.2

[2019-08-26 07:38] vinodkumartheking commented on #920
did the issue  get resolve, i am facing the same error but in different context of bot.
It is working fine in bot emulator but once i publish to azure, i get this error.

BotFrameworkAdapter.processActivity(): 500 ERROR - Error: Bad Request
(node:17240) UnhandledPromiseRejectionWarning: Error: Error: Bad Request

[2019-08-26 09:06] CronjManas commented on #953
what should be the custom field id to make it work?? @AAverin, please explain your example payload.

[2019-08-27 00:47] #973 closed

[2019-08-27 13:17] himanshuphirke opened #974 "Sending emails using personalizations with invalid email"
I am using /v3/mail/send to send email using Transactional templates.

The personalization some times contains invalid email (since they are coming from 3rd party)

Questions:
1. Is there a way I can send email to rest of the valid and skip invalid. Right now complete batch fails
2. What kind of email validation does SendGrid do? Is it just a something@domain.somerthing?
3. Is there a way I can ru

[2019-08-28 22:27] maxirby commented on #741
Please show how your msg looks like (code example) after you added {{{}}} ?

[2019-08-29 10:11] rafaelrpinto commented on #741
@maxirby

The code is the same, what changed is the subject definition on the template where I set to: `{{{subject}}}` instead of `{{subject}}`

[2019-08-30 09:38] maxirby commented on #741
Thanks

On Thu, Aug 29, 2019 at 12:11 PM Rafael Pinto <notifications@github.com>
wrote:

[2019-08-30 22:43] sejr commented on #924
I am seeing this issue as well. @okhomenko were you able to find a fix?

[2019-08-31 23:04] SirPhemmiey commented on #397
Hi @thinkingserious, the link you is not found.

I am currently in need of a workaround this problem too.

Thanks in anticipation.

[2019-08-31 23:07] jbistis commented on #929
TypeError: sendgrid.setApiKey is not a function.  Just encountered this issue in Node.js 8 with "@sendgrid/client": "^6.3.0" ...upgrading to 6.4 has the same error.

  `sendgrid.request(sendgridRequest)
        .then(([response, body]) => {
          console.log('sendgrid response:', response);
          console.log('sendgrid body:', body);
          archiveEmailRequest(emailRequest, handler.ref);

[2019-08-31 23:07] jbistis commented on #929
async function initSendgrid() {
    const config = await getConfig();
    const apiKey = config.sendgrid.apiKey;
    sendgrid.setApiKey(apiKey);
}

[2019-09-01 00:43] HaydenGr commented on #444
@milottit If you haven't figured it out already and for new comers who stumble along this ticket,  I was getting the same successful result you were but no email response. How I resolved this, I used the following code.

Note below the following format in the 'dynamic_template_data' variable.

`"name": 'Test'`

I believe you need to send the variable you want to replace in the template as a string

[2019-09-01 13:46] jbistis commented on #933
Elmer, what is the band-aid solution?

[2019-09-01 18:25] jbistis commented on #694
I resolved this by changing `import * as sendgrid from '@sendgrid/client';` to `const client = require('@sendgrid/client');`

[2019-09-02 05:52] godhoomrohit opened #976 "Unable to Send AMP Emails"
I am unable to send AMP emails with V3 API. Your article says we can send.(https://sendgrid.com/docs/for-developers/tracking-events/google-amp-for-email/).

Code Snippets:

[code]

Any configuration changes needed?

"@sendgrid/mail": "^6.4.0"
* Node.js Version: 8.11.3

[2019-09-03 09:03] krazibit opened #977 "Unable to Instantiate a new MailService class"
#### Issue Summary

Unable to instantiate the MailService class as it thought to be a property by TS

#### Steps to Reproduce
[code]
Error :  Cannot use 'new' with an expression whose type lacks a call or construct signature.

#### Technical details:

* sendgrid-nodejs Version: 6.4.0
* Node.js Version: 10.15.3

[2019-09-03 20:16] Lucania001 commented on #953
Same for me. I get a job ID in the response but it seems the data isn't in sendgrid

[2019-09-03 20:38] Lucania001 commented on #953
So for me custom fields using the new contact API are definitely not working. I've tried using custom fields ID's and without. Without ID's it errors "invalid custom field ids supplied" with ID's it works/I get a success but it doesn't update the data

`{
    "list_ids": [
        "4fb6cca6-06dc-4aa2-b7cb-851a4e3be37e"
    ],
    "contacts": [
        {
            "email": "test@mail.com",

[2019-09-03 20:42] lcordier42 commented on #953
It may take a while to see the contact created on sendgrid, has the contact been created?
Your object looks good though.

[2019-09-04 20:18] Lucania001 commented on #953
It's really odd, the contact will only get created if I don't include custom fields. At a bit of a loss where to go from here

[2019-09-04 23:53] garybernhardt opened #978 "TypeScript types allow mails with missing bodies"
#### Issue Summary

Each SendGrid mail requires either a `text` key or an `html` key. If neither is present, the server will reject the mail.

The SendGrid TypeScript types' `MailData` type is the type passed to `sendgrid.send`. It contain [this](https://github.com/sendgrid/sendgrid-nodejs/blob/c134ecd09080fb9d5906a8b62b80db93e6816d56/packages/helpers/classes/mail.d.ts#L117):

[code]

This is wron

[2019-09-06 00:28] bstanfield commented on #953
@Lucania001 having the same problem! Really really unimpressed with Sendgrid's API. Extremely brittle and opaque. So little insight into what is happening, and so little documentation to explain the endpoints and their behavior.

Even with the field id rather than the field name, I'm not able to update custom fields for contacts. This needs to be addressed ASAP or a customer is down the drain.

[2019-09-06 01:31] dkundel opened #979 "Invalid types for MailData"
#### Issue Summary

Gary Bernhardt found a bug in the types of the MailData interface as outlined in this tweet: https://twitter.com/garybernhardt/status/1169390266639216641?s=19

The types should not allow both the `text` property and the `html` property to be undefined. Instead either of the two should be mandatory.

The fix should should be made in this file:

https://github.com/sendgrid/sendgr

[2019-09-06 01:36] dkundel commented on #979
This is a duplicate #978

[2019-09-06 01:37] #979 closed

[2019-09-06 17:39] yoagauthier commented on #970
Hi,

I have a very similiar issues with the SDK here (Using NodeJS SDK 6.4.0), and customer support sent me here as they think it's an issue from the SDK itself. I often send emails at the same time, from the same server, but got different answer from the API calls.

Exemple :
- email sent to user1@xxx.com, with API key YYY ==> email accepted
- email sent to user2@xxx.com, with API key YYY ==>  re

[2019-09-07 15:47] LessaAugusto commented on #871
Same problem here! As I'm just testing the code, i'm using http://b64.io/ to encode my images. After getting the data, i'm doing something like this:

[code]

Everything is working just fine, I've tested the html (because I'm generating it using a template language and a markup language, to make it responsive) and it looks exactly how I wanted it to look. But when I send the email, i don't know wh

[2019-09-08 12:04] jhorsfield-tw commented on #482
I know this has been closed but I've just spotted this issue and I have express with inbound-mail-parser working. Main thing I needed to do was to use the multer library to handle the multipart/form-data input and then use the keyValues() method of the @sendgrid/inbound-mail-parser library like below

require in multer and Sendgrid:

const upload = multer();
const mailParse = require('@sendgrid/in

[2019-09-09 03:38] scleaver commented on #953
I can't even get a contact created using SendGrid's "try it out" section of thier API without a custom field. All I get is this:

{
  "errors": [
    {
      "field": "",
      "message": "invalid JSON"
    }
  ]
}

[2019-09-09 08:23] francesco-clementi-bip commented on #970
I confirm that it's the same for me. Some request are accepted, but others get 401 unauthorized.
But it's really impossible to understand the reason of the 401, because it's seems random and it not depends on the code for me.

[2019-09-09 08:30] francesco-clementi-bip commented on #918
Same problem for me!

[2019-09-09 11:56] nielsvhb commented on #713
Leaving the subject in the 'dynamic_template_data' and referring to it in the template with {{{subject}}} does indeed seem to work. Also what I noticed is that custom_args no longer exists. It is merged along with substitutions into 'dynamic_template_data'. Unfortunately the docs don't tell this. If you want to pass a language parameter for example, also do this in your 'dynamic_template_data'.

[2019-09-09 16:21] simonwebdev000000001 commented on #482
Hi all, can someone share an example how to parse attachments? i am using same configs, but attachment come in unreadeble string
[code]