[2016-10-24 17:25] andre0799 commented on #282
+1

[2016-10-25 19:35] thinkingserious commented on #166
@HemalR,

I'm happy to make the updates to our documentation, but I'm not quite sure I understand the issue. The send_at field requires a unix timestamp given in seconds, as shown in the example. Could you give me an example of what the updated documentation would look like?

[2016-10-25 19:36] thinkingserious commented on #326
Hello @HemalR,

Could you please open up a ticket at https://support.sendgrid.com so this can get on our queue for resolution?

Thanks!

[2016-10-25 19:36] #326 closed

[2016-10-25 19:55] thinkingserious commented on #247
Hello @jmonster,

This is no longer an issue with the v3 version of our API. A full example that utilizes the reply_to field can be found [here](https://github.com/sendgrid/sendgrid-nodejs/blob/master/examples/helpers/mail/example.js#L130).

Please let me know if you run into any other issues.

Thanks!

[2016-10-25 19:55] #247 closed

[2016-10-25 21:43] thinkingserious commented on #267
Hi @Jatinthakkar,

If you are still having trouble, please feel free to re-open this issue.

[2016-10-25 21:59] thinkingserious commented on #316
Hi @tsriram,

How are things going? Is there anything I can do to help?

[2016-10-26 07:32] wizysanjay commented on #282
I got it. Thanks

[2016-10-26 12:11] NetOperatorWibby opened #331 "Question: Is it possible to use a template from my Node project's `views` folder?"
I understand that there is a template function with Sendgrid, but I want to know if it is at all possible for me to use a template from my project folder to send email.

I'm using `hbs` and `hbs-utils` so I can do things like create layouts and then put `{{{ body }}}` where I want content to go. Is this possible with email?

[2016-10-27 04:18] tsriram commented on #316
@thinkingserious sorry for responding late. Have been caught up with a lot of work after vacation as we have a release in early November. I'm afraid if I'll be able to work on this till then :frowning_face:

[2016-10-27 18:20] thinkingserious commented on #331
Hello @NetOperatorWibby,

Unfortunately, I do not have any experience with this use case. Could you please reach out to our support team at https://support.sendgrid.com? Thanks!

[2016-10-27 18:20] #331 closed

[2016-10-27 19:17] thinkingserious commented on #316
@tsriram,

No worries, thanks for following up!

[2016-10-28 13:34] Spartano opened #332 "cant understand how to use code workshop sample"
#### Issue Summary

Hi, i am just starting learning back end, know a bit of Node and Express and Heroku, but i was not able to even start the server, because i dont know were used and what command should i use .

I have found the code workshop for Node, but didnt knew what to do with the code.Maybe it's too complicated for a low level like me, i dont know.

So this is not a bug, but rather i am as

[2016-10-28 15:32] HemalR commented on #166
Thanks @thinkingserious

I guess it's because I'm beginner to the point of not recognising that the example digit was in seconds (what I had learned about Unix timestamps is that they are in ms). If I had to, I would simply put in:  '(in seconds)' in the documentation. Like this:

<img width="835" alt="docs" src="https://cloud.githubusercontent.com/assets/15634303/19812095/ccbcef04-9d66-11e6-9ea1-

[2016-10-28 15:55] thinkingserious commented on #332
Hello @Spartano,

Thanks for the suggestion. What is your end goal? What is the context from which you want to send an email?

[2016-10-28 16:07] thinkingserious commented on #166
Thanks for the suggestion @HemalR!

Our docs are open source, would you like to make a PR? Otherwise, I'll go ahead and make the PR.

[2016-10-28 16:19] Spartano commented on #332
i want to implement an webhook to my heroku app, in order to send mails to my mailing list subscribers.
If you do a step by step guide on how to do that too, you deserve to go in paradise from my point of view, haha. Bye, Victor.

[2016-10-28 17:25] blakeembrey commented on #306
I believe I just run into this issue as well. Wouldn't it be reasonable to make them all `||` instead? Or, even better, just always call it? It's pretty unexpected that you can't omit a parameter - I run into it omitting `content` because I had two bodies I needed to add but the rest was following the README example.

[2016-11-03 03:28] HemalR commented on #166
I'll do the pull request. Never done one before (hence my procrastination)-
but it'll be a good learning experience.

I'll do it now.

Cheers
On Sat., 29 Oct. 2016 at 12:07 am, Elmer Thomas <notifications@github.com>
wrote:

[2016-11-03 11:22] jaspersorrio opened #334 "Get list of all emails sent"
#### Issue Summary

How do I get a list of the previous emails sent?

[2016-11-07 10:42] devlato opened #335 "SDK became worse"
Hey guys,

why do you changed the SDK so much? Previously developer had no need to care about lots of internal things, and now it is required to know even your URLs, and it makes all your SDK and helper stuff pretty useless comparing to the previous SDK (because sometimes it's easier to implement it manually).

[2016-11-07 19:31] happyruss commented on #335
and the build appears to be broken.
and since nodemailer-sendgrid-transport is no longer supported, so I can no longer use deitch/activator and must create my own activation and password-reset algorithms now.

[2016-11-07 21:03] thinkingserious commented on #335
Hello @devlato,

Thanks for reaching out and sharing your feedback, we appreciate it!

This version is step one in a three step upgrade of the previous library.

The first step is to provide baseline support for all v3 Web API endpoints across all of our 7 SDKs. This is complete.

Step two is in progress, and when complete, I believe, will satisfy your requirements. You can follow along [here](htt

[2016-11-07 21:03] #335 closed

[2016-11-07 21:22] happyruss commented on #335
Build Failing:
https://github.com/sendgrid/sendgrid-nodejs - it says 'build-failing' am i missing something?

nodemailer-sendgrid-transport
https://github.com/sendgrid/nodemailer-sendgrid-transport - says no longer supported

but it's ok, i have a plan already to do it without deitch/activator

[2016-11-07 21:30] thinkingserious commented on #335
@happyruss,

Thanks for taking the time to reply.

I'm not sure what is going on with the badge, but the tests are passing: https://travis-ci.org/sendgrid/sendgrid-nodejs/builds/170623381 :(

The failed test, according to the badge, is this pull request: https://travis-ci.org/sendgrid/sendgrid-nodejs/builds/172291784, but it has not been merged yet.

Yes, nodemailer-sendgrid-transport is no longer

[2016-11-07 21:39] thinkingserious commented on #335
@happyruss,

The issue turned out to be that the mock server happened to be down during the last test run :(

Thanks for the heads up, all is good now.

[2016-11-08 19:09] thinkingserious opened #336 "Add Rate Limiting Support"
We would like to add support for v3 Web API rate limits, as described [here](https://sendgrid.com/docs/API_Reference/Web_API_v3/How_To_Use_The_Web_API_v3/rate_limits.html).

**_How would you like this to be implemented?_** Or please give a thumbs up to express your interest in us implementing to move this task up our queue.

PRs are always welcome as well :)

[2016-11-08 19:36] thinkingserious commented on #334
Hello @jaspersorrio,

Either through the [SendGrid dashboard](https://sendgrid.com/docs/User_Guide/email_activity.html) or via our [Event Webhook](https://sendgrid.com/docs/API_Reference/Webhooks/event.html).

[2016-11-08 19:36] #334 closed

[2016-11-08 19:38] thinkingserious commented on #166
Awesome, thanks!

<https://www.sendgrid.com>
Elmer Thomas
Developer Experience Engineer | Product

On Wed, Nov 2, 2016 at 8:28 PM, Hemal <notifications@github.com> wrote:

[2016-11-10 23:34] thinkingserious commented on #332
Hello @Spartano,

That is a great idea, I'll keep this ticket open for that purpose.

[2016-11-11 15:13] tommaton opened #337 "Error message when trying to send transactional email"
Hi,

I keep on getting the following error when trying to send a transactional email using a template I've setup within sendGrid.

**Status code:** 400
**Error message:** message: 'Bad Request', field: null, help: null

I've followed the following example: https://github.com/sendgrid/sendgrid-nodejs#without-mail-helper-class and have developed the following, its probably something simple i've miss

[2016-11-14 19:57] thinkingserious commented on #337
Hello Tom,

I believe you should either remove the `content` block or add a `value`.

You might also try working through this example: https://github.com/sendgrid/sendgrid-nodejs/blob/master/USE_CASES.md#without-mail-helper-class

With Best Regards,

Elmer

[2016-11-14 20:26] tommaton commented on #337
@thinkingserious I forgot to update this, I found the issue.

The value of `productDetails.price` was a number (189.95) once I converted this to a string it now works.

[2016-11-14 20:37] thinkingserious commented on #337
@tommaton,

Sorry you had to work through that and you are not the first one :(

One of the things we will be adding to the new version of the mail helper is auto-conversion to string.

[2016-11-14 20:37] #337 closed

[2016-11-16 04:06] iamgollum opened #339 "Uncaught Syntax Error: Unexpected token < (in lib/sendgrid.js triggered on a response object)"
#### Issue Summary

After sending out a templated email using SendGrid's email helper utility. The server response from SendGrid's API is returning invalid JSON according to this wrapper (sendgrid-nodejs).

[code]

Line 110 is:

[code]

#### Steps to Reproduce

1. Ensure sendgrid node package -->"sendgrid": "^4.7.1",
2. Create a template with substitutions in SendGrid and activate that template
3.

[2016-11-17 20:59] thinkingserious commented on #339
Hello @iamgollum,

Thanks for taking the time to submit an issue! I have added this to our backlog for review.

Meanwhile, perhaps this will help: https://github.com/sendgrid/sendgrid-nodejs/blob/master/USE_CASES.md#transactional_templates

Thanks!

[2016-11-18 00:12] thebigredgeek commented on #335
Is there any way we could revert to the old API?  I am not trying to be a dick, but this is literally one of the worst API changes I have ever seen.  It requires an intricate knowledge of sendgrid internals rather than providing abstraction.  At the same time, the paradigm seems to be functional but without chaining.  I have to create new objects, then call 4 or 5 functions one at a time (zero cha

[2016-11-18 00:19] thinkingserious commented on #335
Hi @thebigredgeek,

Yes you can, please see this: https://github.com/sendgrid/sendgrid-nodejs/blob/master/TROUBLESHOOTING.md#continue-using-v2

With regards to your concerns, they are definitely valid. You have arrived at the new SDK in Phase 1 of 3.

Phase 1 was complete basic coverage of the v3 endpoints and decoupling the SDK from the v2 mail/send endpoint. Phase 2 is the abstraction in the for

[2016-11-19 02:57] yinso opened #340 "typescript: error TS2305: '.../node_modules/sendgrid/index' has no exported member 'SendGrid'"
#### Issue Summary

Sendgrid version: 4.7.1

Trying to make use of sendgrid in typescript. Cannot make use of the `SendGrid` namespace.

Would be great to have some working examples of using typescript with sendgrid.

#### Steps to Reproduce

1. clone [sendgrid-ts-demo repo](https://github.com/SPARTAN563/sendgrid-ts-demo/blob/master/sendgrid.ts), `
2. `npm install`
3. `npm test` (which runs `tsc`)

[2016-11-21 14:24] victorhqc commented on #335
Its amazing how using the helpers is more complicated than using the API Object directly. There seem to have a lot of problems with the helpers. I end up with so many lines of codes, and so many new objects that this is not usable at all. Looks like some weird mix of OOP with Composite pattern that ends up being a half bake code with some serious problems.

Also, I noted the following problem:

[c

[2016-11-21 15:28] mbernier commented on #340
Thank you for the letting us know this is an issue! We have added this to our backlog and will respond as soon as we possibly can. I am sorry for the delay.

[2016-11-21 17:19] thebigredgeek commented on #335
@victorhqc I am just gonna roll my own functional wrapper around the REST api.  https://github.com/thebigredgeek/sendgridjs

[2016-11-22 05:28] ramp07860 opened #341 "I can not send emails in php sendgrid api"
i got error with special character like single quotes

{"errors":[{"message":"Content-Type should be application/json.","field":null,"help":null}]}{"errors":[{"message":"Content-Type should be application/json.","field":null,"help":null}]}415

Actually i can use sendgrid api for forward rss feeds news to our friends.

mycode here
//------------------------------------------------------------------

[2016-11-22 07:30] manu-silicon commented on #341
Getting the same in node.js.

[2016-11-24 10:36] ghost opened #342 "how to use fromname in my existing code"
and my code is
[code]
i have my other options but i want to do using sendgrid apis for nodejs and i can not find any good solutions for that

[2016-11-25 11:25] babaMar commented on #272
Hi @thinkingserious I'm actually experiencing the same issue, I checked my activity log and I see the email as processed, though I haven't got that. Here's my header:

`Server: nginx
Date: Thu, 24 Nov 2016 18:36:02 GMT
Content-Type: text/plain; charset=utf-8
Content-Length: 0
Connection: close
X-Message-Id: f3prb6QYRB2LxjkX2ltvnQ
X-Frame-Options: DENY
`

[2016-11-29 02:24] thinkingserious commented on #272
@babaMar,

You may be having an issue with your account. Could you please contact our support team at https://support.sendgrid.com

Thanks!

[2016-11-29 02:35] thinkingserious commented on #342
Hi @tsampareek,

Please try:

[code]

or

[code]

[2016-11-29 04:29] thinkingserious commented on #341
Hi @ramp07860,

Thanks for reaching out to us. I have removed the API key for your protection. You will need to create a new one.

Can you please provide some sample content so that I may try to reproduce? Thanks!

Also, you may want to re-open this issue here: https://github.com/sendgrid/sendgrid-php since this is the repo for our Node.js library.

@manu-silicon,

Could you please provide a code

[2016-11-29 04:51] thinkingserious commented on #335
Hello @victorhqc,

I'm having trouble reproducing your error. Here is what I have:

[code]

With regards to the usability of the helpers, we are working on a new version, as mentioned [here](https://github.com/sendgrid/sendgrid-nodejs/issues/335#issuecomment-261411899), please do let us know if you have any feedback. We appreciate your support!

[2016-11-29 04:54] thinkingserious commented on #340
cc @SPARTAN563

[2016-11-29 06:35] manu-silicon commented on #341
@thinkingserious I managed to make it work but unfortunately I did not keep the non-working code. But I think I incorrectly constructed the request by using `content` instead of `body`:

[code]

[2016-11-29 11:14] SPARTAN563 commented on #340
Will take a look :+1:

[2016-11-29 11:44] SPARTAN563 commented on #340
Sorry about that, just a problem with my demo project (it was out of date). I've fixed that up and all should be working now, feel free to let me know if you run into any further issues.

For reference sake, the demo project previously imported using `import {SendGrid} from "sendgrid";` where it should have been using `import * as SendGrid from "sendgrid"`.

[2016-11-29 16:59] thinkingserious commented on #340
Thank you @SPARTAN563, your awesomeness is appreciated :)

[2016-11-29 16:59] #340 closed

[2016-11-30 09:01] neeraj87 opened #344 "How to do substitution in a template with node.js"
#### Issue Summary

I am using API 3 for integrating sendgrid with my node.js app. I got the basic email working but I need to substitute certain things in the template with data. Below is the code I am using to send email, the email goes out but the substitutions do not work.

[code]

#### Technical details:

* sendgrid-nodejs Version: master (latest commit: [commit number])
* Node.js Version: 4.

[2016-11-30 18:34] thinkingserious commented on #344
Hi @neeraj87,

I hope these examples will help you: https://github.com/sendgrid/sendgrid-nodejs/blob/master/USE_CASES.md#transactional_templates

Please let me know if you run into any issues with those. Thanks!

[2016-11-30 19:16] cjevning opened #345 "Duplicate emails causes batch sending to fail"
#### Issue Summary

When sending an email to multiple recipients, if one of those recipients is duplicated (in the to: or cc:), then the entire batch of emails fails to send with `{ Sendgrid Error: Response Error }` and no additional info. Have not confirmed if this only happens with the mail helper (where I'm experiencing it) or not.

#### Steps to Reproduce

1. Create an email to send to multipl

[2016-11-30 23:10] alperenozlu commented on #344
Hi @neeraj87,

Simply, your JSON structure is not true.

Substitution must be inner the personalizations array. In this way, you can define different substitutions for each person.

Also the name(key) of the substitution array must be **substitutions**.

[2016-12-01 04:26] neeraj87 commented on #344
@thinkingserious thank you for the link to the documentation, it worked. I also noticed I was missing the plural "s" in substitutions.

@alperenozlu thanks for the answer, fixed the JSON structure and the key value pair.

[2016-12-01 07:12] neeraj87 commented on #344
@thinkingserious one quick questions, I am trying to substitute the tags using variables but it keeps giving me : errors: [ { message: 'Bad Request', field: null, help: null } ]

[code]

[2016-12-01 08:03] alperenozlu commented on #344
Hi @neeraj87,

Please check type of your variables, their type must be string. Also please change the key of the substitution to **substitutions**.

[2016-12-01 09:09] Jatinthakkar commented on #267
email.addCc(ccDataArray);

               String arr[];
		arr = new String[1];
		arr[0] = comments;

		String arr2[];
		arr2 = new String[1];
		arr2[0] = replyLink;

		email.addSubstitution("-auditorComments-", arr);
		email.addSubstitution("-replyLink-", arr2);

This is the code snipett. The issue is that auditor comments and reportLink, values get substituted in the mail which is being sent to e

[2016-12-01 10:01] Jatinthakkar commented on #245
I am using java API V2, how do i fix this ?

[2016-12-01 19:08] thinkingserious commented on #245
Hi @Jatinthakkar,

Thanks for reaching out to us!

Could you please post your question [here](https://github.com/sendgrid/sendgrid-java) along with some sample code so that I may try and reproduce the error?

Thanks!

[2016-12-01 19:15] thinkingserious commented on #267
Hello @Jatinthakkar,

Thanks for the update, I have added this to our backlog for review.

[2016-12-01 19:29] thinkingserious commented on #345
Thanks for taking the time to report this issue. I will get this feedback back to the API team for a better error and I'll look into including a duplicate email validator in the mail helper.

[2016-12-02 02:33] neeraj87 commented on #344
@alperenozlu you are right, one of the substitution was an integer. converted it to string and it works.

Thanks for the help.

[2016-12-02 02:33] #344 closed

[2016-12-02 10:03] danielflippance opened #346 "sendgrid.send gives {"code":"EPROTO","errno":"EPROTO","syscall":"write"}"
#### Issue Summary

My nodeJS integration is returning a lot of the following errors when calling sendgrid.send:

{"code":"EPROTO","errno":"EPROTO","syscall":"write"}

I don't know what this error message means or whether this has prevented my email from being sent. Any idea what this means, what it's impacts are or how I can address it?

#### Technical details:

* sendgrid-nodejs Version: version

[2016-12-02 18:27] thinkingserious commented on #346
Hello @danielflippance,

I have not seen this issue myself (seems its dependent on your server settings), but in this epic thread, it looks like there are several possible solutions: https://github.com/nodejs/node/issues/3692

I hope that helps.

[2016-12-04 12:51] mderazon commented on #336
What kind of support did you have in mind ?

If letting the library automatically handle rate limit by the api is what you had in mind then I think that it's better to leave it to the library user to handle.

Otherwise you will need to create a client side email queue that throttles sending emails according to the api limit response.
It's the kind of unwanted "magic" to the library user.

[2016-12-05 09:47] glennslaven commented on #339
I'm having a similar issue, I'm not using a template, just sending a plain email. Here's my code

[code]

The call errors & outputs

The email still actually sends, but my program exits with that error.

I put a `console.log` on line [108 of client.js](https://github.com/sendgrid/nodejs-http-client/blob/master/lib/client.js#L108) just before the callback in the sendgrid-rest library & this was the

[2016-12-05 09:58] glennslaven commented on #339
Following on from that, I put a console log after constructing the request and I get this

[code]

So it looks like it makes the correct request, then tries to make a request with a bunch of undefined properties

[2016-12-05 23:50] thinkingserious commented on #339
@iamgollum,

Are you still having an issue?

[2016-12-05 23:54] thinkingserious commented on #336
Hi @mderazon!

Thanks for the feedback!

So far, I'm really liking @Jericho's solution for C#: https://github.com/sendgrid/sendgrid-csharp/issues/369#issuecomment-263744071

[2016-12-09 00:41] yinso commented on #340
Thanks guys!

[2016-12-09 04:23] adamreisnz commented on #306
The mail helpers are severely broken it seems. I can't send out an email anymore when I don't provide content in the `Mail` constructor, but use `mail.addContent()` instead.

[2016-12-09 05:00] adamreisnz commented on #252
@thinkingserious I finally came to understand what bothers me so much about all the Sendgrid helper classes introduced in v3... there's just too many of them and they make sending emails unnecessarily complicated :P

I didn't want to overhaul all of Sendgrid's code, so I decided to make a simple wrapper instead, [sendgrid-mailer](https://www.npmjs.com/package/sendgrid-mailer).

While Sendgrid's he

[2016-12-09 05:41] jamesdixon commented on #252
@adamreisnz seriously, thank you.

My background job that sends emails via sendgrid was using v4.0.7, which was already complicated enough. I upgraded to the latest version and sadly everything broke. I was so frustrated with how complex it was to send an email that I didn't even bother updating.

All that said, the simplicity of this is exactly what I was looking for. I'll give it a shot over the

[2016-12-09 05:44] adamreisnz commented on #252
@jamesdixon I was still stuck on v3.x.x and also didn't want to upgrade :)

Hopefully you will find it useful. Let me know how it works for you and if there's anything critical missing, thanks!

[2016-12-09 06:04] adamsingle commented on #339
I'm having this issue. And I'm using a transactional template as in the link you posted.

[2016-12-09 17:20] MaxMadylius opened #347 "Unhandled exception while parsing response body"
#### Issue Summary
In some cases SendGrid returns html response. For example if we send email over 25 mb.
If response.body is not json it causes crash.

#### Technical details:

Unhandled exception occurs in sendgrid.js file line 95 and 110.

* sendgrid-nodejs Version: 4.7.1
* Node.js Version: 6.4.0

[2016-12-09 20:09] thinkingserious commented on #252
@adamreisnz,

This is AWESOME and thanks for sharing it with our community :)

tldr; our helper classes are not finished and you already beat us to where we are headed :)

We totally agree with your thoughts and this is the phase of the v3 library update we are currently working on across all 7 of our SDKs. Please see the Mail Helper Enhancement project [here](https://github.com/sendgrid/sendgrid-

[2016-12-09 23:59] adamreisnz commented on #252
@thinkingserious glad to hear you're thinking of heading the same way. The C# example looks  better, but I think still somewhat convoluted for a JS implementation. Making everything classes is not necessarily always the best way to go in JS.

As for your proposal, since I'm still using the helper classes under the hood, I don't know how much of it would actually be useful to port into the official

[2016-12-10 00:04] adamreisnz commented on #252
I actually think that it might be a good idea to split the project into two packages, one lower level that includes the request logic for interacting with the API, and one higher level just for sending emails, similar to what I've created.

The lower level package could be used for people needing full access to the API, while the mailer package would be suitable for people just wanting to send ema

[2016-12-10 03:58] thinkingserious commented on #252
@adamreisnz,

Thank you for the thoughtful feedback, as always.

I'm not sure if we need to split the project at this point. I think we can achieve similar results with the current helper model. That said, I'm open to exploring a new architecture in a future version and I would love to have you on board for that.

Hopefully some others in the community will weigh in.

I will think deeper on this a

[2016-12-10 04:09] thinkingserious commented on #347
Thanks for the issue @MaxMadylius!

I've added this to our backlog for an investigation and fix.

[2016-12-10 04:21] adamreisnz commented on #252
It's a matter of separating concerns. You could include a helper/wrapper for easy mailing inside the main library, but in my opinion that's mixing two separate concerns to the likely detriment or needless complication of both. Keeping them separate will allow consumers to pick the library they need (or both), and would probably make development of both libraries easier because of the clearly defin

[2016-12-10 04:39] thinkingserious commented on #252
Well, you are definitely persuasive with a solid argument :)

I really appreciate you taking the time to elaborate.

I was already looking forward to coming back to working on this library and now you've got me *really* excited to get back to working on this SDK with you and community.

[2016-12-10 04:42] adamreisnz commented on #252
Great, let me know when you're going to work on it :)
I'm on leave for 4 weeks so that means I'll *finally* have some spare time to do some work on open source projects as well 🌴

[2016-12-10 04:47] thinkingserious commented on #252
@adamreisnz,

Congrats!

[2016-12-10 05:01] thinkingserious commented on #339
Hmm, I'm thinking this issue is related: https://github.com/sendgrid/sendgrid-nodejs/issues/347

I'm reclassifying this one as a bug and will check them out together.

[2016-12-10 05:08] thinkingserious commented on #339
@adamsingle,

Meanwhile, do you have a code sample we can use to help reproduce? Thanks!

[2016-12-10 05:11] thinkingserious commented on #306
Thanks for the votes of confirmation @blakeembrey and @adamreisnz. That will help move this issue up our queue.

In the mean time, for your use cases, do not use the Mail constructor, instead, please follow this method: https://github.com/sendgrid/sendgrid-nodejs/blob/master/examples/helpers/mail/example.js#L15

Thanks everyone!

[2016-12-12 13:54] ataraxido commented on #217
Hey @thinkingserious ,

I am still locked due to this problem !
Do you have any update ? Any solution ?

Thanks,
Jérémy

[2016-12-13 22:56] eeosk commented on #252
A much higher level "mailer package" is exactly what we'd want.  Just need to send some emails.

With the last version it was dead simple, and now it's an unholy mess.  Huge step backward in terms of ease of use.

Should be as simple as

    sendgrid.send({
      from: fromEmail,
      fromName: fromName,
      to: toEmail,
      subject: 'Hello'
      ...
    })
    .then(...)
    .catch(...)

[2016-12-13 23:02] adamreisnz commented on #252
@eeosk have a look at https://github.com/sendgrid/sendgrid-nodejs/issues/252#issuecomment-265934147 👍

[2016-12-13 23:04] eeosk commented on #252
@adamreisnz Looks great; very obvious design decisions.  I hope you are on the SendGrid payroll!

[2016-12-19 05:34] core-process commented on #347
this is serious, please fix!

[2016-12-19 05:36] core-process commented on #347
You can simulate it easily with providing an invalid URL. This is what happens:

[code]

This should not crash, but rather should return an error to the callback!

[2016-12-21 17:37] Deniscapp commented on #344
Hello guys!
How can I do a substitution with an array of values, instead of just a string?

[2016-12-22 13:49] neeraj87 commented on #344
@Deniscapp you can read the array elements, concatenate them to form a string.

[2016-12-22 13:59] Deniscapp commented on #344
@neeraj87 that's what I did! But I was just wondering if they had added this feature somehow.
Thanks for the answer! :)

[2016-12-22 14:08] neeraj87 commented on #344
@Deniscapp oops, didn't know that. I think it was in the older version. Maybe someone "official" from SendGrid can answer this.

[2016-12-24 05:18] sgehly commented on #347
It seems that SendGrid is always expecting a JSON reply. Removing 110 altogether provides:

[code]

...which would obviously fail the parser.

[2017-01-06 14:43] zvone187 opened #349 "Send email to multiple recipients so that everyone sees only their email in TO header"
Hello,

How can I send mail individually with one API call using Web API v3 so that every recipient sees only his address in TO box? Currently, I'm sending mails using nodejs, Web API v3 and sendgrid dependency but the problem is that users get the entire list of recipients in TO box. Here is the request:

[code]

I've read that with Web API v2 I would need to use x-smtp header so that email would

[2017-01-08 11:32] dudilugasi opened #350 "eml file in attchments recieved in outlook as outlook item file"
#### Issue Summary

when i am sending an eml file as attachment with node mailer i see it in my outlook inbox as an outlook item file and the content is different from the original attachment. its weights less then the original. if i am trying to send the same attachment regular from the outlook it is received ok.

#### Steps to Reproduce

var helper = require('sendgrid').mail;
var from_email = ne

[2017-01-08 20:32] iamtheib commented on #349
Hi @zvone187,

I don't know if you've already figured out how to do this, but [this](https://sendgrid.com/docs/Classroom/Send/v3_Mail_Send/personalizations.html#-Sending-Two-Different-Emails-to-Two-Different-Groups-of-Recipients) looks like what you're trying to achieve.

You should add a different personalization for each recipient. It should translate to something like this in the code:

[code]

[2017-01-09 00:52] adamreisnz commented on #221
is this supported yet by the templating engine?

[2017-01-09 00:53] adamreisnz commented on #314
Is this supported at all by the Sendgrid API? All I could find was sending the same email to multiple recipients, with substitutions, but that's not really the same as sending multiple different/pre-generated emails to multiple recipients.

[2017-01-09 09:25] zvone187 commented on #349
@iamtheib thanks for the response. I got an answer from Sengrid. Yes, that was exactly what needs to be done.

[2017-01-11 17:39] droppedoncaprica opened #351 "Including Numeric `custom_args` Breaks Sending Emails"
#### Issue Summary

So basically (after porting over our code from this library to a raw HTTP call to the API), I found out that Sendgrid's V3 Send Email API will error out if you include a number value inside the `custom_args` object.  This breaks whether or not you use the helpers or the JSON option for sending emails.

This happens even when POST'ing to the Sendgrid API endpoint without using t

[2017-01-20 15:39] simonemazzoni commented on #349
It works, but what about send different attachments for different recipients?
I need to send multiple emails with the same template but different personalizations and a different attachment file for each user.

[2017-01-20 15:42] simonemazzoni opened #352 "Multiple send with different attachments"
#### Issue Summary

Related to issue [#349](https://github.com/sendgrid/sendgrid-nodejs/issues/349)

I need to send multiple emails with different personalizations and different attachments. Up to now the helper library doesn't allow this. How can I do this?

#### Technical details:

* sendgrid-nodejs Version: 4.7.1 (from npm)
* Node.js Version: 6.1.9

[2017-01-20 16:38] sheyaweidberg opened #353 "Type definition difficulty"
#### Issue Summary

When trying to follow v3/api example and passing in a request object to sendgrid.emptyRequest
the typescript checker is giving me errors for missing parameters which are not shown in the example
eg. host,header. Are they optional if yes they should be typed as optional parameters.

//api example from sendgrid docs
var request = sg.emptyRequest({
  method: 'POST',
  path: '/v3/m

[2017-01-21 04:46] iamgollum commented on #339
@thinkingserious I will try and provide a code sample this weekend. I am coming back to sendgrid now at work and going to revisit everything.

[2017-01-21 15:57] vsmori commented on #206
@adamreisnz , one fix on your code: acording to documentation, the function receives error as first param:

sg.API(request, function (error, response) {

Anyway, thanks you sharing!

[2017-01-21 18:59] adamreisnz commented on #206
Ok, maybe that has changed or maybe I missed it, thanks :)
I have since created this simple wrapper library to simplify the interaction with the Sendgrid package: https://www.npmjs.com/package/sendgrid-mailer

[2017-01-23 21:07] adamreisnz commented on #256
Hmm, I've spent 2 hours debugging this, because the documentation here https://sendgrid.com/docs/API_Reference/SMTP_API/substitution_tags.html uses arrays for substitutions, and the documentation here https://sendgrid.com/docs/API_Reference/Web_API_v3/Mail/index.html does not detail how substitutions are supposed to be structured.

@thinkingserious Could you see if the docs can be updated to refle

[2017-01-24 13:03] simonemazzoni commented on #352
Hello @thinkingserious, I wrote to Sendgrid support and they told me to contact you directly to get help on my issue.

[2017-01-24 22:02] thinkingserious commented on #352
Hello @simonemazzoni,

To achieve your desired result, you would need to execute a separate API call for each attachment. Our API does not currently support specifying attachments within the personalization.

Here is a full example using the helper: https://github.com/sendgrid/sendgrid-nodejs/blob/master/examples/helpers/mail/example.js#L15

And without the helper: https://github.com/sendgrid/send

[2017-01-24 22:11] thinkingserious commented on #256
Thanks for looking deeper into this @adamreisnz. I've added this to our backlog for further investigation and documentation update.

[2017-01-24 23:25] thinkingserious commented on #353
@sheyaweidberg,

Thanks for taking the time to report this issue. We will investigate.

@SPARTAN563 thoughts?

With Best Regards,

Elmer

[2017-01-24 23:28] #349 closed

[2017-01-24 23:29] thinkingserious commented on #349
@iamtheib,

Thanks for helping out! Please fill out this [form](https://docs.google.com/forms/d/e/1FAIpQLSelP4uF-wGJebxVYq1DYw5WzHomEUauab3YiqrshyCkRs0fqw/viewform#start=invite) and we will send you some swag :)

With Best Regards,

Elmer

[2017-01-24 23:31] SPARTAN563 commented on #353
This is entirely correct and an oversight in my implementation of the type - well spotted and thanks for bringing it up. I'll try and get a patch put together tomorrow and let you guys know when it's done.

Regards,
Benjamin

[2017-01-25 07:59] simonemazzoni commented on #352
@thinkingserious thanks for the answer. I already implemented this solution Two days ago.
My concern regards the fact that up to now it's possible to specify different personalizations, but now different attachments. I thinks is a pretty common and useful use case since it allow developers to execute only one rest call instead of multiple rest calls.

Do you plan to add this feature in future real

[2017-01-25 16:31] thinkingserious commented on #352
@simonemazzoni,

There are no plans to add this functionality in the near future. But every vote counts, so I would suggest you create a separate issue specifically for this feature. Then, as more people vote on it with either a +1 or comment, the issue will move up our queue.

Thanks!

[2017-01-25 23:34] thinkingserious commented on #351
Hello @droppedoncaprica,

Thank you for the detailed issue! I have added this to our backlog. We'll update the helper to catch this error and perform the conversion on your behalf.

I'll also notify the documentation team.

With Best Regards,

Elmer

[2017-01-26 00:13] thinkingserious commented on #314
Hello @adamreisnz,

I believe this is the use case: https://sendgrid.com/docs/Classroom/Send/v3_Mail_Send/personalizations.html#-Sending-Two-Different-Emails-to-Two-Different-Groups-of-Recipients

[2017-01-26 00:17] thinkingserious commented on #221
@adamreisnz,

I'm checking with our product team for an update, thanks!

[2017-01-26 00:45] thinkingserious commented on #221
@adamreisnz,

This is on our radar for implementation, but there is no estimate on timeline yet.

[2017-01-26 04:38] thinkingserious commented on #350
Hello @dudilugasi,

Could you send me the .eml file (dx@sendgrid.com) along with what the expected results look like vs. the truncated results? Please reference this issue in your email.

Thank you!

[2017-01-26 05:53] adamreisnz commented on #221
Ok thanks for the update. I guess a work around would be to generate the looped HTML manually and pass that in as a substitution. Crude, but it would work.

[2017-01-26 05:54] adamreisnz commented on #314
Ah yes, I found that out a couple of days ago, thanks!

[2017-01-26 22:39] thinkingserious commented on #347
Thanks for the votes @core-process, @sgehly!

I have added them to this item in our backlog.

[2017-01-26 22:53] thinkingserious commented on #344
@Deniscapp, @neeraj87

From the API docs:

Could be useful to have the library allow for arrays and then we concatenate them to form a string behind the scenes.

[2017-01-26 23:33] bradseefeld commented on #339
Bah! Have been getting this exact problem for a few hours. Turns out the path is sensitive to the leading slash.
[code]

vs

[code]

The first snippet works, whereas the second will give you the json parse error :(

We've been a long time sendgrid customer, but just started playing with the api and this lib. Perhaps this detail is well documented and I have overlooked it? Would be nice for the lib

[2017-01-26 23:37] thinkingserious commented on #339
@bradseefeld,

Sorry you had to deal with that :(

We are working on a better helper that hides all of those details from you. You should not have to care about any of the parameters.

You can follow the project here: https://github.com/sendgrid/sendgrid-nodejs/projects

Thanks!

[2017-01-26 23:38] bradseefeld commented on #339
No worries. We love the service!

[2017-01-30 18:11] brandonmp opened #355 "API docs?"
Specifically interested in the `helper` class.

I see a lot of examples, which are helpful, but is there anywhere I can look (besides src code) to see the methods and properties etc. enumerated and explained?

e.g., this line from the examples:
`var mail = new helper.Mail(from_email, subject, to_email, content)`

It's not clear to me what arguments the constructor takes besides those included here

[2017-01-31 07:37] thinkingserious commented on #355
Hello @brandonmp,

That constructor is only designed for that basic use case. For full usage, please check out this example: https://github.com/sendgrid/sendgrid-nodejs/blob/master/examples/helpers/mail/example.js#L15

For further documentation, check out: https://sendgrid.com/docs/API_Reference/api_v3.html

Please let me know if I can further assist. Thanks!

With Best Regards,

Elmer

[2017-02-01 03:06] brandonmp commented on #355
thanks @thinkingserious . the examples are helpful, but was hoping for more traditional docs of the SDK itself. understand if they're not available, though.

Can you tell me, though, in general: if I want to leave all of the params of the email (subject, body, etc.) to the `template`, and only provide the `to`, `from`, and any `%variables%` in my API call, how do I do that?

I've been trying to wo

[2017-02-01 08:31] thinkingserious commented on #355
Hello @brandonmp,

I'll have to give that a try (without subject and content). Meanwhile, maybe this example will help: https://github.com/sendgrid/sendgrid-nodejs/blob/master/USE_CASES.md#transactional-templates

[2017-02-03 07:37] ataraxido commented on #217
Again @thinkingserious do you plan to solve this soon ?
We really need it !

[2017-02-04 02:41] jpinkster commented on #353
@thinkingserious what is the ETA on this getting merged in? Anything I can do to help push this through and get a release pushed? Would love to drop my fork ASAP

[2017-02-06 19:38] thinkingserious commented on #353
@jpinkster,

The only think that can help move this PR to the top of our backlog currently is more votes/comments on the issue.

Thanks for asking!

[2017-02-06 20:58] jpinkster commented on #353
+1

[2017-02-07 01:47] jbetzold commented on #353
+1

[2017-02-07 02:40] thomaswrench commented on #353
+1

[2017-02-07 14:46] EdwardHinkle commented on #353
+1

[2017-02-07 18:21] thinkingserious commented on #353
Thanks for the votes everyone! They have been counted.

[2017-02-07 18:43] natenorm commented on #353
Awesome @thinkingserious!

[2017-02-10 08:37] DonWono opened #356 "Setup issue"
Hi,
   I'm trying to setup SendGrid, and I'm just following the instructions in the tutorial for "With Mail Helper Class". After I run the following code:

echo "export SENDGRID_API_KEY='YOUR_API_KEY'" > sendgrid.env
echo "sendgrid.env" >> .gitignore
source ./sendgrid.env

I get an error "export: Command not found."

When I try to send my first send grid e-mail I get an error 401. 'The provided au

[2017-02-10 17:38] thinkingserious commented on #356
Hello @DonWono,

Are you developing on Windows, Mac or Linux?

[2017-02-11 01:01] DonWono commented on #356
Hi @thinkingserious

Thanks for your quick reply. I'm developing on a Mac. When everything works I will be deploying to an Ubuntu server.

[2017-02-11 17:17] rdagger commented on #222
Did you figure out how to get SendGrid working with React Native?  I'm getting the same error message.

[2017-02-12 04:05] flizzer commented on #222
@rdagger No, I didn't.  Ended up using a .NET web api 2 web service to interact with SendGrid.  Repo [here](https://github.com/flizzer/ORUMCCaveQuestVBSEmailService/blob/master/ORUMCCaveQuestVBSEmailService/Controllers/SendGridController.cs) if you're interested in having a look.  Good luck!

[2017-02-13 19:52] thinkingserious commented on #222
@rdagger, @flizzer,

We are just about to bring v9 out of beta, hopefully that will help you: https://github.com/sendgrid/sendgrid-csharp/tree/v9beta

[2017-02-13 19:58] thinkingserious commented on #356
What happens if you do the following from your command line:

[code]

If you don't see your API Key, try:
[code]

[2017-02-13 20:55] rdagger commented on #222
@thinkingserious Thanks, are you also releasing a new Node.js version for React Native?

[2017-02-14 02:57] DonWono commented on #356
Hi @thinkingserious,
Thank you for your help! When I checked the echo $SENDGRID_API_KEY, it did print out my api key, but I still couldn't load it into my node application using:

var sg = require('sendgrid')(process.env.SENDGRID_API_KEY);

I did a work around, and put the API_KEY into a JSON file and added the JSON file to gitignore.
Everything seems to be working now.

Thank you for your help.

[2017-02-14 21:58] #356 closed

[2017-02-14 22:04] thinkingserious commented on #222
Hello @rdagger,

We are not releasing a version specifically targeting React Native, but we are working on similar improvements that we made to our C# SDK.

[2017-02-15 16:02] thegregthomp commented on #356
I'm having a similar issue when using a env variable. If I use the env variable I get the issue above. If I just drop the string into the require process it works. I can not figure out why.

Works...
`var sg = require('sendgrid')('SG.iIpwjF6ASgmRuYmwl_KHoQ.EoxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxY3NQ9vwd0');`

Doesn't Work...
`SENDGRID_API_KEY=SG.iIpwjF6ASgmRuYmwl_KHoQ.Eoxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

[2017-02-15 16:54] thinkingserious commented on #356
Hello @thegregthomp,

Your "Doesn't Work" case is failing because `process.env.SENDGRID_API_KEY` is looking for the environment variable to be set.

On a Unix-like system, this is usually done like this on the command line:

[code]

Then you can verify it works by executing the following on the command line:

[code]

To get your "Doesn't Work" case to work:
[code]

But that is not recommended. We

[2017-02-16 03:32] AlmogRnD opened #358 "Substitution not working or sending custom data"
#### Issue Summary

I'm trying to use the substitution option with a transactional email template, the email is getting sent but the custom data for the substitution is not.

Here is my code

[code]

#### Technical details:

* sendgrid-nodejs Version: lastest version
* Node.js Version: v4.7.0

[2017-02-16 03:45] AlmogRnD commented on #358
Got it working, keep this up for anyone else that might run into. I had two issues

1.  personalization.addTo( new helper.Email( from ) ); should have been  personalization.addTo( new helper.Email(to));

Assigning incorrect email

2. var substitution = new helper.Substitution("%text%", "Example User");

It seems text is already being used

[2017-02-16 03:45] #358 closed

[2017-02-16 21:24] thinkingserious commented on #358
Thanks for circling back @AlmogRnD!

Glad you got things working. Please let us know if there is anything else we can help with.

[2017-02-18 19:08] rdagger commented on #222
Do you have an ETA for the new Node.js release? Is it possible to try out the beta now?

[2017-02-20 06:12] mustafabw52 opened #359 "total items params not found in sendgrid nodejs all listing Api's"
Retrieve all recipients on a List:-

[code]

[2017-02-20 18:55] thinkingserious commented on #222
Hello @rdagger,

I don't have an ETA yet. We have not left the planning stages just yet. If you would like to participate, please see the "Mail Helper Enhancement (v3 mail/send)" project here: https://github.com/sendgrid/sendgrid-nodejs/projects

With Best Regards,

Elmer

[2017-02-20 19:11] thinkingserious commented on #359
Hi @mustafabw52,

Sorry about that, it looks like we need update our documentation. This call should look like:

[code]

I will leave this ticket open so that we can update the docs.

Thanks!

With Best Regards,

Elmer

[2017-02-20 22:49] rdagger commented on #222
Thanks.  I've found that using fetch works well for sending simple emails using the web api from React Native:

[code]

[2017-02-22 22:15] #341 closed

[2017-02-22 22:16] #342 closed

[2017-02-22 22:21] #346 closed

[2017-02-22 22:58] #352 closed

[2017-02-28 10:54] xaphiris opened #360 "Substitution tag as section index not DRY."
Currently the only way to repeat the same piece of content across multiple emails is to define each section ONCE, then have it substituted for tags across EACH recipient. This doesn't seam very "DRY".

Couldn't you type-cast substitution values and when there are multiple recipients but a single string given, iterate the value across personalizations for each recipient? Seems a more efficient way

[2017-02-28 17:40] thinkingserious commented on #360
Hello @xaphiris,

Could you please provide a code sample that illustrates the issue? Thanks!

With Best Regards,

Elmer

[2017-03-01 04:15] pascalopitz commented on #217
+1

[2017-03-01 04:49] pascalopitz commented on #217
`response: {
      "statusCode": 400,
      "body": {
        "errors": [
          {
            "message": "The attachment type cannot contain ';', or CRLF characters.",
            "field": "attachments.0.type",
            "help": "http://sendgrid.com/docs/API_Reference/Web_API_v3/Mail/errors.html#message.attachments.type"
          }
        ]
      },
      "headers": {
        "server": "ng

[2017-03-01 10:04] AlmogRnD opened #361 "Major Issues - Substitution has random results"
I'm using the Node Package with SendGrids template API. I'm sending custom data to my template using the substitution methods. But I'm getting random results i.e. I'm sending out 5 emails using the same data (I see the correct data is being sent via console.logs) but 3 out of the 5 emails are delivered without the data. i.e. when you open them the template is blank.

I have talked with SendGrid su

[2017-03-01 18:35] thinkingserious commented on #217
@pascalopitz,

This one should not have been closed. Thanks for the heads up.

[2017-03-02 01:38] AlmogRnD commented on #361
That was the issue, fixed thanks

[2017-03-02 01:38] #361 closed

[2017-03-07 05:19] fisch0920 commented on #335
when is the phase v3 planned? tbh this seems more like either an internal client lib or a power user lib, not something which is meant to be consumed by your 95% userbase who just wanna sign in and send an email *exactly* like nodemailer allows.

[2017-03-07 05:24] fisch0920 commented on #252
@thinkingserious please seriously consider pointing the main docs to @adamreisnz project, as it simplifies everything significantly, and if I had known about it earlier today, it would've saved me hours of headache trying to use what imho is an overengineered, Java-inspired api in JS.  Please give your users what they want, not what you think they want :-)

[2017-03-07 05:36] fisch0920 commented on #252
Also, just to note that I wouldn't be surprised if other devs start ending up here more frequently now that the V2 API has been sunset, and new accounts will be forced to use the V3 API.  Personally, the first thing I tried was using nodemailer (whose sendgrid transport still works w/ v2) which has made sense for dozens of projects in the past but took forever to get working this time around.  If

[2017-03-07 07:32] adamreisnz commented on #252
@fisch0920 thanks for your feedback, I'll be working together with @thinkingserious in the coming weeks to improve the Sendgrid API. Hopefully we'll come up with something that is easy to use but still flexible enough if needed.

[2017-03-07 07:43] thinkingserious commented on #335
@fisch0920,

You should see progress in the coming weeks.

For a preview, you can check out what we did with the [C# SDK](https://github.com/sendgrid/sendgrid-csharp) recently. We will have something similar for Node.js, but adapted to this community's needs.

For background on the current status on this SDK, please see [this comment](https://github.com/sendgrid/sendgrid-nodejs/issues/335#issuecom

[2017-03-07 08:17] fisch0920 commented on #335
Hey @thinkingserious -- thanks for the prompt reply && looking forward to seeing the updates :)

[2017-03-09 23:07] eupharis commented on #221
@thinkingserious I am subscribed to this issue. Is there another way I could subscribe for notifications about for loop implementation in sendgrid templates?

[2017-03-10 03:23] walshe opened #366 "X-SMTPAPI header"
#### Issue Summary

can you provide a Nodejs example of how to add a unique argument to the X-SMTPAPI header so that I can see this downstream in the webhook event also

[2017-03-10 19:42] thinkingserious commented on #366
Hi @walshe,

Here is an example at the [personalization](https://github.com/sendgrid/sendgrid-nodejs/blob/master/examples/helpers/mail/example.js#L46) and [global level](https://github.com/sendgrid/sendgrid-nodejs/blob/master/examples/helpers/mail/example.js#L92).

I hope that helps!

With Best Regards,

Elmer

[2017-03-13 15:08] ataraxido commented on #217
Again @thinkingserious are you solving this issue ?!

[2017-03-13 16:54] thinkingserious commented on #217
Hello @ataraxido,

This issue is on the product roadmap, but I don't know when it will be delivered.

Recently, we have received a few new votes for this feature. Whenever that happens, I update the product team to help bump the priority.

With Best Regards,

Elmer

[2017-03-14 19:42] blove opened #367 "Personalization.getSubstitutions() return type incorrect in index.d.ts TypeScript definition file"
#### Issue Summary

The return type for the getSubstitutions() method is currently an array of Substitution objects: `Substitution[]`. However, based on local tests as well as the source code in lib/helpers/mail/mail.js it appears that substitutions is not an array of objects, rather, it is an object with string key/value pairs.

Here is the source code from mail.js:

<pre><code>this.addSubstituti

[2017-03-15 14:22] teddis opened #369 "Can't send HTML"
#### Issue Summary

I'm using Sendgrid's NodeJS package to send text and/or HTML email. The package (1) never returns from sg.API promise when sending `text/html`, (2) doesn't update the Dashboard's activity as being sent, and (3) doesn't send the message. However, sending `text/plain` works fine. Using Curl sends HTML fine as well.

#### Steps to Reproduce

See attached files.
[test_email.txt](ht

[2017-03-15 16:57] thinkingserious commented on #369
Hello @teddis,

At first glance, I don't see any obvious error. I've tested the code in `sendEmail` and it appears to work as designed. I will add this to our backlog for further investigation.

Meanwhile, I have a few questions:

1. Are any errors returned (via `console.error(err)`)? Is anything logged on your end (via `console.log(response)`)?
2. For each call, it may be helpful to log the resul

[2017-03-15 17:26] thinkingserious commented on #221
Hello @eupharis,

Please make sure the email you have in your SendGrid account settings is up to date. We send product announcements to that email address.

Thanks!

Elmer

[2017-03-15 17:51] teddis commented on #369
Thanks, Elmer. The `sg.API` promise doesn't seem to return at all which is odd, so nothing is logged for success or failure. The JSON output logged for `mail.toJSON` is the following but looks fine to me:

[code]

[2017-03-15 18:02] teddis commented on #369
Btw I also tried using the callback version which also did not call back:

[code]

[2017-03-15 18:11] thinkingserious commented on #369
Thanks for digging deeper @teddis,

Can you compare the `mail.toJSON` output with the successful plain/text call?

[2017-03-15 18:25] teddis commented on #369
Only subject and contents are slightly different. Again, there is no output from the successful plain/test call, but the side effect is that I receive the email, unlike HTML.

[2017-03-15 18:40] thinkingserious commented on #369
Can you try hard coding the html in your `email.txt` file.

Also, can you try without using the Mail Helper? https://github.com/sendgrid/sendgrid-nodejs#without-mail-helper-class

[2017-03-15 19:43] teddis commented on #369
@thinkingserious, ok getting somewhere. I tried hard coding without mail helper and no difference btw. The trick to get error below was not using mocha which was hiding it for some reason. Why is my auth grant a problem? I created a new API key the other day. I've gone through several to try and fix this before.

[code]

[2017-03-15 19:52] thinkingserious commented on #369
Hi @teddis,

With regards to your API Key, this is an issue our support team can help with. They can be reached at https://support.sendgrid.com

Thanks for sharing that mocha tidbit, I'm sure that will help someone with a similar issue in the future.

With Best Regards,

Elmer

[2017-03-18 15:32] honkskillet commented on #297
Any help coming soon to remove/sidestep this helper madness?

[2017-03-18 19:36] thinkingserious commented on #297
Hi @honkskillet,

Yes :)

Please follow the [Mail Helper Enhancement (v3 mail/send) project](https://github.com/sendgrid/sendgrid-nodejs/projects) if you would like to follow or contribute. @adamreisnz will propose the new helper interface there for community feedback.

With Best Regards,

Elmer

[2017-03-20 05:25] #367 closed

[2017-03-20 10:16] SherifMedhat commented on #326
@HemalR Did you find a fix for this issue?

[2017-03-20 10:20] HemalR commented on #326
@SherifMedhat Nope! The closest workaround I got was to not schedule emails at all and just use a frequently firing cron job (not ideal by any means!).

I didn't get a response from the support ticket I raised and I found an older Github bug report referencing the exact same thing as well so I suspect this is not on their priority list to fix.

Anyway, this issue, Sendgrid has been solid to work w

[2017-03-20 10:25] SherifMedhat commented on #326
@HemalR This is very a weird behavior from SendGrid!!

@thinkingserious Are you going to fix this issue soon??

[2017-03-20 17:56] thinkingserious commented on #326
@HemalR,

Can you please send me your support ticket number? dx@sendgrid.com

@SherifMedhat,

We are not best equipped to help with this issue, since it is not related to the SDK. Could you please open up a ticket with our [support team](https://support.sendgrid.com)? Thanks!

With Best Regards,

Elmer

[2017-03-21 00:02] HemalR commented on #326
Yup - Request #786653

Ticket lodged on October 28th. It's been marked on your internal Zendesk as 'solved' :S

[Zendesk support.pdf](https://github.com/sendgrid/sendgrid-nodejs/files/856728/Zendesk.support.pdf)

[2017-03-21 15:47] thinkingserious commented on #326
Thank you @HemalR,

I will follow up.

[2017-03-24 10:33] furstenheim opened #370 "Critical error when payload is too big"
#### Issue Summary

If the payload is too large Sendgrid's API returns the following HTML

[code]
This messes up with a JSON.parse which raises a global exception

#### Steps to Reproduce
The least the method sendgrid.API should reject the promise instead of raising a global error.
I'd say that ideally the API would return a json with an error element and this would make the method reject the prom

[2017-03-24 20:10] tharrington opened #372 "Helper is null on example code"
Helper is null on example code

[code]

ERROR: TypeError: Cannot read property 'Email' of undefined

* sendgrid-nodejs Version: master (latest commit: [commit number])
* Node.js Version: 4.1.2

[2017-03-27 00:11] AlmogRnD opened #373 "fromname support"
Does the package support fromname which I see is part of the api but I'm not seeing it in the helper.
I'm trying to set the from name

[2017-03-27 16:51] thinkingserious commented on #373
Hi @AlmogRnD,

I think this is what you need: https://github.com/sendgrid/sendgrid-nodejs/blob/master/examples/helpers/mail/example.js#L18

Thanks!

Elmer

[2017-03-27 16:51] #373 closed

[2017-03-27 16:56] thinkingserious commented on #372
Hello @tharrington,

How did you install the library?
Can you please double check the version? `npm list`

Thanks!

Elmer

[2017-03-28 15:55] danconnell commented on #347
Just had this happen. Not sure what the exact payload was that triggered it, but it looks like we got a HTML response back which resulted in:

[code]

[2017-03-29 03:49] AlmogRnD opened #374 "How do you do bbc email address"
I'm trying to set bbc but I'm not seeing this in the docs, I have tried

var bcc_email = new helper.Email('noreply@mentorloop.com.au', 'Mentorloop');

which did not work and I also tried

    var mail_settings = new helper.MailSettings()
    var bcc = new helper.Bcc(true, "noreply@mentorloop.com.au")
    var mail_settings.setBcc(bcc)

This did not work either?

[2017-03-29 04:33] SendGridDX commented on #374
Hi @AlmogRnD,

If you are using the constructor: https://github.com/sendgrid/sendgrid-nodejs/blob/master/examples/helpers/mail/example.js#L10 (just use `addBcc` instead of `addTo`)

And if you are building the object yourself: https://github.com/sendgrid/sendgrid-nodejs/blob/master/examples/helpers/mail/example.js#L34

I hope that helps!

With Best Regards,

Elmer

[2017-03-29 15:54] SendGridDX commented on #347
Thanks for helping us verify the issue @danconnell! Also, I've added your vote to this issue in our backlog.

[2017-03-30 18:31] byjoh opened #375 "Get sent message in MIME format after/before sending?"
I am doing the following to send mail:

[code]

and would like to then save the message in MIME format to S3 though it doesn't look like I can get it anywhere on the response object and I can't see anything on the request object that allows me to convert to MIME and cache in S3 before I send.  Am I missing something that would make this possible?

[2017-03-31 15:12] SendGridDX commented on #375
Hello @byjoh,

We don't currently have a means to do that with our SDK or API.

I suggest that you bcc the email to our [Inbound Email Parse Webhook](https://sendgrid.com/docs/API_Reference/Webhooks/inbound_email.html), then process and store the email when you receive the webhook.

With Best Regards,

Elmer

[2017-03-31 16:02] benrowehh commented on #372
Having the same issue here version: 4.10.0

[2017-03-31 16:07] benrowehh commented on #372
Just tried 5.0.0 as you just released it same issue

[2017-03-31 16:22] benrowehh commented on #372
Sorry for the updates but i have also noticed the last version i can get working is 3.0.11, it also appears that npm sees the package as potentially invalid:

sendgrid@5.0.0  invalid

It installs but shows this next to it unsure if this is linked or its an issue with npm

[2017-03-31 16:27] SendGridDX commented on #372
@benrowehh,

I just tried and could not reproduce.

Here are the steps:

`code temp.js`

[code]

`npm install --save sendgrid`

[code]

`npm temp.js`

[code]

Email was sent successfully.

[2017-03-31 17:21] benrowehh commented on #372
Thanks for the code, managed to get to the bottom of it --save appeared to get rid of the invalid flag. The main thing i noticed is i was going from 3.0.11 -> 5.0.0 i can no longer do this:

[code]

Instead do this:
[code]

This solved all my issues.

Many Thanks, For your help

[2017-04-01 13:24] ubreddy opened #376 "Sending Template as attachment"
#### Issue Summary

I am trying to send an email with attachment. The attachment is of the same format as a template. Did not find any documentation that helps generate a file from transaction template or if there is a way to do it.

nodejs sdk is being used.

[2017-04-03 02:02] couturecraigj opened #377 "Test Endpoint"
I looked to see if there is any information about this anywhere and was having a hard time locating it so maybe this will be helpful for others if there is a simple solution to this.

So I ran into an issue when you stopped supporting nodemailer and it resulting in my system crashing every time a person triggered a transaction that would result in an email being sent.  Is there any test endpoint t

[2017-04-03 17:40] SendGridDX commented on #377
Hello @couturecraigj,

You can setup your own local test SendGrid API server using this process: https://github.com/sendgrid/sendgrid-nodejs/blob/master/CONTRIBUTING.md#testing

[2017-04-03 17:46] SendGridDX commented on #376
Hi @ubreddy,

I hope this helps: https://github.com/sendgrid/sendgrid-nodejs/blob/master/USE_CASES.md#attachments

With Best Regards,

Elmer

[2017-04-03 18:24] #372 closed

[2017-04-04 15:51] SendGridDX commented on #252
Hello Everyone,

I thought you might be interested in the re-design on the SendGrid Node.js Mail Helper: https://github.com/sendgrid/sendgrid-nodejs/pull/378

Your feedback would be greatly appreciated!

With Best Regards,

Elmer

[2017-04-04 15:52] SendGridDX commented on #335
Hello Everyone,

I thought you might be interested in the re-design on the SendGrid Node.js Mail Helper: https://github.com/sendgrid/sendgrid-nodejs/pull/378

Your feedback would be greatly appreciated!

With Best Regards,

Elmer

[2017-04-04 17:21] SendGridDX commented on #316
Hello @tsriram,

Are you still interested in continuing this work? We are currently [beginning work on a redesign](https://github.com/sendgrid/sendgrid-nodejs/pull/378) and completing this would be very helpful.

With Best Regards,

Elmer

[2017-04-05 11:55] tsriram commented on #316
Hey @SendGridDX, I won't be able to work on this now as I've too many things to look after. Sorry guys :(

[2017-04-05 16:24] SendGridDX commented on #316
No problem @tsriram,

Thanks for letting us know.

[2017-04-09 13:52] free4ride commented on #221
Hi @thinkingserious
What is status of this issue?
When is it coming live?

marcin

[2017-04-10 22:02] thinkingserious commented on #221
Hi @free4ride,

There is still no estimate on timeline yet.

The best option to be notified of any updates on this issue is to make sure the email you have in your SendGrid account settings is up to day.

Thanks!

Elmer

[2017-04-13 17:50] #350 closed

[2017-04-14 03:25] adamreisnz commented on #320
This will probably also be resolved with #378

[2017-04-14 06:40] psabharwal3 opened #380 "How to also include a text version of your message (text/plain)"
Hi
I got this from mail-checker:
-1.105	MIME_HTML_ONLY	Message only has text/html MIME parts
You should also include a text version of your message (text/plain)
how do i add text/plain version along with text/html version?
I am using - https://github.com/sendgrid/sendgrid-nodejs/blob/master/examples/mail/mail.js#L31
thanks

[2017-04-14 19:00] ss513546039 opened #381 "How to get the precompiled library file"
#### Issue Summary - How to get the compiled version of lib file

We planning to call this sendgrid api from our other third party system, so is any way we can get a full compiled lib file, so we can include this in our script and calling this api from our script.

#### Sample

1. <script type="text/javascript" src="https://cdn.rawgit.com/xxx/xxxxjs/a8df744f/xxxx.js "></script>

 if you already ha

[2017-04-17 16:38] thinkingserious commented on #380
Hello @psabharwal3,

Your content object would look like this:

[code]

With Best Regards,

Elmer

[2017-04-17 16:38] #380 closed

[2017-04-17 22:32] thinkingserious commented on #381
Hello @ss513546039,

The supported method of installing this SDK is: https://github.com/sendgrid/sendgrid-nodejs#install-package

I hope that helps, thanks!

Elmer

[2017-04-17 22:36] gustavobissolli opened #382 "Issue with FS dependency"
Hey guys!

I have a application built on webpack and VueJS2! I am trying to use this library to send email through sendgrid and I have the following problem:

[code]

I've already run `npm install --save fs` and it's still same problem!

It's a client application... could be that the problem?

[2017-04-17 22:37] thinkingserious commented on #382
Hello @gustavobissolli,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2017-04-17 22:41] thinkingserious commented on #382
Hello @gustavobissolli,

Ah yes, fs in not allowed in the browser. We need to figure out a way to not include that dependency when used on the client side. I've added this to our backlog for further investigation.

Thanks!

Elmer

[2017-04-17 22:50] gustavobissolli commented on #382
Understand @thinkingserious!

Do you know an alternative way to send emails by the client side?

[2017-04-17 22:52] thinkingserious commented on #382
@gustavobissolli,

Can you try deleting this folder? https://github.com/sendgrid/sendgrid-nodejs/tree/master/lib/helpers/inbound

[2017-04-18 17:20] gustavobissolli commented on #382
Unfortunately still not working =/

[code]

I guess for while I should send an Ajax request to my server service to do it through my php api...

[2017-04-18 17:47] thinkingserious commented on #382
You can try deleting this line also: https://github.com/sendgrid/sendgrid-nodejs/blob/master/index.js#L4

If you choose the PHP route, you can use: https://github.com/sendgrid/sendgrid-php

[2017-04-18 21:05] #353 closed

[2017-04-18 21:06] thinkingserious commented on #306
This will be fixed with https://github.com/sendgrid/sendgrid-nodejs/pull/378

[2017-04-18 21:06] #306 closed

[2017-04-18 21:07] thinkingserious commented on #339
The new helper is in development here: https://github.com/sendgrid/sendgrid-nodejs/pull/378

[2017-04-18 21:07] #339 closed

[2017-04-18 21:10] thinkingserious commented on #287
We now have an attachment example here: https://github.com/sendgrid/sendgrid-nodejs/blob/master/USE_CASES.md#attachments

[2017-04-18 21:10] #287 closed

[2017-04-18 21:51] thinkingserious commented on #256
The current example for sending attachments is here: https://github.com/sendgrid/sendgrid-nodejs/blob/master/USE_CASES.md#transactional_templates

That example will update, when this is merged: https://github.com/sendgrid/sendgrid-nodejs/pull/378

[2017-04-18 21:51] #256 closed

[2017-04-18 21:53] thinkingserious commented on #355
We will be updating the docs for this repo when we merge this PR: https://github.com/sendgrid/sendgrid-nodejs/pull/378

[2017-04-18 21:53] #355 closed

[2017-04-18 22:16] gustavobissolli commented on #382
@thinkingserious great! Looks we get a step forward now =)

I have the following error about my request:

[code]

Could be that something related to the inbound parser or FS package missing?

[2017-04-18 22:27] thinkingserious commented on #382
It seems that this is your issue now: https://sendgrid.com/docs/Classroom/Basics/API/cors.html

[2017-04-19 14:32] gustavobissolli commented on #382
Hmmm it make sense! I can't protect my API Key on a browser based application and SendGrid refuse my api call based on it!

I am going to make an end point on my API to do that job!

Thanks for the help @thinkingserious

[2017-04-25 05:46] thinkingserious commented on #382
Awesome! Please let me know if you run into any issues with developing the endpoint.

[2017-04-25 05:46] #382 closed

[2017-04-25 15:51] axelay opened #386 "Socket hang up"
#### Issue Summary

I am getting the error above message - our app has been running without any problems whatsoever since December. Yet today it decided to just crash with the "Socket hang up" message.
I did an NPM update and I now can catch the error:
``{ message: 'socket hang up',
  name: 'Error',
  stack: 'Error: socket hang up\n    at createHangUpError (http.js:1472:15)\n    at CleartextStream

[2017-04-25 16:43] thinkingserious commented on #386
Hello @axelay,

Currently, we are not experiencing any issues on our side, but you may want to check with our [support team](https://support.sendgrid.com) for details. Here are some things to try:

1. What happens if you execute a simple ["hello world"](https://github.com/sendgrid/sendgrid-nodejs#with-mail-helper-class) email script from that server?
2. Do other HTTP requests have the same problem

[2017-04-25 16:49] axelay commented on #386
Thanks for getting back to me.
The issue is intermittent, emails are being sent just fine but it errors from time to time. Since upgrading to the latest version of the npm package, it does not crash out anymore which is a bonus.
I did check the SO thread and it points to the server either refusing some of the connections or dropping them randomly.

I'll contact support to see if I am hitting any o

[2017-04-25 16:59] thinkingserious commented on #386
Thanks for the follow up @axelay!

[2017-04-25 16:59] #386 closed

[2017-04-25 21:19] thinkingserious commented on #280
Hello Everyone,

Here is the follow up materials from the Box demo I referenced earlier: https://sendgrid.com/blog/using-box-with-sendgrid-to-simplify-inboundoutbound-email-attachments

[2017-04-25 22:37] thinkingserious commented on #252
Please move to #378 for updates, thanks!

[2017-04-25 22:37] #252 closed

[2017-04-26 01:20] pashaseliverstov opened #387 "Error message is not clear"
{"message":"Response error","response":{"statusCode":400,"body":{"errors":[{"message":"Bad Request","field":null,"help":null}]},"headers":{"server":"n
ginx","date":"Wed, 26 Apr 2017 01:14:46 GMT","content-type":"application/json","content-length":"63","connection":"close","x-frame-options":"DENY","ac
cess-control-allow-origin":"https://sendgrid.api-docs.io","access-control-allow-methods":"POST","a

[2017-04-26 11:01] axelay commented on #386
Well this has now stopped so very likely the Sendgrid servers were having a bad day :)

[2017-04-26 17:33] thinkingserious commented on #387
Hello @pashaseliverstov,

I agree, that error message is not clear at all. Could you please provide some additional details so I can get to the root of the problem and discover what the real error is?

1. Do you mind providing the source code that generated that error?
2. What is the value of `requestBody` before you make the API call?
3. Was [this](https://github.com/sendgrid/sendgrid-nodejs/blob

[2017-05-02 04:47] #381 closed

[2017-05-02 04:48] #377 closed

[2017-05-02 04:48] #376 closed

[2017-05-02 04:49] #375 closed

[2017-05-02 04:49] #374 closed

[2017-05-02 04:50] #370 closed

[2017-05-02 04:51] #369 closed

[2017-05-02 04:51] #366 closed

[2017-05-02 04:52] #360 closed

[2017-05-02 04:53] thinkingserious commented on #360
Hi @xaphiris,

I think [this PR](https://github.com/sendgrid/sendgrid-nodejs/pull/378) will make this easier for you, please follow along there. Thanks!

[2017-05-02 04:55] thinkingserious commented on #347
Hello Everyone,

I believe v4.9 fixed this issue. Please let me know if you continue to experience issues after upgrading. Thanks!

[2017-05-02 04:55] #347 closed

[2017-05-02 04:57] thinkingserious commented on #345
Hello @cjevning,

This is expected behavior. Duplicate emails are not allowed within the same personalization. To gain further details from your errors, please follow [this example](https://github.com/sendgrid/sendgrid-nodejs/blob/master/TROUBLESHOOTING.md#error).

Thanks!

With Best Regards,

Elmer

[2017-05-02 04:57] #345 closed

[2017-05-02 05:00] #324 closed

[2017-05-02 05:02] #320 closed

[2017-05-02 05:04] thinkingserious commented on #314
In progress here: https://github.com/sendgrid/sendgrid-nodejs/pull/378

[2017-05-02 05:04] thinkingserious commented on #313
In progress here: #378

[2017-05-02 05:04] thinkingserious commented on #312
In progress here: #378

[2017-05-02 05:05] thinkingserious commented on #315
Pending completion of: #378

[2017-05-02 11:22] davidhagg commented on #221
As @adamreisnz commented, sending the array in as a HTML might work, however we are experiencing problems with the substitutions being too large, exceeding 10000 bytes

[2017-05-02 19:34] #298 closed

[2017-05-02 19:36] thinkingserious commented on #296
Hi @mikemaccana,

Please follow [this PR](https://github.com/sendgrid/sendgrid-nodejs/pull/378) for an update to this library coming soon. Your feedback would be greatly appreciated. Thanks!

With Best Regards,

Elmer

[2017-05-02 19:36] #296 closed

[2017-05-02 19:37] #295 closed

[2017-05-02 19:38] thinkingserious commented on #351
@droppedoncaprica,

Please follow this issue for a fix. Thanks!

[2017-05-02 19:38] #351 closed

[2017-05-02 19:42] #268 closed

[2017-05-02 19:44] thinkingserious commented on #267
Hi @Jatinthakkar,

The Java library is now at v3.2.1. Could you please check it out and let us know if you are still having issues? You can find it here: https://github.com/sendgrid/sendgrid-java

Thanks!

Elmer

[2017-05-02 19:44] #267 closed

[2017-05-02 19:45] #265 closed

[2017-05-03 21:04] thinkingserious commented on #316
Completed with this release: https://github.com/sendgrid/sendgrid-nodejs/releases/tag/v5.1.0

[2017-05-03 21:04] #316 closed

[2017-05-07 05:08] hifall commented on #386
I am seeing this issue at the moment.

Here is the info I collected.

Headers:
`{}`

Body:
[code]

[2017-05-07 05:09] hifall commented on #386
After ~8 retries, the email went through finally.

[2017-05-08 16:43] Jyoti1009 opened #388 "How to send datetime stamp in .ics file with sendgrid node.js api?"
I wish to send a .ics file together with a datetime stamp using nodejs sendgrid API. I am able to attach a .ics file but could not find any example for integrating the time and date in the invite. Can someone please help?

[2017-05-08 16:54] thinkingserious commented on #388
Hi @Jyoti1009,

To send an attachment with this library, please see [this example](https://github.com/sendgrid/sendgrid-nodejs/blob/master/USE_CASES.md#attachments).

With regards to creating an .ics file, [this resource](https://en.wikipedia.org/wiki/ICalendar) may help.

With Best Regards,

Elmer

[2017-05-08 18:53] thinkingserious commented on #386
Thanks @hifall for letting us know. It sounds like there was some connectivity issue. If this happens again, I suggest you reach out to our support team at https://support.sendgrid.com.

[2017-05-09 06:24] Jyoti1009 commented on #388
@thinkingserious  Thank for the response. However, as I mentioned, I am able to successfully attach a calendar invite to the mail. However, I want to set a time on the calendar invite that I am sending. I am unable to find how to specify a datetime stamp to the attachment.

[2017-05-09 06:26] thinkingserious commented on #388
HI @Jyoti1009,

As far as I can tell, you specify the datetime stamp in the .ics file itself. What specifically have you tried?

[2017-05-09 07:46] Jyoti1009 commented on #388
@thinkingserious  Thank you for the hint. I got this working with the below code:
    var icsMSG = "BEGIN:VCALENDAR\nVERSION:2.0\nPRODID:-//XYZ//NONSGML v1.0//EN\nBEGIN:VEVENT\nDTSTART:" + startDT +"\nSUMMARY:Meeting \nEND:VEVENT\nEND:VCALENDAR";
    var attachment = new helper.Attachment();
    var base64text = new Buffer(icsMSG).toString('base64');
    attachment.setContent(base64text);
    atta

[2017-05-09 07:46] #388 closed

[2017-05-09 10:51] Jyoti1009 opened #389 ".ics file has wrong date if new Date() from javascript is used."
I used the below code to add 2 days to current time:

    var startDT = new Date(new Date().setTime(new Date().getTime() + days * 86400000));

also tried this:

    var startDT = new Date(new Date().setTime(new Date().getTime() + days * 86400000)).toISOString();

The date is logged correctly in logs. However, the .ics file that is received has a wrong date: **Wed 02/01/1901**

The code I have used

[2017-05-09 12:51] gupta-abhi opened #390 "Proxy Support"
#### Issue Summary
I have gone through the documentation but couldn't find anything to enable proxy support. IS it possible to add proxy into the request ?

#### Technical details:

* sendgrid-nodejs Version: master (latest commit: [commit number])
* Node.js Version: 4.1.2

[2017-05-09 13:01] thinkingserious commented on #389
Hello @Jyoti1009,

This is not a library or SendGrid API issue, so I'm closing this issue.

However, perhaps this library can help you? https://github.com/adamgibbons/ics

[2017-05-09 13:01] #389 closed

[2017-05-09 15:41] thinkingserious commented on #390
Hello @gupta-abhi,

It is not currently possible. I will add this to our backlog for implementation. It would need to be added [here](https://github.com/sendgrid/nodejs-http-client/).

This issue can gain priority in our backlog by others commenting and adding reactions. The best way to move this up our queue is with a PR.

Thanks!

With Best Regards,

Elmer

[2017-05-17 06:50] stephengardner commented on #221
Sendgrid, I thought, was a pretty good alternative to Mandrill.

No looping?

That's actually ridiculously surprising from such a large service....

It's impossible to even create a checkout order success form, because you need to loop through the items purchased and display them.

Oh well, another one down.

[2017-05-17 13:54] rajajlidi commented on #283
thank you it help me a lot

[2017-05-17 17:10] thinkingserious commented on #221
Hello @stephengardner,

Have you tried using substitutions with our templates? [Check this out](https://github.com/sendgrid/sendgrid-nodejs/blob/master/USE_CASES.md#transactional_templates).

If that does not fit your need, let me know and I'll try to figure out how to help you achieve the results you need.

Thanks!

With Best Regards,

Elmer

[2017-05-17 18:38] adamreisnz commented on #221
Substitutions don't work for listing a table of purchased products for example, because they can only replace one value, and not an array of values, let alone an array of objects with more detailed values.

What we need is support to loop through products and have a template for each product that then gets repeated depending on how many products you supply for the substitution.

The only way aroun

[2017-05-17 18:44] thinkingserious commented on #221
Thanks @adamreisnz,

I have reached out to the product team that owns this functionality. I will update this thread when I learn more.

With Best Regards,

Elmer

[2017-05-17 19:59] thinkingserious commented on #221
Hi @stephengardner, @adamreisnz,

Your votes have been added to give this feature higher priority for implementation.

Please make sure the email you have on file for your account is up to date, that is how we would notify you of the implementation of the feature.

With Best Regards,

Elmer

[2017-05-19 00:58] crimsonronin commented on #336
@thinkingserious it's not really clear what limits apply to what endpoints, and what those limits are. I realise this isn't the forum to discuss this, but without knowing how likely we are to hit said limit, we cant say for sure what the best solution is.

Being able to pass a retry strategy is a nice idea though, and allows for in memory or queuing solutions.

[2017-05-26 18:56] psavard commented on #221
I would like to vote up this feature too. This is a must for you system.

Thanks ;)

[2017-05-26 19:50] free4ride commented on #221
Completely agree. Up-vote from me and my team! Please add this feature asap.

[2017-05-30 21:55] thinkingserious commented on #221
Thanks @free4ride, your vote has been added.

[2017-05-31 12:02] ginxx009 commented on #283
hi guys i'm having a trouble it gave me the same error here's the code i use.

const express = require('express');
const app = express();
// var SENDGRID_API_KEY = "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";

var sg = require('sendgrid')(process.env.SENDGRID_API_KEY);
// var sg = require('sendgrid')(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)

[2017-05-31 12:10] rajajlidi commented on #283
if you need to send email via api with post methode you should do like this:

var helper= require('sendgrid').mail;

router.post('/' , function (  req , res) {

    var sg=require('sendgrid')('your api key from your account');
    var formEmail= new helper.Email('email@gmail.com');
    var toEmail= new helper.Email(req.body.mail);
    var subject='text';
    var content = new helper.Content('text/

[2017-05-31 12:14] ginxx009 commented on #283
Sorry for the trouble its working now i thought it was an error it was a 202 error . Sorry

[2017-05-31 19:06] eupharis commented on #221
+1! Iterators would be awesome!!

[2017-05-31 19:23] thinkingserious commented on #221
@arg20, @eupharis,

Your votes have been counted, thanks!

[2017-06-05 12:20] tetreault commented on #313
Can this be reflected more accurately on the docs? It doesn't seem great to have to trawl thru github to find a clear example of such a common use case.

[2017-06-05 17:40] thinkingserious commented on #313
Hi @tetreault,

Yes, we will be updating the docs as well. You will find the new examples [here](https://github.com/sendgrid/sendgrid-nodejs/blob/master/USE_CASES.md).

Thank you for your feedback!

With Best Regards,

Elmer

[2017-06-05 17:55] tetreault commented on #313
Awesome, glad to hear it @thinkingserious. That was my only gripe haha otherwise SendGrid has been great, am using it in conjunction with Azure for a client project right now.

[2017-06-05 17:58] thinkingserious commented on #313
Thanks @tetreault!

Always feel free to reach out if you have any other hiccups :)

[2017-06-08 03:58] stevekuan opened #392 "Schedule email using send_at doesn't work."
#### Issue Summary
Schedule email using send_at doesn't work.

#### Steps to Reproduce

Call sg.API with the this request (Please replace the send_at value that represents a later time) :
{"host":"","method":"POST","path":"/v3/mail/send","headers":{},"body":{"from":{"email":"from@email.com","name":"FROM NAME"},"personalizations":[{"to":[{"email":"john@email.com","name":"John"}],"send_at":149714951

[2017-06-08 20:36] ejames17 opened #393 "Node sendgrid not consistently filling in substitutions"
Issue Summary

Hi guys,
I can't seem to get sendgrid to consistently fill in substitution tags. I am not using a loop or anything just sending 1 email with a couple of Bccs.
It seems to be happening intermittently

Here is my code

 const personalizations = new Helper.Personalization();
  const orderIdSub = new Helper.Substitution('-orderId-', transaction.id.toString());
  const userPaypalSub = ne

[2017-06-10 02:57] thinkingserious commented on #393
Hi @ejames17,

I think you might be adding the substitutions to the wrong personalization object, please see: https://github.com/sendgrid/sendgrid-nodejs/blob/master/USE_CASES.md#transactional-templates

To help debug, you should inspect `mail.toJSON()` before you send the API call to see if the request object is properly formed.

I hope that helps!

With Best Regards,

Elmer

[2017-06-10 03:01] thinkingserious commented on #392
Hello @stevekuan,

Thanks for reporting this @stevekuan, I have added this to our backlog for further investigation.

With Best Regards,

Elmer

[2017-06-10 12:08] kksharma1618 opened #394 "sendgrid doesnt allow readable stream as email attachments"
Sendgrid currently doesn't allow readable stream as email attachments.

From the examples: https://github.com/sendgrid/sendgrid-nodejs/blob/77e49732bc8912e8b2b66a182d38794ce672c03d/USE_CASES.md#attachments
[code]

fs.readFileSync in production app is a really bad idea.
It will be helpful if we can attach readable stream to helper.Attachment. It should stream the file content directly to sendgrid s

[2017-06-11 00:36] ejames17 commented on #393
@thinkingserious  sweet. You are correct i was adding it to the wrong one. The  personalizations is an array of Personalization objects. The mail.toJSON() helped.
Now time to drink.

[2017-06-11 00:36] #393 closed

[2017-06-12 19:02] thinkingserious commented on #393
Awesome! Thanks for following up!

[2017-06-12 19:08] thinkingserious commented on #394
Hello @kksharma1618,

Thanks for the feedback! I've added this to our backlog for implementation.

With Best Regards,

Elmer

[2017-06-13 18:36] maximivanov commented on #347
Just got this in 5.1.1. Reason was I copypasted endpoint url from docs and forgot to prepend request path with "/v3". It would be nice to get proper 404 and not SyntaxError in this case.

[2017-06-13 23:11] thinkingserious commented on #347
Thanks for the heads up @maximivanov. I think this issue will be fixed with this PR: https://github.com/sendgrid/sendgrid-nodejs/pull/378

[2017-06-16 13:38] cashhcointech commented on #341
Hi,
   It's been last 5 hrs since I am looking for a solution for the same problem.

here's my code:
function sendpmail($smto, $smsub, $smbody, $smfrom,$frmpwd)
{
	require("sendgrid-php/sendgrid-php.php");

$maildet ='{
  "header":
  {
  	"Content-Type": "application/json"
  },
  "personalizations": [
    {
      "to": [
        {
          "email": "' . $smto .'"
        }
      ],
      "subject

[2017-06-16 13:40] cashhcointech commented on #341
Hi,
It's been last 5 hrs since I am looking for a solution for the same problem.

here's my code:
[code]

The email body:

[code]

[2017-06-16 17:54] thinkingserious commented on #341
Hi @cashhcointech,

Could you please provide the output of `$request_body`? Thanks!

[2017-06-17 14:17] stevekuan commented on #392
Can you confirm if this is a bug?

[2017-06-19 18:34] thinkingserious commented on #392
Hello @stevekuan,

Not yet, this is still on my backlog. I can say that there are no other open issues across our 7 SDKs with this issue.

Since this is not an issue particular to our SDKs, for which we provide support, I think you will receive a faster response from our [support team](https://support.sendgrid.com).

With Best Regards,

Elmer

[2017-06-20 14:12] MaxShv commented on #221
Any ETA on this?

[2017-06-20 15:26] etyp commented on #221
@thinkingserious any update on this? We're likely to move off of Sendgrid in the coming week if there's no affirmative movement on it. We can't afford to compromise the quality of our emails because a standard feature like this isn't supported by a large service.

[2017-06-20 22:08] thinkingserious commented on #221
Hi @MaxShv, @etyp,

I have added your votes and passed this additional feedback to our product team.

I don't have any new insights into the progress on this, but once I do find that there is movement, I will update this thread.

With Best Regards,

Elmer

[2017-06-22 03:12] saintjab opened #396 "Multiple emails received per each API call"
I am trying the API v3 to send emails in Java (Android). However, for each call to send an email, I usually receive about four at a go. Is this due to something bad going on?

[2017-06-22 11:40] metalshan opened #397 "Do you generate any unique email id? Cause it returns only {message: success}"
#### Response of the email is only a flag

The response I get after sending the mail is just a {message: "success"} json. Is there a way to get the unique id of that mail?
Or I need to append my own uuid and append it somewhere as mentioned in the tracking document?

* sendgrid-nodejs Version: 1.5.0
* Node.js Version: 7.10.0

[2017-06-23 15:13] NickLiffen commented on #390
@gupta-abhi @thinkingserious this is something that we would need to use as well!

[2017-06-23 15:41] thinkingserious commented on #390
Thanks for your vote @NickLiffen!

[2017-06-23 16:27] thinkingserious commented on #396
HI @saintjab,

Do you mind sharing our source code? It sounds like you might have a logic error.

With Best Regards,

Elmer

[2017-06-23 21:12] saintjab commented on #396
@thinkingserious
This is the code I am using

var helper = require('sendgrid').mail;
        var fromEmail = new helper.Email('jonast@jabtest.com');
        var toEmail = new helper.Email(request.params.toEmail);
        var subject = request.params.subject;
        var content = new helper.Content('text/plain', request.params.body);
        var mail = new helper.Mail(fromEmail, subject, toEmail,

[2017-06-25 23:47] 9mm commented on #221
The fact you don't have this is a complete a utter joke.

[2017-06-26 10:34] ansmonjol commented on #396
Got the same error with quite the same code @saintjab.
I receive 2 mails with the same call to sendgrid api, one with all the data I want into my mail, the second is empty, got only the "static" text in the template message

[2017-06-26 21:43] thinkingserious commented on #396
@saintjab, @ansmonjol,

Could you please provide the output to `mail.toJSON()`?

Can you verify that your code is only calling `sg.API` once?

Thanks!

[2017-06-26 21:46] thinkingserious commented on #221
You vote has been added @9mm, thanks!

[2017-06-27 07:40] ansmonjol commented on #396
I've put a log in the `sg.API` like the following:

[code]

And I can see `im here` only once

--

Here is the `Mail.toJSON()`:

[code]

--

So got 2 `Personalization` in the `mail`. Could it be the reason ?
Even if the `im here` only show once

[2017-06-27 10:21] utkarsh-var opened #398 "Problem sending bulk email along with substitutions"
#### Issue Summary

While trying to send bulk emails, I want to personalize individual email by their first name etc by using substitutions. I'm setting firstName array under 'sub' and sending the request to mail API but it's throwing the error- SendGridError: Response error

Here is the stack trace of the error-

"error":"SendGridError: Response error\n    at /node_modules/sendgrid/lib/sendgrid.j

[2017-06-27 10:25] saintjab commented on #396
I am not able to run the code at all at the moment. I get error: _unauthorized code=141, message=unauthorized_ . I am calling this through a Parse Cloud Code so not exactly sure where the error is coming from.

[2017-06-27 17:35] thinkingserious commented on #396
@ansmonjol,

Yes, the two personalizations are the problem. We have to figure out why you are generating two of them. One common reason this happens is when you mix using the mail helper constructor with building a custom mail object. [Here is an example](https://github.com/sendgrid/sendgrid-nodejs/blob/master/examples/helpers/mail/example.js#L15) of setting up the mail object without using the co

[2017-06-27 17:37] thinkingserious commented on #398
Hello @utkarsh-var,

[Here is a full example](https://github.com/sendgrid/sendgrid-nodejs/blob/master/USE_CASES.md#transactional_templates) of using a template with substitutions.

You can obtain the underlying error [like so](https://github.com/sendgrid/sendgrid-nodejs/blob/master/TROUBLESHOOTING.md#error).

Please take a look and let me know how it goes.

Thanks!

With Best Regards,

Elmer

[2017-06-27 18:58] saintjab commented on #396
@Thinkingserious, that is weird because I haven't changed my API credentials and even though I created a new key just to confirm that, none of the changes made any difference so I revert back to the previous key.

[2017-06-28 08:32] utkarsh-var commented on #398
Thanks for replying @thinkingserious

I tried it using Without Mail Helper Class, I am getting following error:-
[code]

Here is the code:-
[code]
Could you look into it and let me know what am I doing wrong.

[2017-06-28 10:27] ansmonjol commented on #396
You're right !

I was adding a `toEmail` twice, one in the `mail` object and one in the `personalization`

So I removed
[code]

and changed it by

[code]

And it work perfectly fine 🙌

Thanks

[2017-06-28 16:19] thinkingserious commented on #396
@saintjab,

The format of that error does not look like it's coming from SendGrid. We do not return a 141 code. Perhaps there is an issue with Parse or another library?

[2017-06-28 16:23] thinkingserious commented on #398
Can you try changing: `const to = ["to@example.com"];` to `const to = "to@example.com";`

[2017-06-28 16:36] utkarsh-var commented on #398
@thinkingserious I did tried changing `const to = ["to@example.com"]; to const to = "to@example.com";` but it's giving same error.

[2017-06-28 16:42] thinkingserious commented on #398
Ah, I see, the `to` object needs to be in the following format:

[code]

In the first case, you had:

[code]

And then, just now you had:

[code]

Please update your `to` object accordingly. Thanks!

[2017-06-28 16:55] utkarsh-var commented on #398
I tried `to` object in both
[code]
and
[code]
formats but it's giving same error.

[2017-06-28 17:03] thinkingserious commented on #398
I think it should be:

[code]

[2017-06-28 17:06] utkarsh-var commented on #398
If I am doing
[code]
I am able to send mail, but as mentioned above I want to send bulk emails with substitutions.

[2017-06-28 17:13] utkarsh-var commented on #398
I tried
[code]
It's throwing following error-
[code]

[2017-06-28 17:18] thinkingserious commented on #398
Can you please grab the underlying message, [like so](https://github.com/sendgrid/sendgrid-nodejs/blob/master/TROUBLESHOOTING.md#error-messages)?

It looks like the error is probably related to substitutions, which should be in this format:

[code]

[2017-06-28 18:59] saintjab commented on #396
@thinkingserious , here is my mail.toJSON

M2JSONfunction () {
    var json = {
      from: this.getFrom(),
      personalizations: this.getPersonalizations(),
      subject: this.getSubject(),
      content: this.getContents(),
      attachments: this.getAttachments(),
      template_id: this.getTemplateId(),
      sections: this.getSections(),
      headers: this.getHeaders(),
      categories:

[2017-06-28 19:26] ansmonjol commented on #396
Sure ! Here is my complete code @saintjab with a template send :

[code]

It's not really commented so tell me if you have some questions.

1st we build the email part (from, subject, content)
then add the personalizations stuff (to, subject (again), vars for the templates)
then if it's an invoice send, we add the file
build the request and send

[2017-06-28 20:13] utkarsh-var commented on #398
@thinkingserious I am able to send the single email with substitutions as mentioned above. The problem is coming when I want to send bulk emails with substitutions. I am properly setting `to` array, and `substitutions` object as I have posted above. But it's throwing an error. I guess **Mail Helper Class** doesn't have any method to set an array of **to_email**. And Without Mail Helper Class it's

[2017-06-30 01:10] saintjab commented on #396
@ansmonjol +1, thanks for sharing. For some weird reason, the problem has stopped without any changes to my code :). I don't know what happened. Just keeping an eye on it for while, if everything keeps working well I will come back and close this ticket later.

[2017-06-30 02:59] thinkingserious commented on #398
Hi @utkarsh-var,

I believe [this example](https://github.com/sendgrid/sendgrid-nodejs/blob/master/examples/helpers/mail/example.js#L15) should help.

Please let me know if you continue to run into trouble.

With Best Regards,

Elmer

[2017-07-04 09:37] metalshan commented on #397
Thanks @thinkingserious

[2017-07-04 09:37] #397 closed

[2017-07-05 18:00] hdornier commented on #217
@thinkingserious Just wanted to add that this is a really important feature for us as well. Any update on the product roadmap?

[2017-07-05 18:27] thinkingserious commented on #217
Agreed @hdornier, I'll add your voice to the issue. Thanks for taking the time to vote!

[2017-07-05 20:02] utkarsh-var commented on #398
Hi @thinkingserious,

I tried all the examples and suggestions that you have given, but it's not working in my case. I have been stuck with this issue since last 10 days. It would be helpful if you connect me with someone who could solve this issue. Or we can discuss this issue on skype call if it works for you. It's urgent.

Regards!
Utkarsh

[2017-07-05 20:08] thinkingserious commented on #398
Hi @utkarsh-var,

Were you able to get the [underlying error message](https://github.com/sendgrid/sendgrid-nodejs/blob/master/TROUBLESHOOTING.md#error-messages)?

Could you post the latest code you have tried?

Thanks!

Elmer

[2017-07-06 15:11] sidimomo commented on #280
where is the solution guys ?

[2017-07-06 22:07] thinkingserious commented on #280
Hi @sidimomo,

We have not implemented a solution yet within the library, but I have added your +1 to help this issue gain priority in our backlog. Thanks!

With Best Regards,

Elmer

[2017-07-07 07:28] utkarsh-var commented on #398
Finally got it working, below is my solution-

[code]

[2017-07-07 08:31] dillonbailey opened #400 ""x-no-cors-reason" header present when using node.js on AWS Lambda"
#### Issue Summary
Brief summary - when firing off API requests from node.js where API keys are secure we are still getting a response header that disallows CORS.

There may be some ways to manipulate this in our Lambda function before a response is returned from AWS, but it seems a little hacky and weird.

[code]

#### Steps to Reproduce

1. Setup an AWS Lambda function with the above code
2. Set

[2017-07-07 19:07] thinkingserious commented on #400
Hello @dillonbailey,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2017-07-07 19:07] #400 closed

[2017-07-07 19:08] thinkingserious commented on #398
Awesome!

Thanks for sharing the solution with us @utkarsh-var!

[2017-07-07 19:08] #398 closed

[2017-07-11 20:47] mevillep opened #401 "Unable to send attachments"
I am unable to send attachments. In the email, I see the attachment with the correct name, but when I click on it to open, it says, "Failed to load PDF document".

I have followed the step in demo examples.

` var attachment = new helper.Attachment();
              var file = fs.readFileSync('/home/vcap/app/common/models/scc.txt');
              var base64File = new Buffer(file).toString('base64')

[2017-07-11 20:53] thinkingserious commented on #401
Hi @mevillep,

Based on the extension (scc.txt), it may be that the file is not a PDF. Can you please double check? Thanks!

With Best Regards,

Elmer

[2017-07-11 20:56] mevillep commented on #401
Thanks for your prompt reply. Let me try that.

[2017-07-12 14:20] franciscocpg opened #402 "Timeout"
What is the default connection timeout?
Is there a way to change this value?

[2017-07-12 15:34] mevillep commented on #401
attachment.setContent('myBase64FileHere');
              attachment.setFilename("TheBeast.pdf");
              attachment.setDisposition("attachment");
              attachment.setType('application/pdf');
              mail.addAttachment(attachment);

I am trying to put a base 64 file as an argument in the first line. For some reason I am unable to work it out. Anything that I am doing wrong?

[2017-07-12 19:15] thinkingserious commented on #401
How are you generating the base64 encoding?

[2017-07-12 19:17] thinkingserious commented on #402
Hi @franciscocpg,

I believe it's [two minutes](https://stackoverflow.com/questions/23874954/is-there-a-default-timeout-in-nodejs-for-http-request).

If you want us to implement configurability, please open an issue [here](https://github.com/sendgrid/nodejs-http-client/issues), thanks!

With Best Regards,

Elmer

[2017-07-12 19:17] #402 closed

[2017-07-13 04:38] bradacina opened #403 "Fix index.d.ts file for addCustomArg()"
The definition file states: pass an object containing 2 properties: key, value
(
https://github.com/sendgrid/sendgrid-nodejs/blob/master/index.d.ts#L58,
https://github.com/sendgrid/sendgrid-nodejs/blob/master/index.d.ts#L364
)

The implementation: will look at the object passed in and grab the first key name and its value as the custom arg (https://github.com/sendgrid/sendgrid-nodejs/blob/master/l

[2017-07-13 17:37] mevillep commented on #401
So, I have a base64 file in my database. And I am querying it to be able to send as an attachment.
It looks something like this, "data:application/pdf;base64,myActualBAse64File". And It doesn't work.
Now, when I use only "myActualBAse64File" like attachment.setContent('myActualBAse64File')
It does not work.
Ia m not sure what wrong I am doing here.

[2017-07-13 17:51] thinkingserious commented on #401
Can you please try removing the header (this part: data:application/pdf;base64,) and try again? Thanks!

[2017-07-13 18:15] mevillep commented on #401
Yeahh, I tried that too. I had removed it and tired, It had still not worked.
like >>  attachment.setContent('myActualBAse64File');

[2017-07-13 18:50] thinkingserious commented on #401
Can you please send the file you are having trouble with to dx@sendgrid.com?

[2017-07-13 22:37] rockchalkwushock opened #404 "[Question] Preventing receiving address from being spammed"
I am planning on using `sendgrid` to take form data from `redux-form` and send it to my friend's email as part of her business's website. This is my first time using a mail client and I'm curious about what I can do to prevent her inbox from being spammed. My form will have built-in validation for the inputs; but I'm concerned about the form being submitted over and over again with _validated_ inp

[2017-07-13 23:08] thinkingserious commented on #404
Hello @rockchalkwushock,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2017-07-13 23:08] #404 closed

[2017-07-13 23:20] thinkingserious commented on #401
HI @mevillep,

I just sent you an email with my findings, please let me know how it goes. Thanks!

[2017-07-13 23:27] thinkingserious commented on #403
Thanks @bradacina,

I have added this to our backlog for a fix. This issue can gain priority with +1's from others and the biggest priority bump would come from a PR.

With Best Regards,

Elmer

[2017-07-14 04:12] apat183 opened #405 "Allow the ability to set port in request"
#### Issue Summary

So I have a node server setup behind a corporate proxy. I've setup the server to use the proxy on all http and https request. However, my requests were getting blocked when trying to use the SendGrid node library. The reason they were getting blocked is either the proxy or the firewall wasn't letting the request past since it was using https but wasn't using port 443 in the req

[2017-07-14 18:53] thinkingserious commented on #405
@apat183,

Nice! Thanks for taking the time to describe your need in detail. I've added this to our backlog for implementation.

For this issue to gain priority in our backlog, we need additional +1's or a PR. When we receive a PR, that provides the biggest jump in priority.

With Best Regards,

Elmer

[2017-07-15 06:39] apat183 commented on #405
Submitted PR on the nodejs-http-client. Thanks

[2017-07-15 06:39] #405 closed

[2017-07-17 15:46] futhr commented on #221
Hi @thinkingserious, thanks for a great service, what is the progress of this? You would be so much more awesome if you can add e.g. Handlebars support without forcing your clients to use an external webhook service like Sendwithus.

Thanks

[2017-07-17 16:28] 9mm commented on #221
Everyone in this should just use https://www.sendwithus.com

I ended up getting tired of waiting and SWU is amazing, it lets you do everything you could ever want in a template and more.

It is slightly expensive though but exceeds my expectations.

[2017-07-17 18:54] thinkingserious commented on #221
Thanks for the suggestion, @9mm, SendWithUs is amazing and a [solid partner](https://support.sendwithus.com/esp_accounts/connect_sendgrid/).

I also have some exciting news for everyone on this thread (well, at least I think it's exciting :)). In just a few short weeks, we're about to get started on how best to implement this feature.

If you would like to be part of the discussion for the templat

[2017-07-17 19:15] adamreisnz commented on #221
Great news, I've signed up for a chat.

We definitely need template iteration, but I think it would be even better (and simpler!) if Sendgrid were to support Handlebars templates. Then there's no need to reinvent the wheel!

[2017-07-18 03:37] thinkingserious commented on #405
@apat183,

Do you mind submitting a pull request at sendgrid-nodejs to update the dependency? Thanks!

[2017-07-19 10:24] apat183 commented on #405
I submitted PR with updated package.json file to reflect new version of nodejs-http. Is this what you meant? Sorry slightly confused since it was using ^ caret in version so would have picked up new version. Let me know if there is something else.

[2017-07-19 23:41] thinkingserious commented on #405
Mainly, we want to surface the new functionality and we should add a test or two. I'll comment on your PR. Thanks!

[2017-07-19 23:57] apat183 commented on #405
Sounds good.

[2017-07-20 14:50] karatechops opened #409 "Disabling Certificate Verification"
I have a remote server which uses a self signed certificate, is it possible to disable the certificate verification?

This is the current error I am receiving:
[code]

I've tried adding the following to my `emptyRequest` body to no avail.
[code]

Additionally this returns the same self signed certificate error
[code]

[2017-07-20 15:45] thinkingserious commented on #409
Hi @karatechops

This is not possible now. Support for this would likely need to be added [here](https://github.com/sendgrid/nodejs-http-client/blob/master/lib/client.js#L61).

For this issue to gain priority in our backlog, we need additional +1's or a PR. When we receive a PR, that provides the biggest jump in priority.

With Best Regards,

Elmer

[2017-07-20 16:34] mbernier commented on #221
I am excited to chat with anyone who has some ideas or opinions on the templates. We need your feedback!!

[2017-07-20 17:37] dangerismycat commented on #282
I can't believe I spent an afternoon debugging before I came across this. A `substitution must be string` mention in the docs at least would be nice…which I'd add myself, but at this point I can't even find where that would go in the docs.

[2017-07-20 17:41] thinkingserious commented on #282
Hi @dangerismycat,

:( not cool. This is documented [here](https://sendgrid.com/docs/API_Reference/api_v3.html), but that's not helpful for your use case.

We are going to build this into the library so you don't even need to worry about it. Your vote has been added to help increase the priority.

[2017-07-20 17:51] dangerismycat commented on #282
Awesome, glad it's upped the priority. If it's a simple fix and you can point me in the right direction (repo or file), I can take care of it.

[2017-07-20 17:57] thinkingserious commented on #282
@dangerismycat,

Awesome! The fix would likely go [here](https://github.com/sendgrid/sendgrid-nodejs/blob/master/lib/helpers/mail/mail.js#L621).

[2017-07-20 18:29] dangerismycat commented on #282
@thinkingserious Hm…looks like the build failed. Are there associated tests I need to update, or anything else?

[2017-07-20 19:31] thinkingserious commented on #282
Something has been amiss with Travis CI builds for those not in the SendGrid organization. I'm not quite sure what is going on, but I will verify locally.

[2017-07-20 19:40] #282 closed

[2017-07-21 13:16] mrfelton opened #411 "Ability to specify the promise library"
We should be able to choose what Promise library is used rather than assuming that the user want's to use whatever is in global.Promise.

[2017-07-21 13:23] mrfelton commented on #411
Actually, this can already be done:

[code]

[2017-07-21 13:23] #411 closed

[2017-07-21 13:57] karatechops commented on #409
After some deep diving on this I've discovered this is not a certificate issue but a proxy issue. If my request looks like the following the email will send on my remote server.
[code]

I believe the only way to get an http request is by setting the request `test` parameter to true. @thinkingserious does setting `test` to true have any implications with how Sendgrid would handle the email on their

[2017-07-21 21:29] e99cog commented on #217
@thinkingserious, you mentioned this can be done with smtpapi. Do you have an example of this? What part of the smtpapi? A simple substitution of some kind?

[2017-07-24 21:49] thinkingserious commented on #217
Hi @e99cog,

I'm not sure why I said that previously :(

I don't know if this will work using the SMTPAPI, but [here is an example](https://sendgrid.com/docs/API_Reference/SMTP_API/using_the_smtp_api.html) of how it's used.

With Best Regards,

Elmer

[2017-07-24 21:55] thinkingserious commented on #409
Hello @karatechops,

I don't think so, but I think there may be a security concern since when you set [test to be equal to true](https://github.com/sendgrid/nodejs-http-client/blob/master/lib/client.js#L91), you lose https support.

With Best Regards,

Elmer

[2017-07-24 21:56] karatechops commented on #409
Understood, the proxy is only available on http so it will need to remain this way.  I'll close this, thanks for the help!

[2017-07-24 21:56] #409 closed

[2017-07-25 07:49] dipakinfrrd commented on #192
Hello i am using c# sendgrid api and want to  send email where each recipient should be substituted with the correct substitution.It not working properly, i followed the above issue .
I am using template for send email.

 var tos = new List<EmailAddress>
            {
                new EmailAddress
                {
                    Email = "test1@xyz.com",

                },

[2017-07-25 15:23] thinkingserious commented on #192
Hi @dipakinfrrd,

This is the repo for our Node.js library, could you please post this issue [here](https://github.com/sendgrid/sendgrid-csharp).

Thanks!

With Best Regards,

Elmer

[2017-07-26 04:18] hifall opened #412 "Official way to identify a message from webhook."
When I send an email using the SG node.js API, I got the response which contains a field: 'x-message-id': 'evEK_IhZSlKus235aGfxIQ'. This x-message-id field seems to identify the message.

Then I got the event data passed in by my webhook called by Sendgrid, and the data contains a field: 'sg_message_id':'evEK_IhZSlKus235aGfxIQ.filter0361p1las1-11880-5978131E-23.0'. Note that the first part of sg_m

[2017-07-27 02:13] thinkingserious commented on #412
Hello @hifall,

I suggest that you set the custom arguments so that you have maximum control. [Here is an example](https://github.com/sendgrid/sendgrid-nodejs/blob/master/examples/helpers/mail/example.js#L46) of how to do so.

With Best Regards,

Elmer

[2017-07-28 10:50] harsh5692 commented on #401
Hi @thinkingserious
I am facing exact same issue with attaching PDFs in email.
The email I get has the attachments but it just a blank page, no the file I sent.
Also I checked the contents of attachments, it has some gibberish which does not open with a PDF reader.

Here is sample code for reference. Can you help me with this ?
[code]

[2017-07-28 16:23] thinkingserious commented on #401
Hi @harsh5692,

Can you please send us (dx@sendgrid.com) the original file and the base64 excoded string. Please send the latter in a .txt file.

Usually the issue is improper base64 encoding.

With Best Regards,

Elmer

[2017-07-28 17:44] rnabeeh-infosol opened #414 "NodeJS - Out of the box Email Error"
#### Issue Summary

I have created an application using react js and uploaded to heroku. When attempting to use sendgrid's sample minimum code my application produced this error:

![fetcherrorsendgrid](https://user-images.githubusercontent.com/30155538/28729389-226fba94-7381-11e7-8481-2d861234532b.PNG)

#### Steps to Reproduce

1. Included SendGrid addon to heroku
2. npm installed sendgrid
3. Adde

[2017-07-28 18:37] thinkingserious commented on #414
Hello @rnabeeh-infosol,

It looks like you have run into the issue described on [this thread](https://github.com/sendgrid/docs/issues/1417). [Here](https://sendgrid.com/docs/Classroom/Basics/API/cors.html) is our suggested solution.

With Best Regards,

Elmer

[2017-07-28 18:37] #414 closed

[2017-07-28 18:46] thinkingserious commented on #401
Here is what worked for me:

[code]

Following is the contents of temp.js:

[code]

I'm guessing your original .pdf is not being loaded correctly.

[2017-07-31 21:21] kardamom commented on #221
I need loops as well - is there a ticket I can track, vote for? I can't see how to find other people's tickets in the support interface.

Many thanks

[2017-07-31 21:55] thinkingserious commented on #221
Hello @kardamom,

Your comment on this thread counts as a vote and any updates will be posted here.

Thanks!

With Best Regards,

Elmer

[2017-07-31 22:34] jaymjax1 commented on #222
@rdagger What all did you contain in your body? And did you have to import any other modules?

[2017-08-01 11:09] paavohuhtala opened #416 "Sendgrid.API(...) type signature is wrong"
The SendGrid.API(...) method has the wrong type in [index.d.ts](https://github.com/sendgrid/sendgrid-nodejs/blob/master/index.d.ts#L468). According to the types the callback only takes a response parameter,  even though [it actually is](https://github.com/sendgrid/sendgrid-nodejs/blob/master/lib/sendgrid.js#L125) a Node.js style `(error, result)` callback.

[2017-08-01 14:49] mbernier commented on #221
@etyp thank you so much for the feedback and information on template logic! If you go here, https://dx.sendgrid.com/swag, you can grab some swag as our thanks for your time.

[2017-08-02 05:43] thinkingserious commented on #416
Thanks for the heads up @paavohuhtala!

For this issue to gain priority in our backlog, we need additional +1's or a PR. When we receive a PR, that provides the biggest jump in priority.

With Best Regards,

Elmer

[2017-08-04 08:58] ameesme commented on #221
Also waiting on this. Implementing Sendgrid in our platform has been troublesome to say the least, with the lack of basic functionalities like this or the excessively complicated structure of the old nodejs-module. It's kind of silly having to chain multiple templating-engines.

[2017-08-04 20:19] mbernier commented on #221
@futhr, @hf2186, @katehlee  Please click the following link to get your swag, we really appreciate your feedback about this! https://dx.sendgrid.com/swag

For anyone else who is interested, please feel free to grab a time on my calendar at the link above.

[2017-08-04 20:20] mbernier commented on #221
@ameesme we are collecting feedback about template conditionals right now, so that we are building the right thing.

[2017-08-05 22:43] adamreisnz commented on #221
Great chat last week with @mbernier and @ben-grid about templates and various use cases for iteration and conditionals etc. Hopeful that support for template iteration will be implemented in the near future! 😃

[2017-08-09 02:32] kylemantesso opened #419 "10,000 byte limit on personalizations is too low"
#### Issue Summary

The limit of 10,000 bytes on personalizations is too low. Templates need some way of doing iterations or raise the limit.

[2017-08-09 19:53] thinkingserious commented on #419
Hi @kylemantesso,

We are currently working on upgrading the templating experience, please see [this thread](https://github.com/sendgrid/sendgrid-nodejs/issues/221) for progress. Thanks!

With Best Regards,

Elmer

[2017-08-09 19:53] #419 closed

[2017-08-10 07:04] kylemantesso commented on #221
@mbernier unfortunately its a bit hard to book a time with Matt to give feedback, because of the different time zone, but happy to provide more info over email if you have any specific questions...

We really need this feature to continue using SendGrid, which has otherwise been a great product.

[2017-08-10 14:06] dmorrow commented on #221
Here to cast my vote for conditionals and iterating.  I've set up a time to chat with @mbernier

[2017-08-10 18:06] arg20 commented on #221
Support for something like handlebars would be amazing.

[2017-08-13 13:08] Fabiantjoeaon opened #420 "All href attributes with substitutions get stripped"
I'm trying to use a transactional template to send informational emails like account validation etc.
I created one main transactional template which should have a button that has a different text and href for each mail.

My substitution for the button text works, and if I replace it with the URL, I get to see the URL too in text, but when I try to append the url to the href attribute it disappears

[2017-08-14 15:14] thinkingserious commented on #420
Hello @Fabiantjoeaon,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2017-08-14 15:14] #420 closed

[2017-08-14 15:47] mbernier commented on #221
@ameesme Thanks again for your feedback! Please grab some swag here: https://dx.sendgrid.com/swag !

[2017-08-14 15:49] mbernier commented on #221
@dmorrow Thanks to you too for the feedback, friend. Check out https://dx.sendgrid.com/swag for some stuff.

[2017-08-14 15:49] mbernier commented on #221
@kylemantesso my email is just my username here at sendgrid.com - hit me up

[2017-08-14 16:01] ameesme commented on #221
Thanks a lot @mbernier. Really cool of you guys! :)

[2017-08-14 19:34] thinkingserious commented on #221
@ameesme,

Could you please send your zip code over to dx@sendgrid.com? Thanks!

[2017-08-15 13:01] aleksandergasna commented on #217
+1 over here also

[2017-08-15 13:20] e99cog commented on #217
In the end, I had to resolve this issue by using mailgun and the message.mime endpoint it has, as it allows me to send the mime explicitly.

Does sendgrid offer this feature in any API?

[2017-08-15 19:32] mbernier commented on #217
Hey, everyone!

I am Matt, the Developer Experience Product Manager at SendGrid. I am interested in learning more about what you need from MIME types. We typically do this as a google hangout, so that I can learn about your use case and the specifics of what you need.

Please feel free to grab a time on my calendar - https://calendly.com/matt-bernier/mail-send-mime-types

Thanks!!

[2017-08-16 07:52] umesh191994 opened #421 "email.addSubVal is not a function"
I was making use of V2 to send email in sendgrid.  But now I migrated from V2 to V3 sendgrid@5.2.0.
In the updated sendrid verison iam facing an issue with addSubVal() function which was working in previous verison, so i just need to know the alternative for addSubVal() fuction in V3.

I tried to investigate here in the below link:
https://sendgrid.com/docs/Classroom/Send/v3_Mail_Send/how_to_migra

[2017-08-16 08:53] ervaibhavsinghal opened #422 "Mail send successfully but browser shows an error"
![screenshot from 2017-08-16 14 15 40](https://user-images.githubusercontent.com/16643006/29356443-f2d97124-8291-11e7-9fcd-ca25395238aa.png)
#### Issue Summary

Mail send successfully but browser shows this error:
`{"error":{"code":500,"status":"INTERNAL","message":"function execution attempt timed out"}}`

#### Steps to Reproduce
Step 1) echo "export SENDGRID_API_KEY='YOUR_API_KEY'" > sendgrid.en

[2017-08-16 21:13] diegoddox opened #423 "Question: From name on v3 where and how to add."
I'm trying to add the`fromname` on my object but I'm not sure if is the right way I'm doing.

[code]

I do get the email but not with the `fromname`, any idea why or where I add the `fromname` `field`?

[2017-08-16 21:56] thinkingserious commented on #423
Here are some examples:
https://github.com/sendgrid/sendgrid-nodejs/blob/master/examples/mail/mail.js#L73
https://github.com/sendgrid/sendgrid-nodejs/blob/master/examples/helpers/mail/example.js#L19

Basically, `from: {email: 'example@example.com'}` becomes `from: {email: 'example@example.com', name:'Namehere'}`

[2017-08-16 22:10] thinkingserious commented on #422
Hi @ervaibhavsinghal,

From your error logs, it looks like something is trying to send request headers after the HTTP request is already sent. [Here](https://stackoverflow.com/questions/7042340/error-cant-set-headers-after-they-are-sent-to-the-client) is a good explanation of the issue.

With Best Regards,

Elmer

[2017-08-16 22:12] thinkingserious commented on #421
Hello @umesh191994,

I believe [this is the example](https://github.com/sendgrid/sendgrid-nodejs/blob/master/USE_CASES.md#transactional_templates) you need. Please let me know if that is not the case.

With Best Regards,

Elmer

[2017-08-17 03:21] diegoddox commented on #423
Hi @thinkingserious, thanks a lot!

[2017-08-17 03:21] #423 closed

[2017-08-17 06:09] umesh191994 commented on #421
Hi Elmer

Thanks for your support, I gone through the link you provided and made use of
" mail.personalizations[0].addSubstitution(new helper.Substitution('-name-', 'Example User')); "
in place of addSubVal() and please let me know is this the correct one and where to track this in sendgid.

And now I have a different issue after updating Node "request.emit" function is not working.

result = {

[2017-08-17 10:55] ervaibhavsinghal commented on #422
@thinkingserious what about this error "info: Execution took 60004 ms, finished with status: 'timeout'", I'll fix the header issue.

[2017-08-17 16:28] johhansantana opened #424 "Question about sending an email to various emails"
Trying to send a single email to various emails.

Would this code work?
`const toEmail = new helper.Email('foo@example.com, bar@example.com');`

[2017-08-17 20:48] thinkingserious commented on #424
Hi @johhansantana,

No that would not work. Please see this example: https://github.com/sendgrid/sendgrid-nodejs/blob/master/examples/helpers/mail/example.js#L15

Let me know if you need further assistance. Thanks!

With Best Regards,

Elmer

[2017-08-17 20:52] thinkingserious commented on #422
It looks like you have a function that is timing out, maybe it's the same one that is trying to send additional headers.

I don't think it was the SendGrid function, because you received the success message back.

[2017-08-17 20:53] thinkingserious commented on #421
I believe that is just a function to print out the results. You can do that now with `console.log` as shown in the example I linked to earlier.

I hope that helps!

With Best Regards,

Elmer

[2017-08-18 13:57] johhansantana commented on #424
thank you!

[2017-08-18 13:57] #424 closed

[2017-08-23 20:47] Iiridayn opened #426 "Support simple sending method as documented in the Azure docs"
#### Issue Summary

A well designed API wrapper simplifies common usage scenarios. [The Azure docs suggest](https://docs.microsoft.com/en-us/azure/store-sendgrid-nodejs-how-to-send-email),
[code]

should be enough to send an email. This is a good API wrapper. For some reason this library no longer supports this very reasonable call.

#### Steps to Reproduce

1. `npm install sendgrid`
2. `const sen

[2017-08-23 20:49] thinkingserious commented on #426
Hi @Iiridayn,

This is currently in progress, please follow along [here](https://github.com/sendgrid/sendgrid-nodejs/pull/407). Thanks!

With Best Regards,

Elmer

[2017-08-23 20:49] #426 closed

[2017-08-23 20:54] Iiridayn commented on #426
I'll look forward to the result then.

[2017-08-28 16:22] kurtisdavis commented on #221
We need to have this loop feature as well. We're using SendGrid for mostly everything,but are still using a different vendor for this functionality. Seems like a fairly simple feature to implement. Please let us know updates on this feature as they come available.

[2017-08-28 17:46] thinkingserious commented on #221
Hello @kurtisdavis,

If you would like to be part of the discussion for the templates functionality, Matt Bernier our Developer Experience Product Manager is digging into customer needs about templates. Please sign up for a time here https://calendly.com/matt-bernier/template-conditionals.

With Best Regards,

Elmer

[2017-08-28 19:23] #312 closed

[2017-08-28 19:23] #313 closed

[2017-08-28 19:23] #314 closed

[2017-08-28 19:23] #315 closed

[2017-08-28 19:53] thinkingserious opened #427 "Update contact-importer to support v6.X"
#### Issue Summary

The current version of [contact-importer](https://github.com/sendgrid/sendgrid-nodejs/tree/master/packages/contact-importer) needs to be updated to leverage the new [@sendgrid/client](https://github.com/sendgrid/sendgrid-nodejs/tree/master/packages/client).

#### Acceptance Criteria

- Passing Tests
- README.md

[2017-08-28 19:56] thinkingserious commented on #427
cc @mrfelton

[2017-08-28 19:58] thinkingserious opened #428 "Update TypeScript definition to support v6.X"
#### Issue Summary

v6.X is a major breaking change from v5.X, so the TypeScript definition needs an update.

[2017-08-28 19:58] thinkingserious commented on #428
cc @SPARTAN563

[2017-08-28 20:35] SPARTAN563 commented on #428
Will take a look, can't promise that I'll get to it this week with SRECon, however I'll do what I can.

[2017-08-28 20:35] thinkingserious commented on #428
No worries @SPARTAN563, enjoy the conference!

[2017-08-29 11:48] kiranshashiny opened #429 "Syntax error in sample sendgrid node.js code, during run time."
#### Issue Summary
I am getting a Syntax error in mail.js when I copied the sample sendgrid code and tried to run it on my server

#### Steps to Reproduce

1. npm install  @sendgrid/mail
2. exported environment variable SENDGRID_API_KEY in my bash environment
3. Copied the sample code
[code]
Last step:
Run the code
[code]

#### Technical details:
[code]

[code]

[2017-08-29 17:51] cadesalaberry opened #431 "No migration guide yet ?"
#### Issue Summary

As per the README,

But the link links back to the README, it seems like no migration instructions have been written yet. Do you know when it will get updated ?

#### Steps to Reproduce

1. Checkout the README

#### Technical details:

* sendgrid-nodejs Version: master (latest commit: [01a9efe370a0e707da8d0b904209b90da8363281])

[2017-08-29 18:17] thinkingserious commented on #431
Hello @cadesalaberry,

There is not really a direct path from v5 to v6. For example, compare the [previous](https://github.com/sendgrid/sendgrid-nodejs/tree/c29a5c4928c5875c1adfa7146efcc5149eae3d32#with-mail-helper-class) Hello Email to the [current](https://github.com/sendgrid/sendgrid-nodejs/blob/master/packages/mail/USE_CASES.md#send-a-single-email-to-a-single-recipient). So my current recommen

[2017-08-29 19:42] thinkingserious commented on #429
Hello @kiranshashiny,

I believe this is not working for you because v6 of this SDK does not support Node v4.

Do you have access to a machine that uses Node v6 or higher?

With Best Regards,

Elmer

[2017-08-29 20:25] froquette opened #432 "Problems using sendgrid with Nuxt"
After requiring sendgrid in a module I'm start having unresolved dependencies from the following modules: fs, net, tls. I'm now using the latest sendgrid-nodejs v6.0.0.
Since Nuxt is server side I'm assuming these modules are not supported by Nuxt. Any examples of using sendgrid with Nuxt?

[2017-08-29 20:30] thinkingserious commented on #432
Hello @froquette,

Could you please provide the log files with the errors? Thanks!

With Best Regards,

Elmer

[2017-08-29 20:51] froquette commented on #432
When having sendgrid declared: var helper = require('sendgrid').mail

 ERROR  Failed to compile with 3 errors21:49:13

This dependency was not found:

* fs in ./node_modules/mime/mime.js, ./node_modules/sendgrid/lib/helpers/inbound/parse.js and 1 other

To install it, you can run: npm install --save fs

[2017-08-29 21:33] dbaranovsky opened #433 "Cannot use Substitutions neither in Personalizations nor in Mail objects"
#### Issue Summary
[code]

I'm receiving the following error:
[code]

If don't use personalizations (and use Substitutions in the root object), then email is sent fine, but Substitutions are not replaced, because @sendgrid/helpers/classes/Mail object in its toJSON method ignores 'substitutions' property.

#### Technical details:

* sendgrid-nodejs Version: 6.0.0
* Node.js Version: 6.11

[2017-08-29 21:44] thinkingserious commented on #432
Hi @froquette,

It looks like you don't have the latest package, can you please try [this](https://github.com/sendgrid/sendgrid-nodejs/tree/master/packages/mail#install-package)?

[2017-08-29 21:50] thinkingserious commented on #433
Hi @dbaranovsky,

I was able to reproduce and I've added this to our backlog for a fix.

For now, [this example works](https://github.com/sendgrid/sendgrid-nodejs/blob/master/packages/mail/USE_CASES.md#transactional-templates).

Here is the code I used to test:

[code]

Thanks!

With Best Regards,

Elmer

[2017-08-29 21:53] froquette commented on #432
Hi Thomas,
Already tried with this (v6.0.0) and get unresolved dependencies fo: fs,
tls, net. I guess these modules are not supported in Nuxt.

On Tue, Aug 29, 2017 at 10:45 PM, Elmer Thomas <notifications@github.com>
wrote:

--
Cumprimentos,
Filipe Roquette

[2017-08-29 21:56] thinkingserious commented on #432
Hi @froquette,

Could you please provide what errors (from your logs) that you get when you tried to install v6?

Did you try `npm install --save fs`?

[2017-08-30 09:08] cadesalaberry commented on #431
Thanks Elmer !

Yes, that seems great to me, I was missing some sort of documentation of the new API, the USE_CASE is exactly what I was looking for :smile: I made a PR to update the changes accordingly (https://github.com/sendgrid/sendgrid-nodejs/pull/434)

Cheers,

PS: Btw for clarification, this sentence is in the CHANGELOG, not the README as I mentionned.

[2017-08-30 09:08] #431 closed

[2017-08-30 12:23] bogacg commented on #428
Meanwhile SPARTAN563's PR gets reviewed, we can trick things a bit to work with Typescript:
[code]

[2017-08-30 13:03] froquette commented on #432
Hi Thomas,
Thank you for your support!!

I've reverted back to the previous version since v6.0.0 shows unresolved
dependencies from fs, tls and net. If really needed I can re-install it and
send you the compilation logs showing these issues.

I tried to install "fs" but it creates other problems. Since Nuxt is SSR
(server side rendering) I guess client side modules like "fs" are not
supported.

On

[2017-08-30 18:09] thinkingserious commented on #432
Hello @froquette,

Thanks for the update! The logs would help us figure out if there is a good workaround. If you have a moment, it would be great to see them.

With Best Regards,

Elmer

[2017-08-30 18:10] thinkingserious commented on #428
Thanks @bogacg!

[2017-08-30 21:08] thinkingserious commented on #433
@adamreisnz,

Thoughts on this one?

[2017-08-30 22:12] thinkingserious commented on #428
Solved with #430

[2017-08-30 22:12] #428 closed

[2017-08-30 22:41] onesien opened #435 "Unexpected Error when trying to send transactional email"
#### Issue Summary
Getting a 'Bad Request' error with the following payload.

#### Request
[code]
#### Response

[code]
### Notes
In the documentation it says `templateId` but in the error message it says `template_id`. I've tried both and received the same error message. I attached a screenshot of my template screen as a sanity check to make sure I have it configured correctly in sendgrid.

####

[2017-08-31 00:21] adamreisnz commented on #433
I'll have a look!

[2017-08-31 04:02] adamreisnz commented on #433
PR created to fix this issue

[2017-08-31 04:10] adamreisnz commented on #435
@onesien the new node JS mailer API is case agnostic, so you can use both `templateId` or `template_id`. Camel case is more common in JS land, hence we've added support for that, while the API itself consumes snake case.

I'll have a look to see what's happening with the template ID

[2017-08-31 04:18] thinkingserious commented on #435
Hi @onesien,

You might also want to check with [support](https://support.sendgrid.com). I think the issue may be related to the old template editor.

Can you also try making a new template and using that ID?

With Best Regards,

Elmer

[2017-08-31 04:18] adamreisnz commented on #435
@thinkingserious can you check this on your end? It does seem like we are correctly sending the `template_id` parameter with the request

[2017-08-31 04:18] thinkingserious commented on #435
@adamreisnz,

My local tests are working, but I only have new templates on our account.

[2017-08-31 04:19] adamreisnz commented on #435
I will double check

[2017-08-31 04:21] adamreisnz commented on #435
Nope, I used a new template, freshly created, getting the same issue

[2017-08-31 04:23] #433 closed

[2017-08-31 04:23] adamreisnz commented on #427
Probably released as a new package under `@sendgrid/contact-importer` too

[2017-08-31 04:24] adamreisnz commented on #421
@umesh191994 if you can, please migrate to 6.0.0 which has a new API and should be easier to use and less error prone. Let me know if that solves your issue.

[2017-08-31 04:26] adamreisnz commented on #429
This is correct, the error is happening on a destructuring statement which is not supported in Node 4.

[2017-08-31 04:33] thinkingserious commented on #435
The following works for me (using version v6.1.1) following the example [here](https://github.com/sendgrid/sendgrid-nodejs/blob/master/packages/mail/USE_CASES.md#transactional_templates):

[code]

[2017-08-31 04:37] thinkingserious commented on #435
Ah, I think we have an old bug resurfacing, where the API is requiring a content block in all cases. So this works:

[code]

but not this:

[code]

[2017-08-31 05:17] kiranshashiny commented on #429
I upgraded to node 8.x and it works.

[2017-08-31 05:17] kiranshashiny commented on #429
Closing the issue as the fix was to upgrade.

[2017-08-31 05:17] #429 closed

[2017-08-31 14:28] cbilliau commented on #435
I had to add the content block to get the template to be sent. I was getting a _Bad Request (400) "Unless a valid template_id is provided, the content parameter is required. There must be at least one defined content block..."_ while using template created in the new html editor.
[code]

If I add the content block, the template email is sent as formatted in the html editor.

[code]

[2017-08-31 14:47] kavu commented on #390
@thinkingserious Count me in. We really need it too. Speaking about possible PR — where should we start, in current implementation, if we want integrate it seamlessly?
Thanks!

[2017-08-31 14:59] kavu commented on #390
Oh! It looks like now you are using `request` package, which means we finally have support of `HTTP_PROXY` & `HTTPS_PROXY` env. variables! Going to test it right now.

[2017-08-31 16:58] froquette commented on #432
Here is the log with package.json dependencies: "@sendgrid/mail": "^6.1.1"

 ERROR  Failed to compile with 6 errors17:57:10

These dependencies were not found:

* fs in ./node_modules/request/lib/har.js
* net in ./node_modules/forever-agent/index.js, ./node_modules/tough-cookie/lib/cookie.js and 1 other
* tls in ./node_modules/forever-agent/index.js, ./node_modules/tunnel-agent/index.js

To instal

[2017-08-31 16:59] thinkingserious commented on #390
Thanks @kavu! Please let us know what you discover.

[2017-08-31 17:28] thinkingserious commented on #432
Hi @froquette,

This seems related: https://github.com/request/request/issues/1529

[2017-08-31 19:50] thinkingserious opened #437 "Add nodemailer-sendgrid-transport to /packages"
#### Issue Summary

Please see issue https://github.com/sendgrid/nodemailer-sendgrid-transport/pull/28

We want to upgrade that repo and bring it into this monorepo, then deprecate the old package.

[2017-08-31 21:26] thinkingserious commented on #435
OK, I'm leaving this open as a bug.

My guess is that this SDK is adding an empty content object when it's not set. I think we need to skip [these functions](https://github.com/sendgrid/sendgrid-nodejs/blob/master/packages/helpers/classes/mail.js#L89) when html and txt is not set.

For now, the above workaround will do what you need.

[2017-08-31 21:47] adamreisnz commented on #435
@thinkingserious I think you're right. I read the API docs and thought the field was mandatory. It only has a well hidden comment (which is amazingly styled!) that I missed:

![image](https://user-images.githubusercontent.com/490562/29946715-7b1d991a-8efa-11e7-8f2a-0e3256744ca2.png)

I will create a PR to address this!

[2017-08-31 21:48] thinkingserious commented on #435
Hehe, thanks Adam!

[2017-08-31 21:49] adamreisnz commented on #435
PR is up, this should fix the issue and not send the content field with the request if there is no content provided.

[2017-08-31 21:54] onesien commented on #435
Thanks for the help peeps. I was literally losing my mind. I finally figured out a workaround late last night and was coming here to report more information, but it seems like you all are already on it :-)

[2017-08-31 21:55] #435 closed

[2017-08-31 21:58] thinkingserious commented on #435
Sorry about that @onesien,

The fix has just been pushed to npm (v6.1.2).

[2017-09-01 04:15] nikmartin opened #439 "Documentation Frustrations"
#### Issue Summary

https://github.com/sendgrid/sendgrid-nodejs/blob/master/packages/mail/USE_CASES.md#transactional_templates Seems to do a good job explaining how to use Transactional Templates, but none of the example actually work

#### Steps to Reproduce
Define a Transactional Template:
[code]
2. Setup a mail like:

[code]
3. I receive the email, but with:
"Hello -name-,"
not
"Hello nikmartin

[2017-09-01 04:27] nikmartin commented on #439
Update: I created a new version of the template using the HTML Code editor not the designer, using `=name=` in the tags, and in `.setSubstitutionWrappers('=', '=');` and
`substitutions: {   name: member.fname   }` And it worked. Setting them to '-' or '{{}}' and using a template from the designer doesn't work.

[2017-09-01 13:43] thinkingserious commented on #439
Hi @nikmartin,

My apologies, we had a typo in the [Transactional Template example](https://github.com/sendgrid/sendgrid-nodejs/blob/master/packages/mail/USE_CASES.md#transactional_templates), I have just fixed it. Generally, the substitution wrapper is whatever you decide.

With Best Regards,

Elmer

[2017-09-01 18:21] #439 closed

[2017-09-03 21:49] froquette commented on #432
Tried, but still having same issue.

On Thu, Aug 31, 2017 at 6:28 PM, Elmer Thomas <notifications@github.com>
wrote:

--
Cumprimentos,
Filipe Roquette

[2017-09-05 08:09] kamelsalah commented on #221
@thinkingserious What's the status of this feature ?
Can you please confirm if it has a due date or anything like that ?
We here at Atypon use SendGrid for millions of emails but we can't yet use the templates due to its limitations !!
Using vm templates functionalities within your templates would be a great solution to solve all you problems, as the guys mentioned above you don't have to reinvent

[2017-09-05 20:29] thinkingserious commented on #221
Hello @kamelsalah,

This feature is currently under development. If you would like to have a voice and learn more, please setup a time to meet with our Developer Experience Product Manager, Matt Bernier: https://calendly.com/matt-bernier/template-conditionals

Thanks!

With Best Regards,

Elmer

[2017-09-05 20:35] thinkingserious commented on #432
Hi @froquette,

Which solution(s) did you try and what was the error?

[2017-09-06 20:51] froquette commented on #432
Finally managed to get it working. Not exactly sure what wasthe problem before. Anyway where is the extract of the "nuxt.config.js" that works,
  build: {
    extend (config) {
      config.node = {
        console: true,
        fs: 'empty',
        net:'empty',
        tls:'empty',
      }
    },
   ...

[2017-09-07 14:54] sydneyhenrard opened #441 "Substitution is not working"
#### Issue Summary

I migrated from `sendgrid 2.0.0` to `@sendgrid/mail 6.1.2`, the substitutions are not working anymore

#### Steps to Reproduce

[code]

#### Technical details:

* sendgrid-nodejs Version: master (latest commit: [commit number])
* Node.js Version: 8.4.0

[2017-09-07 16:10] thinkingserious commented on #441
Hello @sydneyhenrard,

[Here](https://github.com/sendgrid/sendgrid-nodejs/blob/master/packages/mail/USE_CASES.md#transactional_templates) is a complete example.

It appears that you need to set the `substitutionWrappers`. In your case that would be `%`. Then in the `substitutions` object, you would leave the `%` characters out.

With Best Regards,

Elmer

[2017-09-07 16:17] thinkingserious commented on #432
Thanks for taking the time to share the solution! In gratitude, could you please fill out [this form](https://dx.sendgrid.com/swag) so that we may send you some swag?

[2017-09-07 16:36] sydneyhenrard commented on #441
Is there a convention on variable?

[code]

The received email:

[code]

[2017-09-08 10:54] jloproductions commented on #432
@froquette
I try to achieve the same thing and your answer fixed my previous errors but somehow I'm not able to get yarn run build to execute. I get the following error:

`ERROR in pages/contact.92ae317ce1e8cd6ecca8.js from UglifyJs
Unexpected token: punc (,) [./node_modules/@sendgrid/helpers/index.js:12,18][pages/contact.92ae317ce1e8cd6ecca8.js:2002,25]`

Did you have same error and if so how did

[2017-09-08 15:05] froquette commented on #432
I'm using npm (not yarn) and not having such error.

On Fri, Sep 8, 2017 at 11:54 AM, Eljas <notifications@github.com> wrote:

--
Cumprimentos,
Filipe Roquette

[2017-09-08 19:34] thinkingserious commented on #432
Hi @jloproductions,

Looks like you might be running into [this issue](https://stackoverflow.com/a/43674989). Could you please take a look and let us know? Thanks!

With Best Regards,

Elmer

[2017-09-08 19:51] thinkingserious commented on #441
Hello @sydneyhenrard,

I was able to reproduce this issue. I have added this to our backlog for a fix.

With Best Regards,

Elmer

[2017-09-09 13:55] jloproductions commented on #432
Hey @thinkingserious
Can't get it working. Could you provide some examples?

@froquette
Do you use some Nuxt.js's starter template with your project?

[2017-09-10 01:49] temitope commented on #387
I have this same issue. did you find a solution @pashaseliverstov @thinkingserious ?

[2017-09-10 11:53] jloproductions commented on #432
I was finally able to run my build. I changed my UglifyJsPlugin to BabiliPlugin (`yarn add babili-webpack-plugin`).
Here is my nuxt.config.js:

[code]

But now I have some CORS error with the SendGrid API
`Fetch API cannot load https://api.sendgrid.com/v3/mail/send. Response to preflight request doesn't pass access control check: The 'Access-Control-Allow-Origin' header has a value 'https://sendgr

[2017-09-11 02:39] adamreisnz commented on #441
@thinkingserious is this on your end or an issue with the Node SDK?

[2017-09-11 03:12] thinkingserious commented on #441
It's an issue with the SDK. I'm not quite sure exactly what the issue is though. I plan to examine the payload to help troubleshoot.

[2017-09-11 05:14] sydneyhenrard commented on #441
If I use camelCase variable, I have no problem with the substitutions even for substitution 0

[2017-09-11 13:25] froquette commented on #432
Hi @eljass,
I did found your issue with the UglifyJs as soon moved to production. For now I've just removed the UglifyJs plugin, but with some more time will try out your solution. Thank you!

Regarding the CORS issue. I'm also trying to remove this issue. Already tried to set headers in the send message to sendgrid but without success. Here the headers I've used,
headers: {
    'Content-Type': 'a

[2017-09-11 21:12] thinkingserious commented on #432
Hello @froquette @eljass,

Thank you for continuing to share your progress. With regards to CORS, [please see this documentation](https://sendgrid.com/docs/Classroom/Basics/API/cors.html).

With Best Regards,

Elmer

[2017-09-11 21:17] thinkingserious commented on #441
Thanks @sydneyhenrard,

That should help get to the root cause quicker :)

[2017-09-11 21:22] thinkingserious commented on #387
@temitope,

What version of the library are you using?

With Best Regards,

Elmer

[2017-09-11 21:27] temitope commented on #387
Thanks @thinkingserious i am using this endpoint `/v3/mail/send` so I am assuming it is v3. Oddly it MAY be working if I change the destination email to a different value I think. super weird. still investigating. thanks

[2017-09-11 21:29] thinkingserious commented on #387
Hi @temitope,

I am referring to the [SDK version](https://github.com/sendgrid/sendgrid-nodejs/releases). Thanks!

And yes, we do not allow duplicate emails.

With Best Regards,

Elmer

[2017-09-11 21:31] temitope commented on #387
Thank you so much for the timely response. It was version `5.1.0` and yes that duplicate address is the issue. I wish there was a specific error message/code reflecting that duplication issue, or simply a reduction/removal of one of the addresses, but I'm glad to finally know.  @thinkingserious

[2017-09-11 22:25] adamreisnz commented on #441
I think I may know what the problem is, let me investigate.

[2017-09-11 22:58] adamreisnz commented on #441
#442 should fix this 👍

[2017-09-12 04:30] thinkingserious commented on #441
Merged as v6.1.3, thanks @adamreisnz!

[2017-09-12 04:32] thinkingserious commented on #441
@sydneyhenrard,

For helping us solve this issue, we would like to [send you some swag](https://dx.sendgrid.com/swag) as a token of our gratitude.

Thanks for supporting SendGrid!

With Best Regards,

Elmer

[2017-09-12 05:51] eljass commented on #432
@thinkingserious
Didn't find anything new on that documentation. Couldn't get it working with sendgrid the basic nodejs example. Is there some additional steps other than setting environment variable for API key?

[2017-09-12 16:11] froquette commented on #432
@thinkingserious ,
Didn't find much either in the documentation.
What I find weird is that having my sendgrid client code inside a store/action, should be only server side code using the sendgrid API and therefore cannot understand the CORS issue.
My app is hosted in Heroku and perhaps you know of some examples I could use to test in Heroku. It would definitely help since I'm stucked with this iss

[2017-09-12 18:30] mbernier commented on #221
@kamelsalah Thanks you for the feedback! Check out https://dx.sendgrid.com/swag :)

[2017-09-12 20:43] thinkingserious commented on #432
@eljass @froquette,

Thank you for the follow up!

In order to assist further I will need to learn more about your setup so that I can try to duplicate. Could you please walk me through how to duplicate your setup? A simple hello world would suffice.

My theory was that you were trying to utilize SendGrid via the frontend/client side vs. server side. In that case, the CORS issue is the culprit. I

[2017-09-12 20:48] thinkingserious commented on #387
Thanks @temitope!

I believe you will find the [error handling](https://github.com/sendgrid/sendgrid-nodejs/blob/master/packages/mail/USE_CASES.md#successfailureerrors) to be superior in v6.X of this library.

With Best Regards,

Elmer

[2017-09-12 20:48] #387 closed

[2017-09-12 22:46] temitope commented on #387
@thinkingserious wow, things got so much better and simpler in 6.X i see. thank you guys!

[2017-09-12 22:59] thinkingserious commented on #387
@temitope,

@adamreisnz deserves the lion's share of the thanks :)

[2017-09-12 23:35] temitope commented on #387
indeed! thank you @adamreisnz  you made my email-sending life a lot easier as a dev.

[2017-09-12 23:57] adamreisnz commented on #387
@temitope no problem! It made my own life easier as well, so it's a win-win ;)

[2017-09-13 17:18] walshe opened #443 "old sendgrid examples ?"
wheres all the old node examples that use the old version of the lib ?  e.g.

[code]

etc etc ?

[2017-09-13 17:21] thinkingserious commented on #443
Hi @walshe,

[Here](https://github.com/sendgrid/sendgrid-nodejs/tree/c29a5c4928c5875c1adfa7146efcc5149eae3d32) was the last release before v6.X.

With Best Regards,

Elmer

[2017-09-13 17:21] #443 closed

[2017-09-14 22:12] froquette commented on #432
@thinkingserious,
Thank you for the support!
I'm trying a new path to make sure there is strick separation from client and server code. Will report here as soon having results.
Best, Filipe

[2017-09-15 14:28] mbernier commented on #221
Thank you @capecoder, thank you for the call this morning! Please check out  https://dx.sendgrid.com/swag for a SendGrid t-shirt :)

[2017-09-16 18:09] alexsanderkhitev opened #444 "How to send template in "@sendgrid/mail": "^6.1.3”?"
Hi! How can I use a template and replace it with substitutions and then send it? Thank you so much! I use @sendgrid/mail" "^6.1.3 ?

[code]

[2017-09-16 18:52] thinkingserious commented on #444
Hi @alexsanderkhitev,

Here is a [full example](https://github.com/sendgrid/sendgrid-nodejs/blob/master/packages/mail/USE_CASES.md#transactional_templates). I hope that helps!

With Best Regards,

Elmer

[2017-09-18 00:01] georgeportillo commented on #444
Is there any reason why my template email isn't sending?

[2017-09-18 05:19] alexsanderkhitev commented on #444
Hi @thinkingserious,

Thank you! It helped me!

With Best Regards,

Alexander

[2017-09-18 05:19] #444 closed

[2017-09-18 20:17] thinkingserious commented on #444
Hi @georgeportillo,

Could you please provide some example code for "grabbing the templateId from the url"? I'm not quite sure what you mean. In the end, the value of that variable should be the Template ID, similar to "13b8f94f-bcae-4ec6-b752-70d6cb59f932".

With Best Regards,

Elmer

[2017-09-21 02:13] astromme commented on #423
The example links are dead, can you update them? I'm struggling with the same thing.

[2017-09-21 05:48] thinkingserious commented on #423
HI @astromme,

If you are using the latest version of the SDK, any of the following should work:

```Name <test@example.org>```
```{name: 'Name', email: 'test@example.org'}```

With Best Regards,

Elmer

[2017-09-21 16:03] mbernier commented on #423
Hey just a heads up - the from object is outside of personalizations, not inside due to deliverability issues of sending from domains that don't match your whitelabeled domain or DKIM/SPF settings.

The original block above would be more like this in v3/mail/send:

`sg.emptyRequest({
    method: 'POST',
    path: '/v3/mail/send',
    body: {
      personalizations: [
        {
          to: emailT

[2017-09-27 11:03] veereshthotygar opened #447 "Issue on calling multiple times sendgrid api"
#### Issue Summary

Below is the code snippet in nodeJS,
      `CODE

       sendEmail: function (to,subject,body,callback) {
        var email = new helper.Email(sendingEmail);
        mail.setFrom(email);
        mail.setSubject(subject);
        var personalization = new helper.Personalization();
        email = new helper.Email(to);
        personalization.addTo(email);
        mail.addPersona

[2017-09-27 18:51] thinkingserious commented on #447
Hello @veereshthotygar,

I suggest you upgrade to the latest version of this SDK, which is a big improvement over v4. Please check it out [here](https://github.com/sendgrid/sendgrid-nodejs/tree/master/packages/mail).

That said, you should be able to capture the 400 error [like so](https://github.com/sendgrid/sendgrid-nodejs/blob/c29a5c4928c5875c1adfa7146efcc5149eae3d32/TROUBLESHOOTING.md#error).

[2017-09-28 07:16] veereshthotygar commented on #447
Hi @thinkingserious ,

As suggested I tried with latest version SDK, but I encountered the below error in @sendgrid/mail.

[code]

[2017-09-28 08:42] itaditya commented on #305
I would like to work this, can you guide me on the right path, I have already forked and cloned the repo.

[2017-09-28 15:27] techpool commented on #302
Hey I would like to take a lead on this, can someone just give me a basic guideline and understanding about this issue in brief? That would be great then.

[2017-09-28 20:14] mbernier commented on #221
Hey, everyone!

We're close!! As a last step, we want to ask you questions about the specific steps you will take to move from a current "transactional template" to include support for handlebars.

If you are available and are currently using our transactional templates, could we please chat about migrating templates? If so, please grab a time on the following calendly link from our designer, Trav

[2017-09-28 22:37] thinkingserious commented on #302
My apologies @techpool,

This one has been completed: https://github.com/sendgrid/sendgrid-nodejs/tree/master/packages/inbound-mail-parser

Over the next few days I'm going to be cleaning up the issues and tagging them appropriately for Hacktoberfest. I'm looking forward to working with you!

[2017-09-28 22:37] #302 closed

[2017-09-29 05:00] veereshthotygar commented on #447
Hey @thinkingserious , got resolved the above issue,I just updated my Node JS to 6.1.3.

Thank you for the support.

[2017-09-29 05:00] #447 closed

[2017-09-29 06:44] kjanoudi commented on #221
@mbernier just wondering, is this solution being worked on at the API level or at the nodejs package level?

[2017-09-29 06:55] adamreisnz commented on #221
@kjanoudi at the API level from what I understand, so not just for Node.

[2017-09-29 14:02] ben-grid commented on #221
Just to confirm, @adamreisnz is correct. It will be available via SendGrid Templates, for all languages. (I am the other SendGrid PM working on this w/ @mbernier )

[2017-09-29 23:42] rafalohn opened #448 "If 'to' parameter has name and email, and the name has comma, it breaks the email address."
#### Issue Summary

Using  @sendgrid/mail 6.1.4, when sending emails with the to parameter with both name and email:

[code]

Works fine. But if the 'name' has commas as:

[code]

It does not work. In that scenario sendgrid dashboard drops the email considering 'friend' as the invalid email instead of 'friendwifeanddog@example.org'.

[2017-09-30 22:03] thinkingserious commented on #448
Hello @rafalohn,

This is an API level issue as described [here](https://github.com/sendgrid/sendgrid-php/issues/368). There is also a work around described at that issue.

I’ve passed along your feedback to the product team to help build priority.

With Best Regards,

Elmer

[2017-09-30 22:32] thinkingserious commented on #305
Hi @itaditya,

Thank you!

The package is located [here](https://github.com/sendgrid/sendgrid-nodejs/tree/master/packages/inbound-mail-parser) and the goal is to create a [Heroku 1-click install button](https://devcenter.heroku.com/articles/heroku-button) to have it deploy to Heroku.

I hope that helps!

With Best Regards,

Elmer

[2017-10-01 04:33] #290 closed

[2017-10-01 04:36] #303 closed

[2017-10-01 04:36] #304 closed

[2017-10-01 04:44] #392 closed

[2017-10-01 04:45] #396 closed

[2017-10-01 04:46] #403 closed

[2017-10-01 04:46] #412 closed

[2017-10-01 04:46] #416 closed

[2017-10-01 04:46] #421 closed

[2017-10-01 04:47] #422 closed

[2017-10-01 04:47] #432 closed

[2017-10-01 04:48] #441 closed

[2017-10-02 03:54] Divya063 commented on #359
@thinkingserious Can I take this up?

[2017-10-02 04:13] Divya063 commented on #359
@thinkingserious Can you point me to the source where this bug is present?

[2017-10-02 19:13] thinkingserious commented on #359
Thanks @Divya063!

[Here](https://github.com/sendgrid/sendgrid-nodejs/blob/master/packages/client/USAGE.md#retrieve-all-recipients-on-a-list) you go.

With Best Regards,

Elmer

[2017-10-03 13:50] Divya063 commented on #359
@thinkingserious thanks : )

[2017-10-04 00:38] polkhovsky opened #450 "SyntaxError: Unexpected token {"
#### Issue Summary

Using the latest version of Meteor 1.5.2.2. After adding @sendgrid/mail to the project, the application crashes. This is the code that produces the error:

[code]
Logs:

W20171003-20:28:45.340(-4)? (STDERR) packages/modules.js:18016
W20171003-20:28:45.342(-4)? (STDERR) const {
W20171003-20:28:45.342(-4)? (STDERR)       ^
W20171003-20:28:45.345(-4)? (STDERR)
W20171003-20:28:45.3

[2017-10-04 00:46] #450 closed

[2017-10-04 01:30] thinkingserious commented on #450
Hi @polkhovsky,

Was your issue resolved?

With Best Regards,

Elmer

[2017-10-04 01:44] polkhovsky commented on #450
I found a similar issue in your list. The problem is Meteor 1.5 is using Node 4. I had to upgrade to 1.6 RC to make this work. Thank you!

[2017-10-04 01:45] thinkingserious commented on #450
Thanks for following up!

[2017-10-04 15:40] thinkingserious opened #452 "Dockerize"
We want to make it easier to test and/or contribute to this repo utilizing Docker. This has been completed in [Python](https://github.com/sendgrid/sendgrid-python/tree/master/docker), please use that example as a reference.

Key features:
* Setup the environment as specified in the CONTRIBUTING.md file
* Prism should be running on launch
* The README and USAGE file should help the user get up and

[2017-10-04 15:42] jaydp17 commented on #452
🖐 I'll give it a shot

[2017-10-04 15:43] thinkingserious commented on #452
Thank you @jaydp17! It's all yours :)

[2017-10-04 15:59] thinkingserious opened #453 "Auto Generate Plain Text Content from HTML"
We require both HTML and Plain Text content for improved deliverability. In some cases, only HTML may be available. We need a function that automatically converts a given HTML string to the Plain Text equivalent.

[2017-10-04 17:10] uniOpifex commented on #453
Clarify what you mean. The HTML file is already in plain text. Do you want a function that removes all the html <tags>

[2017-10-04 17:52] uniOpifex commented on #453
gave it a shot

[2017-10-04 17:59] raindogg commented on #453
I also submitted [one](https://github.com/sendgrid/sendgrid-nodejs/pull/455), I had closed this window when I began working on it. Sorry for the duplication!

[2017-10-04 19:11] emmya opened #456 "Package is not properly compiled (Unexpected token: keyword (const))"
#### Issue Summary

For loop in the convertKeys method causes an Uglify build error.

#### Steps to Reproduce

When attempting to build my app for production, I run into this error:
![image](https://user-images.githubusercontent.com/8542439/31194198-3d631062-a8fb-11e7-979c-832c9191e78b.png)

Locating the error in the build file (line 14811):
![image](https://user-images.githubusercontent.com/85424

[2017-10-04 19:26] emmya commented on #456
Upon further investigation, it looks like the entire package isn't compiled properly.
I am using Webpack 3.5.1.

[2017-10-05 06:25] jaydp17 commented on #452
@thinkingserious  https://github.com/sendgrid/sendgrid-nodejs/pull/461

[2017-10-05 14:36] thinkingserious opened #462 "Create a tutorial to deploy a simple Hello Email app on AWS with Node.js using this SDK"
Create a tutorial that explains how to create a simple Hello Email app and [deploy to AWS](https://aws.amazon.com/blogs/devops/automatically-deploy-from-github-using-aws-codedeploy/).

The example should utilize best practices for storing credentials. By the end of the tutorial, the user should be able to send an email using their deployed app.

Please add the tutorial to USE_CASES.md.

[2017-10-05 14:40] thinkingserious opened #463 "Create a tutorial to deploy a simple Hello Email app on Heroku with Node.js using this SDK"
Create a tutorial that explains how to create a simple Hello Email app and [deploy to Heroku](https://devcenter.heroku.com/articles/heroku-button).

The example should utilize best practices for storing credentials. By the end of the tutorial, the user should be able to send an email using their deployed app.

Please add the tutorial to USE_CASES.md.

[2017-10-05 14:46] thinkingserious opened #464 "Create a tutorial to deploy a simple Hello Email app on Digital Ocean with Node.js using this SDK"
Create a tutorial that explains how to create a simple Hello Email app and [deploy to Digital Ocean](https://www.digitalocean.com/community/tutorials/how-to-set-up-automatic-deployment-with-git-with-a-vps).

The example should utilize best practices for storing credentials. By the end of the tutorial, the user should be able to send an email using their deployed app.

Please add the tutorial to US

[2017-10-05 14:51] thinkingserious opened #465 "Create a tutorial to deploy a simple Hello Email app on IBM Blue Mix with Node.js using this SDK"
Create a tutorial that explains how to create a simple Hello Email app and [deploy to IBM Blue Mix](https://www.ibm.com/blogs/bluemix/2016/01/deploy-to-bluemix-button-example/).

The example should utilize best practices for storing credentials. By the end of the tutorial, the user should be able to send an email using their deployed app.

Please add the tutorial to USE_CASES.md.

[2017-10-05 14:54] thinkingserious opened #466 "Create a tutorial to deploy a simple Hello Email app on Google App Engine with Node.js using this SDK"
Create a tutorial that explains how to create a simple Hello Email app and [deploy to Google App Engine](https://cloud.google.com/).

The example should utilize best practices for storing credentials. By the end of the tutorial, the user should be able to send an email using their deployed app.

Please add the tutorial to USE_CASES.md.

[2017-10-05 14:55] thinkingserious opened #467 "Create a tutorial to deploy a simple Hello Email app on Microsoft Azure with Node.js using this SDK"
Create a tutorial that explains how to create a simple Hello Email app and [deploy to Microsoft Azure](https://docs.microsoft.com/en-us/azure/app-service/app-service-deploy-local-git).

The example should utilize best practices for storing credentials. By the end of the tutorial, the user should be able to send an email using their deployed app.

Please add the tutorial to USE_CASES.md.

[2017-10-06 00:00] sw-yx commented on #463
claiming

[2017-10-06 00:01] sw-yx commented on #463
you have a lot of tutorial requests - what is one already-developed and approved tutorial that we can work with to ensure your standards?

[2017-10-06 00:05] mbernier commented on #463
We wanted to give people lots of options for hacktoberfest :)

One tutorial that is solid is the "getting started" tutorial on this library. that's a good guide for the type of thing we're looking for - something easy to follow.

[2017-10-06 00:17] sw-yx commented on #463
i asked for help in person and got help! working on this :)

[2017-10-06 13:54] thinkingserious opened #470 "Create a tutorial to create a Slack event integration with Node.js using this SDK"
Create a tutorial that explains how to create a simple [integration with Slack](https://api.slack.com/events-api) that allows an email to be triggered based on some [defined event](https://api.slack.com/events).

The example should utilize best practices for storing credentials.

Please add the tutorial to USE_CASES.md.

[2017-10-06 17:31] OwlLaboratory commented on #221
Hi,
I have just discovered your service and i'm very interested but i want to know if you have a release date for this feature ?
Thanks ;)

[2017-10-07 10:23] WiNloSt commented on #470
I'd like to work on this issue.

Can i just assumed users will already have a node server set up. So i can focus on how to deal with Slack payload.

[2017-10-07 17:26] SarasArya commented on #467
I would like to give this one a shot. ✋🏻

[2017-10-07 18:32] geekguy commented on #462
@thinkingserious - should the code be in a separate repo?

[2017-10-09 04:40] QuynhNguyen commented on #390
@thinkingserious isn't this already supported out of the box with `request` package?

[code]

[2017-10-09 18:56] mbernier commented on #456
Thank you for adding this issue!

[2017-10-09 19:22] thinkingserious commented on #456
Hi @emmya,

Could you please send us (dx@sendgrid.com) your `webpack.config.js`? I believe there is a dependency conflict somewhere. One solution I've seen is to replace `uglify-js` with `uglify-es`.

With Best Regards,

Elmer

[2017-10-09 19:38] devchas commented on #464
I can give this a shot

[2017-10-09 20:34] kavu commented on #390
@thinkingserious Totally missed to answer you. I double (triple) checked it and it works perfectly now, thanks for your transition to `request`.

[2017-10-09 20:50] #390 closed

[2017-10-09 20:51] thinkingserious commented on #390
Thanks for the follow up @kavu!

[2017-10-10 18:58] thinkingserious opened #473 "Subscription Widget Helper"
Create a helper that will show how to add a working subscription widget to their site from code in the library.

Features:

- A function that returns an embeddable HTML form that takes email address and name
- The form should submit to a customizable URL path
- The code at the URL path should accept the data and post it to the contactdb using the (POST Add Recipients endpoint)[https://sendgrid.com

[2017-10-10 20:44] THook opened #474 "Copy-pasting Sendgrid 'add recipients' example results in the error 'sg.API is not a function'"
#### Issue Summary

Bug using Graphcool's SSR and es6 code example

#### Steps to Reproduce

1. create a SSR on user creattion
2. Copy-paste your code model on relevant ssr
3. Receive request timeout from logs

[2017-10-10 22:19] thinkingserious opened #475 "Make SendGrid permissions management easy"
Create a class for managing permission scopes that has the following features:

- Allow you to add create, delete, read, update permissions for each of the groups defined [here](https://sendgrid.com/docs/API_Reference/Web_API_v3/API_Keys/api_key_permissions_list.html)  -- these can be hard coded in
- Allow for creating an array of all the scopes possible, as a "create admin permissions" method
- A

[2017-10-11 01:27] ShaharHD opened #476 "Cannot import package with TypeScript 2.5.x and 2.6.x"
Trying to import the package in a Typescript file:
```import * as SendGrid from '@sendgrid/mail';```

gives the following error on tsc build:
[code]

Any known resolution for this issue except using the following workaround?
`import SendGrid = require('@sendgrid/mail'); // tslint:disable-line`

[2017-10-11 01:37] emmya commented on #456
@thinkingserious As a rule, my config ignores the node_modules folder when transpiling from es6 with babel - I feel like the standard is for modules to already be transpiled.

[2017-10-11 02:22] emmya commented on #456
Installing the latest Uglifyjs webpack plugin worked :)

[2017-10-11 21:55] SarasArya commented on #467
Any update @thinkingserious ?

[2017-10-11 21:56] thinkingserious commented on #467
@SarasArya,

Please add it here: https://github.com/sendgrid/sendgrid-nodejs/blob/master/packages/mail/USE_CASES.md

Thank you!

With Best Regards,

Elmer

[2017-10-11 22:01] SarasArya commented on #467
Hi Elmer

Should the tutorial reiterate the steps mentioned in the doc? Or just skip to the end, where I assume the app is already deployed and running on Azure? and going to a particular endpoint actually sends an email.
I don't see a point in reiterating the same steps.

[2017-10-11 22:03] thinkingserious commented on #467
It should be sufficient to reference the Azure docs for the steps specified there.

[2017-10-12 00:20] iifeoluwa commented on #437
Hi @thinkingserious
Can you shed a little more light on what you hope to achieve? My understanding of this is we need to move the [sendgrid-transport](https://github.com/sendgrid/nodemailer-sendgrid-transport) module here (/packages). Is it just that?
Thanks!

[2017-10-12 00:35] thinkingserious commented on #437
Hi @iifeoluwa,

We need to do what you describe and update the dependency to match the current version of this SDK.

Thanks!

With Best Regards,

Elmer

[2017-10-12 01:01] iifeoluwa commented on #437
Alright, great! @thinkingserious

One more thing though. I was thinking you'd want to merge [this PR](https://github.com/sendgrid/nodemailer-sendgrid-transport/pull/28) first before we move the package over.

Moving the package here and recreating the PR might be problematic. What do you think?

Regards.

[2017-10-12 01:03] thinkingserious commented on #437
Hi @iifeoluwa,

That is a great PR, but it's not using the [latest version of this SDK](https://github.com/sendgrid/sendgrid-nodejs/tree/master/packages/mail).

[2017-10-12 01:08] thinkingserious commented on #456
Thanks for the follow up @emmya!

[2017-10-12 01:08] #456 closed

[2017-10-12 01:09] iifeoluwa commented on #437
Alright then, I'll get on with it.

Thanks @thinkingserious

[2017-10-12 01:15] thinkingserious commented on #476
@SPARTAN563,

Any ideas on this one? Thanks!

[2017-10-12 05:44] duncanleung commented on #476
Hi @thinkingserious,

It looks like this SO post addresses this issue:
https://stackoverflow.com/questions/39415661/what-does-resolves-to-a-non-module-entity-and-cannot-be-imported-using-this

From what I understand...

In `packages/mail/src/mail.d.ts` (https://github.com/sendgrid/sendgrid-nodejs/blob/master/packages/mail/src/mail.d.ts), it looks like the export is using CommonJS export, and not E

[2017-10-12 10:39] mamartins commented on #221
Hello,

What is the current status of this feature? We were thinking on implementing our email service on top of sendgrid but this is a must have feature.

[2017-10-12 15:27] Divya063 commented on #359
@thinkingserious please review

[2017-10-12 15:43] ben-grid commented on #221
Hey folks,

I can't offer you a release date for this feature set yet, but I will say we are in the early stages of building a solution. I'll definitely update this thread as soon as we have a firm commitment on a release date and if anyone is interested in beta testing late this year and early next year we'd really appreciate your feedback as we iterate to a releasable solution.

If you are inter

[2017-10-12 20:43] thinkingserious opened #480 "Save inbound email attachments to S3"
When emails come to inbound parse, sometimes they have attachments
It would be nice to be able to send the files to an S3 bucket when they are received

[2017-10-12 21:00] thinkingserious commented on #476
Thanks @duncanleung!

@ShaharHD,

Does that answer solve your issue?

[2017-10-12 21:28] thinkingserious opened #481 "Save inbound email attachments to Box"
When emails come to inbound parse, sometimes they have attachments
It would be nice to be able to send the files to a Box account when they are received

[2017-10-12 22:11] thinkingserious commented on #474
Hello @THook,

Could you please provide the steps you took to install the SendGrid library?

Thanks!

With Best Regards,

Elmer

[2017-10-12 23:29] machinshin opened #482 "Example on using inbound-mail-parser to parse incoming emails"
#### Issue Summary

A summary of the issue and the environment in which it occurs. If suitable, include the steps required to reproduce the bug. Please feel free to include screenshots, screencasts, code examples.

I am unable to figure out how to use the @sendgrid/inbound-mail-parser package to parse inbound emails. need some example code

#### Steps to Reproduce

Setup a parse route in sendgrid

[2017-10-12 23:32] thinkingserious commented on #482
Hello @machinshin,

Thanks for taking the time to report this. I have added this to our backlog for further investigation.

[2017-10-13 02:00] thinkingserious opened #483 "Save inbound email attachments to Dropbox"
When emails come to inbound parse, sometimes they have attachments
It would be nice to be able to send the files to a Box account when they are received

[2017-10-13 17:39] THook commented on #474
Hello @thinkingserious , I submitted a PR some days ago about this issue. See here : https://github.com/graphcool/templates/pull/88/commits/d58d6a7cc9461246a8f13fc9951e80335268e3cd

[2017-10-13 19:43] thinkingserious opened #484 "Add How to Setup a Domain Whitelabel and How to View Email Statistics to USE_CASES.md"
Please see [this](https://github.com/sendgrid/sendgrid-csharp/blob/master/USE_CASES.md#how-to-setup-a-domain-whitelabel) for an example.

[2017-10-14 00:02] thinkingserious commented on #474
Hi @THook,

I have added this to our backlog for further investigation.

A quick look reveals that you might want to update to the [latest version of our SDK](https://github.com/sendgrid/sendgrid-nodejs/tree/master/packages/mail), it has been greatly improved.

With Best Regards,

Elmer

[2017-10-14 08:37] THook commented on #474
Aaaaw, I just realised I didn't submit the issue on the appropriate repository. My first comment was related to a Graphcool template using Sendgrid's API... Sorry for the inconvenience

[2017-10-14 08:37] #474 closed

[2017-10-14 20:21] guidiego commented on #480
Hey @thinkingserious I create both methods inside Attachment file (to save on Dropbox and S3). My question is how we can recognize if user want it? And where we will add the credentials for it? Any idea? :)

[2017-10-15 01:46] iifeoluwa commented on #437
Hello @thinkingserious,

I'm sorry, I won't be able to take this on at the moment. I might get back to it when I have enough time to go through how nodemailer's transport plugin and the mail package API works.

I don't know enough about it right now and wouldn't want to make a mess of things. I apologize for any inconvenience caused.

Regards.

[2017-10-15 08:06] nitish24p opened #487 "Check type of callback before executing"
With reference to https://github.com/sendgrid/sendgrid-nodejs/blob/master/packages/mail/src/mail.js#L105

This may not be a real issue, but i was wondering if a check can be made to ensure that the type of callback is a function and only then execute it, due to the dynamic nature of JS if an object is passed, it break the entire client. Just a suggestion to add

[code]

Comments welcome here.

[2017-10-15 13:41] SarasArya commented on #467
@thinkingserious  #490 done

[2017-10-15 18:15] SarasArya opened #492 "Adding an example section"
A library which is about developer experience has no word "example" in the README. Fixed it.

[2017-10-15 18:16] SarasArya commented on #492
Hey added a PR for the same #491

[2017-10-16 00:29] ShaharHD commented on #476
Not really ... as my original post actually gave the workaround which was
`import SendGrid = require('@sendgrid/mail'); // tslint:disable-line`

I was asking to see if there's a cleaner way of doing it as in TS the standard is to have tslint to not allow `require` (hence the `// tslint:disable-line`)

Maybe this should be included in the README.md of the repo as the workaround for using sendgrid w

[2017-10-16 01:01] duncanleung commented on #476
@thinkingserious Referencing the same SO article:

https://stackoverflow.com/questions/39415661/what-does-resolves-to-a-non-module-entity-and-cannot-be-imported-using-this

The long-term fix and action item here, is to rewrite any CommonJS `export =` to use the ES6 `export default` in the sendgrid-nodejs lib

If you agree / approve this solution, I'd like to take a stab at the fix.

Thanks!

[2017-10-16 07:48] nitish24p commented on #487
@thinkingserious  your views here.. :)

[2017-10-16 13:53] thinkingserious opened #493 "Attach files to email from S3"
This should be added to the Mail helper method, where the file that is attached can be sitting on an S3 bucket.

In most circumstances, for Spam detection reasons, it would be better to link to the file- however, there are legitimate use cases for attaching a file. Example: Receipt PDFs

[2017-10-16 13:54] thinkingserious opened #494 "Attach files to email from Box.com"
This should be added to the Mail helper method, where the file that is attached can be sitting in Box.com storage.

In most circumstances, for Spam detection reasons, it would be better to link to the file- however, there are legitimate use cases for attaching a file. Example: Receipt PDFs

[2017-10-16 13:55] thinkingserious opened #495 "Attach files to email from Dropbox"
This should be added to the Mail helper method, where the file that is attached can be sitting in Dropbox.

In most circumstances, for Spam detection reasons, it would be better to link to the file- however, there are legitimate use cases for attaching a file. Example: Receipt PDFs

[2017-10-16 14:03] thinkingserious opened #496 "Prevent secrets from sending in email"
Add a method that will check the content of the email before sending, to make sure that specific strings or patterns are not included.

For example, SG API keys look like this: SG.[a-zA-Z0-9_].[a-zA-Z0-9\-].

So the function could take a list of regex or specific strings to compare against. If a string is found, the mail/send should throw an exception

[2017-10-16 14:07] thinkingserious opened #497 "Create and schedule a marketing campaign"
With the [SendGrid Marketing Campaigns feature](https://sendgrid.com/docs/API_Reference/api_v3.html#campaigns) you can create a campaign, edit it, then schedule it for the future or for 'now'.

Create a helper that uses the API to build the campaign.

Then add the ability to build + schedule, build + send now, or only build the campaign
Please also add the ability to notify a specific email addres

[2017-10-16 14:42] thinkingserious opened #498 "Scheduling 1000-1,000,000 emails in batches"
When someone wants to send thousands or millions of the same email, they will create a call to our mail/send endpoint and break the list of emails and thr substitutions into batches of 1000 emails per request to the SendGrid API. This is great, except that there are a couple caveats:
1. [Mail Send Limitations](https://sendgrid.com/docs/API_Reference/api_v3.html) - see the field level limits here
2

[2017-10-16 14:47] thinkingserious opened #499 "Get all the stats for a date range"
We have various types of stats global stats, category stats, and subuser stats.
For some users, being able to pull these stats and send them somewhere is ideal.
Please create a nice helper for pulling stats from each of these locations so that the data can be sent to a database.

[2017-10-16 14:51] thinkingserious opened #500 "Get unassigned IPs"
SendGrid returns a list of all IP addresses on your account. It also returns a list of assigned IP addresses.

What it doesn't do is return a list of unassigned IPs.
Please create a method that will get the IPs available and return any that do not have a subuser assigned to them.

See [GET /ips](https://sendgrid.com/docs/API_Reference/api_v3.html#ip-addresses) for more information.

[2017-10-16 15:00] thinkingserious opened #501 "Create whitelabel DNS entries via the API"
The SendGrid API allows you to do almost everything that the UI can do, including building your whitelabels (authenticated domains) into your accoount. This requires a domain you can create subdomains on and some creativity to decide what to call the subdomains.

We have 3 kinds of whitelabeling: domain, link, and ip.

Link whitelabeling allows all  the links in your emails to be rewritten to look

[2017-10-16 16:46] techpool commented on #493
Hey, I would like to take up this issue. Can you please guide me about where to start looking?

[2017-10-16 17:44] thinkingserious commented on #493
Hi @techpool!

Thanks for offering to help out, we greatly appreciate it!

I believe this helper could be implemented as it's own package [here](https://github.com/sendgrid/sendgrid-nodejs/tree/master/packages). Perhaps with the name `attachments`. That way we could put all helper code for additional attachment functionality there (for example, base64 auto-encoding), especially if it requires addi

[2017-10-16 19:47] thinkingserious commented on #487
Hi @nitish24p,

That seems like a good idea to me.

What do you think @adamreisnz?

With Best Regards,

Elmer

[2017-10-16 19:54] #484 closed

[2017-10-16 20:05] nitish24p commented on #487
@thinkingserious If @adamreisnz also feels its a good idea i can make a PR. Do let me know :)

[2017-10-16 20:12] adamreisnz commented on #487
@thinkingserious @nitish24p You are not expected to pass in any other type of variables for the callback, and if you do, it will throw an error so that you know something is wrong. If we add in the check, this would now silently fail and you might not know what is going on.

However, we can throw a specific error to notify the user, for example by adding in something like this here https://github.

[2017-10-16 22:26] adamreisnz commented on #493
Agreed, a separate package seems best. But we'd have to see how the two packages would integrate with one another and how this would work.

I don't think the current V3 API supports passing in a key to an S3 bucket object. So would we need to download the file from S3 first and then send it along with the mail request? Or can the Sendgrid API somehow interact with S3 objects?

[2017-10-17 05:33] nitish24p commented on #487
Cool will do. This to be done at all places where there are callbacks? Or only specific files..

[2017-10-17 06:58] adamreisnz commented on #487
I don't think there's too many places, most internal logic uses promises, it's only the external facing API that has callback support for backwards-ish compatibility.

[2017-10-17 07:00] nitish24p commented on #487
Cool.. also do i need to update test cases.. for code coverage?

[2017-10-17 07:01] adamreisnz commented on #487
Yep that'd be good. We're at or near 100% coverage now, so would be nice to keep it up. It'd be a simple test passing an invalid callback and making sure an error is thrown 👍

[2017-10-17 07:02] nitish24p commented on #487
Cool

[2017-10-17 10:46] shinning91 commented on #500
Where do I create the method for it?

[2017-10-17 11:06] nitish24p commented on #487
Umm i was wondering what if the below line
[code]
could be added to
https://github.com/sendgrid/sendgrid-nodejs/blob/master/packages/client/src/client.js#L131
as this is the center point for all callbacks being executed?

[2017-10-17 15:59] thinkingserious opened #504 "Attachment helper for base64 encoding"
We have an example in USE_CASES.md on how to handle attachments.

We need to update the `Attachment` object such that it can also take in a raw file, rather than a base64 encoded file, and perform the base64 encoding behind the scenes.

Note that the total size of your email, including attachments, must be less than 30MB. The total size is calculated from the entire JSON payload. Note that you wil

[2017-10-17 17:17] spelcaster commented on #496
Follow #502

[2017-10-17 17:22] spelcaster commented on #504
Hi @thinkingserious, I'm working in this one right now.

[2017-10-17 18:26] spelcaster commented on #504
See [this gist](https://gist.github.com/spelcaster/df54b0168fd1ac883313259a92cc9e44), based on it, which approach do you think suits better here `sample1` (read the entire file) or `sample2` (read chunks)?

I'm doing this to be synchronous, is it ok?

[2017-10-17 18:31] thinkingserious commented on #504
Hi @spelcaster,

Thanks for the PR, I've added to my backlog for review. My initial thoughts is that it may be useful to provide configurable options to the user with a good default.

That said, @adamreisnz may weigh in before I get a chance to.

With Best Regards,

Elmer

[2017-10-17 18:34] thinkingserious commented on #496
Thanks @spelcaster!

[2017-10-17 18:52] adamreisnz commented on #504
I think that the simpler approach of reading the whole file makes sense here, because it's a helper, and for 98% of the use cases where someone just wants to include a file, it will work. With the email size limit being 30mb anyway, it's unlikely one will try to read files larger than that which would not fit in memory.

For cases where it causes problems, developers could roll their own solution

[2017-10-17 18:58] adamreisnz commented on #487
Seems sensible!

[2017-10-17 19:07] spelcaster commented on #504
I'll stick with the `sample1`.

How the Attachment should know that it needs to load the file from file system? A new prop in object passed to `fromData` or a new branch in the Attachment constructor?

[2017-10-17 20:03] jlopezxs commented on #500
What is the idea behind this?
Create a sub package for each section of the API? #497 #499 #501
Create a helper that uses `@ sengrid-nodejs / client`? or extend the client's methods?

[2017-10-18 00:32] spelcaster commented on #504
Follow #505

[2017-10-18 03:05] techpool commented on #493
I don't think Sendgrid has the functionality to interact directly with S3 object, the objects probably first needs to be downloaded and then sent as attachments.

[2017-10-18 03:50] adamreisnz commented on #493
In that case I'm not sure if we should integrate this functionality with the mail helper. There is already the well maintained [aws-sdk](https://www.npmjs.com/package/aws-sdk) package which does all that for you.

If we want to manage all this for the user, we have to pull in a lot of dependencies and deal with S3 credentials etc. I don't know if it's worth the hassle.

@thinkingserious you raised

[2017-10-18 19:00] thinkingserious opened #507 "SendGrid Event Webhook consumer"
The SendGrid event webhook will send email events to a URL of your choosing. Add functionality that will consume event webhook events posted
to your server by SendGrid. Documentation: https://sendgrid.com/docs/API_Reference/Webhooks/event.html

[2017-10-18 19:31] hicks2evan commented on #475
Hi, I'm currently working on this issue and I have some clarification questions:

For the CRUD on permissions (first bullet), do you mean add permissions ending in '.create', '.delete', '.read' and '.update' to a group (in some cases modifying the existing data), or do you mean design a method that generates an array containing these four permissions for each of the groups in the existing data (on

[2017-10-18 22:56] ghost opened #508 "Substitution not working if the substituted data is huge"
#### Substitution not working if the substituted data is huge

I am trying to send **SendMultipleEmailsToMultipleRecipients** to send multiple emails to multiple recipients in batch. I don't want to personalize the email content through sendGrid's personalization since there is an in-house custom personalization process and I want to use **Substitution** to replace a template string (**{content}**

[2017-10-19 11:13] rkkautsar commented on #462
I'll give it a try ✋

[2017-10-19 17:31] mbernier commented on #508
There is an API limitation of 10,000 bytes for the substitutions object. Is it possible you are going past this limit?

Also, can you please share the error string the API gives back to the library?

[2017-10-19 20:43] mbernier commented on #280
We created issues for Hacktoberfest for Box, DropBox, and S3 - this being solved for any URL within the library would be pretty awesome!

[2017-10-19 20:45] mbernier commented on #281
Our API is setup to disallow CORS for browser requests, and maybe browserify is causing the requests to look like a web browser to the request client?

[2017-10-19 20:46] mbernier commented on #305
@itaditya how's it going? Is there anything we can do to help out?

[2017-10-19 20:48] mbernier commented on #336
The endpoints do have different limitations, but they all report the limitations in the same way. Does that help? :#

[2017-10-19 20:54] mbernier opened #511 "Allows users to submit rfc822 formatted email addresses"
#### Issue Summary

Similar to: https://github.com/sendgrid/sendgrid-python/pull/348

Where the user can submit email addresses as:
`example@example.com`
or
`example example <example@example.com>`

[2017-10-19 20:56] mbernier opened #512 "A list of Hacktoberfest Issues still available"
These are a couple issues that we would love to see someone pick up! Also, anyone who submits a PR that we label "Hacktoberfest" will be sent a message to go get a Hacktoberfest shirt, sticker, and a SendGrid hacker pin! More info http://dx.sendgrid.com/hacktoberfest

- Sending attachments via url. #280  possibly #394
- Implement a webhook on Heroku #332 & #507
- Rate limiting support #336
- Add n

[2017-10-19 21:27] asantos00 commented on #332
Hi!

The main idea is to do a step by step guide, or just a demo implementation on the getting started repo?

[2017-10-20 07:34] itaditya commented on #332
I have made a demo [application](https://merndemo.herokuapp.com/) which uses send grid webhooks, if you like it, I can recreate a demo which focuses mainly on the send grid email webhooks part.

Code is [here](https://github.com/itaditya/MERN-demo)

[2017-10-20 07:37] itaditya commented on #305
@mbernier I'm a little confused. The [package](https://github.com/sendgrid/sendgrid-nodejs/tree/master/packages/inbound-mail-parser) is an npm module right. So why do I have to host it on heroku. Or is there another project which I have to host ??

[2017-10-20 07:46] bharatzvm commented on #501
Hi,

I have created pr based on this issue.
Would you mind reviewing my work and let me know if I need to change anything or all together.
This is my first pr #513  to a public repo, spare me if I did something wrong.

I have tested the following unit test cases
- [x] create a whitelabel Domain by passing only domain and subdomain
- [x] create a whitelabel Domain by passing domain, subdomain and a

[2017-10-20 10:12] TunedMidja commented on #394
I'd like to implement this one!

[2017-10-20 12:52] mbernier commented on #394
Please do @TunedMidja!!

[2017-10-20 12:57] mbernier commented on #332
@itaditya this is awesome! It will accept webhook posts and store them in MongoDb?
Would you be up for putting a SendGrid specific version into our [packages](https://github.com/sendgrid/sendgrid-nodejs/tree/master/packages) directory in this library? We have #507 open and, by making a PR and getting it accepted by us, we will send you a special SendGrid [Hacktoberfest](https://dx.sendgrid.com/hac

[2017-10-20 12:58] mbernier commented on #332
@asantos00 I think the idea would be to implement a webhook consumer, similar to #507

[2017-10-20 14:17] HeroProtagonist commented on #500
@thinkingserious I would like to work on one the issues @jlopezxs has referenced above, but I have the same questions. Please advise :)

[2017-10-20 14:59] mbernier commented on #500
@jlopezxs @HeroProtagonist -

For this issue, it would be a helper method for IPs that grabs all the current IP data and returns a list of the IPs with no subuser assigned.

This can be done as [a helper method here.](https://github.com/sendgrid/sendgrid-nodejs/tree/master/packages/helpers)

This would be the same for #497, #499, and #501

[2017-10-20 15:50] mbernier commented on #493
@adamreisnz @thinkingserious would it make sense instead to provide this an as an example Use Case, that points users to the aws-sdk?

[2017-10-20 17:48] itaditya commented on #332
@mbernier, what is the use of the package directory? I could only make out that you have placed nodejs modules in there. Do I have to add my project in that repo? Sorry a bit confused.. :wink:

[2017-10-20 18:53] adamreisnz commented on #493
@mbernier yeah I personally think it would, there's no point in reinventing the wheel

[2017-10-20 22:03] thinkingserious opened #515 "Update README for SEO-ness"
We received an awesome PR for #hacktoberfest on our [ruby library](https://github.com/sendgrid/sendgrid-ruby/pull/220)
We would love to see the same thing on the README in this repo as well.
Please replace the "-" with "_"  in README, CONTRIBUTING, USE_CASES, USAGE files.

Thanks and happy Hacktoberfest!!

[2017-10-20 22:20] thinkingserious opened #516 "Add/Update Badges on README"
Similar to what was done on [the SendGrid node README](https://github.com/sendgrid/sendgrid-nodejs/pull/486):
- put the logo at the top of the list
- make sure the other badges are available like so:
[code]
For the following, make sure the correct repo is linked!
For email notifications, you can change the "nodejs" to the language of this repo (e.g. java, python, ruby, php, csharp, go, etc)

[code

[2017-10-20 22:21] mbernier commented on #516
Duplicate of #486

[2017-10-20 22:21] #516 closed

[2017-10-20 22:31] mbernier opened #517 "Add/Update Badges on README"
Add [License like so](https://github.com/sendgrid/sendgrid-php/pull/476)

Thank you and happy #Hacktoberfest!!

[2017-10-20 22:38] eric-horvat commented on #517
I'd like to take this on

[2017-10-21 15:47] HeroProtagonist commented on #500
@mbernier would we want to use `@sendgrid/client` to make these requests? If thats the case would it be ok to have that as a dependency for `@sendgrid/helpers`. I'm just a little confused because the readme said that helpers was for internal use, but these new methods are for developer usage

[2017-10-21 21:11] #515 closed

[2017-10-21 22:35] brandon93s commented on #511
It looks like this may be handled already by [split-name-email](https://github.com/sendgrid/sendgrid-nodejs/blob/master/packages/helpers/helpers/split-name-email.js) which is consumed by [EmailAddress:fromData](https://github.com/sendgrid/sendgrid-nodejs/blob/master/packages/helpers/classes/email-address.js#L27-L46).

Is there somewhere else this is not handled correctly?

[2017-10-22 01:57] devanp92 commented on #499
I can take this

[2017-10-22 05:35] #517 closed

[2017-10-22 05:44] mbernier commented on #332
@itaditya we are just adding separate items like this in their own directory in the packages dir, this way we can send them to NPM as different packages. So long as you add your code into that dir, we should be able to get everything wired up with NPM.

[2017-10-22 17:01] thinkingserious commented on #480
Hi @guidiego,

I think it would be sufficient to describe each case in the USE_CASES.md file.

[2017-10-22 18:22] #512 closed

[2017-10-23 07:53] mukulmishra18 commented on #495
I want to work on it. Can you please give me some points/links to start?

[2017-10-23 09:22] andris9 commented on #437
Nodemailer author here. Just FYI I created SendGrid transport module for Nodemailer that is fully compatible (or as much compatible as possible) with Nodemailer API and uses the "@sendgrid/mail" module under the hood to do the actual delivery. You can find the module here: https://github.com/nodemailer/nodemailer-sendgrid

The main reason I created this module was to demonstrate how to use the int

[2017-10-23 12:23] mp-ffx opened #527 "Custom headers shouldn't be snake/camel cased"
#### Custom headers shouldn't be snake/camel cased

Currently, all mail data except 'substitutions' and 'customArgs' get's camelCased and snake_cased in the toJSON function. When using custom headers, f.e. the 'List-Unsubscribe' this results in a 'list_unsubscribe' header being sent, which makes it kind of unusable.

#### Steps to Reproduce

[code]

#### Technical details:

* sendgrid-nodejs Versi

[2017-10-23 20:56] thinkingserious commented on #476
Thanks @ShaharHD,

For now, could you please add the workaround to our TROUBLESHOOTING section for [hacktoberfest](https://sendgrid.com/blog/announcing-hacktoberfest-2017)?

@adamreisnz, thoughts on @duncanleung's solution?

[2017-10-23 21:35] adamreisnz commented on #476
@thinkingserious ES6 export/import syntax isn't supported yet in Node 8 last I checked, so we can't switch from `requires` to imports etc.

[2017-10-23 22:28] duncanleung commented on #476
@adamreisnz Oh, right =p Thanks for the feedback and links on ES6 export/import syntax in Node.

[2017-10-24 00:28] mbernier opened #531 "IP Warmup functionality integrated into mail helper"
This issue has the potential to save other developers quite a bit of time and frustration when buying IP addresses because it will help them warm up the IPs appropriately. Warming up is a process of slowly ramping up sending on an IP address to allow Email Recipient servers (e.g. gmail, hotmail, etc) to see that this IP is legit.

## Goal
- Add the ability to automate warm up IPs that allows a cus

[2017-10-24 01:36] gnuns commented on #507
Hi, @thinkingserious! I can pick this one.
Just to clarify: I have to create a new package that will consume webhook posts, right?
This new package will be an "pluggable" module or an app to receive the POSTs and store on database?

[2017-10-24 04:30] thinkingserious commented on #508
Hello @Sanichita,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2017-10-24 04:31] mbernier commented on #508
Oops, didn't mean to close this!

[2017-10-24 04:33] mbernier opened #532 "ES6-ify contact importer"
#### Issue Summary

Refactor the contact importer to make more use of ES6 standards

[2017-10-24 04:34] mbernier opened #533 "ES6-ify Inbound mail parser"
#### Issue Summary

Refactor inbound mail parser to make more use of ES6 standards

[2017-10-24 04:36] #492 closed

[2017-10-24 04:36] mbernier commented on #511
Nope, I just missed it. Thank you! @brandon93s

[2017-10-24 04:36] #511 closed

[2017-10-24 04:43] #527 closed

[2017-10-24 07:13] zzmarkzz321 commented on #483
I'll look into this :)

[2017-10-24 08:11] mukulmishra18 commented on #533
I want to work on it. Thanks

[2017-10-24 10:26] itaditya opened #537 "Improve inline documentation"
#### Issue Summary

The inline documentation is not completely following https://esdoc.org/manual/tags.html#object.
Becuase according to the rules, if a parameter is an object then all it's keys have to be documented as well.

Eg -
[code]
Here config is an object which is passed to Parse constructor function but it's keys are not documented